<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>res/ResourceMenuTab/Shopping/bank/back.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,470},{24,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,33}</string>
			</dict>
			<key>res/ResourceMenuTab/Shopping/bank/bank_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{65,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{65,65}</string>
			</dict>
			<key>res/ResourceMenuTab/Shopping/bank/bank_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,68},{65,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{65,65}</string>
			</dict>
			<key>res/ResourceMenuTab/Shopping/bank/bank_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,135},{65,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{65,65}</string>
			</dict>
			<key>res/ResourceMenuTab/Shopping/bank/bank_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,202},{65,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{65,65}</string>
			</dict>
			<key>res/ResourceMenuTab/Shopping/bank/bank_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,269},{65,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{65,65}</string>
			</dict>
			<key>res/ResourceMenuTab/Shopping/bank/bank_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,336},{65,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{65,65}</string>
			</dict>
			<key>res/ResourceMenuTab/Shopping/bank/bank_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,403},{65,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{65,65}</string>
			</dict>
			<key>res/ResourceMenuTab/Shopping/bank/bank_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{68,1},{65,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{65,65}</string>
			</dict>
			<key>res/ResourceMenuTab/Shopping/bank/bank_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{135,1},{65,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{65,65}</string>
			</dict>
			<key>res/ResourceMenuTab/Shopping/bank/bank_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{202,1},{65,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{65,65}</string>
			</dict>
			<key>res/ResourceMenuTab/Shopping/bank/bank_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{269,1},{65,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{65,65}</string>
			</dict>
			<key>res/ResourceMenuTab/Shopping/bank/bank_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{336,1},{65,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{65,65}</string>
			</dict>
			<key>res/ResourceMenuTab/Shopping/bank/bank_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{403,1},{65,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{65,65}</string>
			</dict>
			<key>res/ResourceMenuTab/Shopping/bank/bank_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{68,68},{65,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{65,65}</string>
			</dict>
			<key>res/ResourceMenuTab/Shopping/bank/bank_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{68,135},{65,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{65,65}</string>
			</dict>
			<key>res/ResourceMenuTab/Shopping/bank/bank_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{68,202},{65,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{65,65}</string>
			</dict>
			<key>res/ResourceMenuTab/Shopping/bank/bank_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{68,269},{65,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{65,65}</string>
			</dict>
			<key>res/ResourceMenuTab/Shopping/bank/bank_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{68,336},{65,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{65,65}</string>
			</dict>
			<key>res/ResourceMenuTab/Shopping/bank/bank_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{68,403},{65,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{65,65}</string>
			</dict>
			<key>res/ResourceMenuTab/Shopping/bank/bank_26.png</key>
			<dict>
				<key>frame</key>
				<string>{{135,68},{65,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{65,65}</string>
			</dict>
			<key>res/ResourceMenuTab/Shopping/bank/bank_27.png</key>
			<dict>
				<key>frame</key>
				<string>{{202,68},{65,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{65,65}</string>
			</dict>
			<key>res/ResourceMenuTab/Shopping/bank/bank_28.png</key>
			<dict>
				<key>frame</key>
				<string>{{269,68},{65,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{65,65}</string>
			</dict>
			<key>res/ResourceMenuTab/Shopping/bank/bank_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{336,68},{65,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{65,65}</string>
			</dict>
			<key>res/ResourceMenuTab/Shopping/bank/bank_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{403,68},{65,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{65,65}</string>
			</dict>
			<key>res/ResourceMenuTab/Shopping/bank/bank_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{135,135},{65,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{65,65}</string>
			</dict>
			<key>res/ResourceMenuTab/Shopping/bank/bank_50.png</key>
			<dict>
				<key>frame</key>
				<string>{{135,202},{65,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{65,65}</string>
			</dict>
			<key>res/ResourceMenuTab/Shopping/bank/bank_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{135,269},{65,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{65,65}</string>
			</dict>
			<key>res/ResourceMenuTab/Shopping/bank/bank_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{135,336},{65,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{65,65}</string>
			</dict>
			<key>res/ResourceMenuTab/Shopping/bank/bank_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{135,403},{65,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{65,65}</string>
			</dict>
			<key>res/ResourceMenuTab/Shopping/bank/bank_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{202,135},{65,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{65,65}</string>
			</dict>
			<key>res/ResourceMenuTab/Shopping/bank/next.png</key>
			<dict>
				<key>frame</key>
				<string>{{27,470},{24,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,33}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>PlistBank.png</string>
			<key>realTextureFileName</key>
			<string>PlistBank.png</string>
			<key>size</key>
			<string>{469,504}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>469</integer>
			<key>height</key>
			<integer>504</integer>
		</dict>
	</dict>
</plist>