<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>res/ResourceMenuTab/Profile/bg_hoso.png</key>
			<dict>
				<key>frame</key>
				<string>{{334,720},{279,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{279,62}</string>
			</dict>
			<key>res/ResourceMenuTab/Profile/bg_lv.png</key>
			<dict>
				<key>frame</key>
				<string>{{983,336},{302,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{302,35}</string>
			</dict>
			<key>res/ResourceMenuTab/Profile/bg_ma_gioi_thieu.png</key>
			<dict>
				<key>frame</key>
				<string>{{703,2},{667,276}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{667,276}</string>
			</dict>
			<key>res/ResourceMenuTab/Profile/bg_money.png</key>
			<dict>
				<key>frame</key>
				<string>{{983,642},{281,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{281,32}</string>
			</dict>
			<key>res/ResourceMenuTab/Profile/bg_setting.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,494},{206,158}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{206,158}</string>
			</dict>
			<key>res/ResourceMenuTab/Profile/bg_time_event.png</key>
			<dict>
				<key>frame</key>
				<string>{{932,977},{49,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,22}</string>
			</dict>
			<key>res/ResourceMenuTab/Profile/btn_back_lobby.png</key>
			<dict>
				<key>frame</key>
				<string>{{859,826},{65,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{65,65}</string>
			</dict>
			<key>res/ResourceMenuTab/Profile/btn_camera.png</key>
			<dict>
				<key>frame</key>
				<string>{{893,977},{44,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{44,35}</string>
			</dict>
			<key>res/ResourceMenuTab/Profile/btn_clan.png</key>
			<dict>
				<key>frame</key>
				<string>{{760,927},{238,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{238,46}</string>
			</dict>
			<key>res/ResourceMenuTab/Profile/btn_dragon.png</key>
			<dict>
				<key>frame</key>
				<string>{{687,673},{80,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,79}</string>
			</dict>
			<key>res/ResourceMenuTab/Profile/btn_dragon_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{770,673},{80,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,79}</string>
			</dict>
			<key>res/ResourceMenuTab/Profile/btn_gioithieu.png</key>
			<dict>
				<key>frame</key>
				<string>{{372,494},{238,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{238,46}</string>
			</dict>
			<key>res/ResourceMenuTab/Profile/btn_t.png</key>
			<dict>
				<key>frame</key>
				<string>{{372,544},{238,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{238,46}</string>
			</dict>
			<key>res/ResourceMenuTab/Profile/btn_thanhtich.png</key>
			<dict>
				<key>frame</key>
				<string>{{372,594},{238,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{238,46}</string>
			</dict>
			<key>res/ResourceMenuTab/Profile/btn_thanhtich_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{617,781},{238,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{238,46}</string>
			</dict>
			<key>res/ResourceMenuTab/Profile/btn_vongquay.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,927},{375,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{375,77}</string>
			</dict>
			<key>res/ResourceMenuTab/Profile/btn_vongquay_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{381,927},{375,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{375,77}</string>
			</dict>
			<key>res/ResourceMenuTab/Profile/btnMail.png</key>
			<dict>
				<key>frame</key>
				<string>{{334,786},{65,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{65,65}</string>
			</dict>
			<key>res/ResourceMenuTab/Profile/btnMenu.png</key>
			<dict>
				<key>frame</key>
				<string>{{403,786},{65,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{65,65}</string>
			</dict>
			<key>res/ResourceMenuTab/Profile/btnNapVin.png</key>
			<dict>
				<key>frame</key>
				<string>{{760,977},{41,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{41,42}</string>
			</dict>
			<key>res/ResourceMenuTab/Profile/btnSercurity.png</key>
			<dict>
				<key>frame</key>
				<string>{{472,786},{65,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{65,65}</string>
			</dict>
			<key>res/ResourceMenuTab/Profile/btnShop.png</key>
			<dict>
				<key>frame</key>
				<string>{{859,757},{66,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,65}</string>
			</dict>
			<key>res/ResourceMenuTab/Profile/circleB.png</key>
			<dict>
				<key>frame</key>
				<string>{{944,673},{27,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{27,27}</string>
			</dict>
			<key>res/ResourceMenuTab/Profile/cirle_avatar.png</key>
			<dict>
				<key>frame</key>
				<string>{{212,494},{156,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,156}</string>
			</dict>
			<key>res/ResourceMenuTab/Profile/edit_profile.png</key>
			<dict>
				<key>frame</key>
				<string>{{805,977},{40,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,42}</string>
			</dict>
			<key>res/ResourceMenuTab/Profile/edit_profile_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{849,977},{40,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,42}</string>
			</dict>
			<key>res/ResourceMenuTab/Profile/info_profile.png</key>
			<dict>
				<key>frame</key>
				<string>{{985,977},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>res/ResourceMenuTab/Profile/money_Vin.png</key>
			<dict>
				<key>frame</key>
				<string>{{334,654},{283,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{283,62}</string>
			</dict>
			<key>res/ResourceMenuTab/Profile/money_Xu.png</key>
			<dict>
				<key>frame</key>
				<string>{{621,494},{283,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{283,62}</string>
			</dict>
			<key>res/ResourceMenuTab/Profile/nen_hoso.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,673},{328,221}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{328,221}</string>
			</dict>
			<key>res/ResourceMenuTab/Profile/process_full.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,898},{282,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{282,15}</string>
			</dict>
			<key>res/ResourceMenuTab/Profile/processExp.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1008},{134,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,10}</string>
			</dict>
			<key>res/ResourceMenuTab/Profile/quangsang.png</key>
			<dict>
				<key>frame</key>
				<string>{{859,673},{81,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{81,80}</string>
			</dict>
			<key>res/ResourceMenuTab/Profile/tb_hoso.png</key>
			<dict>
				<key>frame</key>
				<string>{{983,2},{330,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{330,38}</string>
			</dict>
			<key>res/ResourceMenuTab/Profile/thanhExp.png</key>
			<dict>
				<key>frame</key>
				<string>{{140,1008},{134,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,10}</string>
			</dict>
			<key>res/ResourceMenuTab/Profile/bg_profile.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{697,488}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{697,488}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>PlistProfile.png</string>
			<key>realTextureFileName</key>
			<string>PlistProfile.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>