<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>res/CardGame/ResXocDia/bg_buy.png</key>
			<dict>
				<key>frame</key>
				<string>{{720,1},{163,443}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{163,443}</string>
			</dict>
			<key>res/CardGame/ResXocDia/bg_user.png</key>
			<dict>
				<key>frame</key>
				<string>{{657,136},{122,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{122,43}</string>
			</dict>
			<key>res/CardGame/ResXocDia/bt-03.png</key>
			<dict>
				<key>frame</key>
				<string>{{920,818},{170,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{170,70}</string>
			</dict>
			<key>res/CardGame/ResXocDia/bt-03_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{767,648},{170,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{170,70}</string>
			</dict>
			<key>res/CardGame/ResXocDia/bt-04.png</key>
			<dict>
				<key>frame</key>
				<string>{{767,720},{170,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{170,70}</string>
			</dict>
			<key>res/CardGame/ResXocDia/bt-04_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{330,136},{170,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{170,70}</string>
			</dict>
			<key>res/CardGame/ResXocDia/chotlai.png</key>
			<dict>
				<key>frame</key>
				<string>{{330,445},{75,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,76}</string>
			</dict>
			<key>res/CardGame/ResXocDia/close_scroll.png</key>
			<dict>
				<key>frame</key>
				<string>{{657,260},{60,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{60,61}</string>
			</dict>
			<key>res/CardGame/ResXocDia/iconChuong.png</key>
			<dict>
				<key>frame</key>
				<string>{{790,505},{55,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,55}</string>
			</dict>
			<key>res/CardGame/ResXocDia/kick.png</key>
			<dict>
				<key>frame</key>
				<string>{{566,893},{35,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{35,35}</string>
			</dict>
			<key>res/CardGame/ResXocDia/lockgate.png</key>
			<dict>
				<key>frame</key>
				<string>{{767,562},{44,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,44}</string>
			</dict>
			<key>res/CardGame/ResXocDia/pn_tool.png</key>
			<dict>
				<key>frame</key>
				<string>{{419,797},{167,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{167,94}</string>
			</dict>
			<key>res/CardGame/ResXocDia/pxeng.png</key>
			<dict>
				<key>frame</key>
				<string>{{987,990},{30,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{30,29}</string>
			</dict>
			<key>res/CardGame/ResXocDia/pxu.png</key>
			<dict>
				<key>frame</key>
				<string>{{992,934},{30,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,29}</string>
			</dict>
			<key>res/CardGame/ResXocDia/sang-28.png</key>
			<dict>
				<key>frame</key>
				<string>{{402,136},{253,253}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{253,253}</string>
			</dict>
			<key>res/CardGame/ResXocDia/soicau_100.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{717,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{717,133}</string>
			</dict>
			<key>res/CardGame/ResXocDia/subbanker.png</key>
			<dict>
				<key>frame</key>
				<string>{{657,382},{46,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,46}</string>
			</dict>
			<key>res/CardGame/ResXocDia/tamgiac.png</key>
			<dict>
				<key>frame</key>
				<string>{{920,990},{32,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{32,65}</string>
			</dict>
			<key>res/CardGame/ResXocDia/TNT.png</key>
			<dict>
				<key>frame</key>
				<string>{{330,522},{75,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,76}</string>
			</dict>
			<key>res/CardGame/ResXocDia/user.png</key>
			<dict>
				<key>frame</key>
				<string>{{719,516},{46,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,46}</string>
			</dict>
			<key>res/CardGame/ResXocDia/vi1.png</key>
			<dict>
				<key>frame</key>
				<string>{{992,965},{20,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>
			<key>res/CardGame/ResXocDia/vi1_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{609,1000},{20,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>
			<key>res/CardGame/ResXocDia/vi2.png</key>
			<dict>
				<key>frame</key>
				<string>{{631,1000},{20,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>
			<key>res/CardGame/ResXocDia/vi2_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{653,1000},{20,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>
			<key>res/CardGame/ResXocDia/xocdia03.png</key>
			<dict>
				<key>frame</key>
				<string>{{330,676},{68,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{68,69}</string>
			</dict>
			<key>res/CardGame/ResXocDia/xocdia03_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{719,446},{68,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{68,69}</string>
			</dict>
			<key>res/CardGame/ResXocDia/xocdia08.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,136},{230,221}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,221}</string>
			</dict>
			<key>res/CardGame/ResXocDia/xocdia-08.png</key>
			<dict>
				<key>frame</key>
				<string>{{958,1},{399,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{399,36}</string>
			</dict>
			<key>res/CardGame/ResXocDia/xocdia09.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,359},{230,221}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{230,221}</string>
			</dict>
			<key>res/CardGame/ResXocDia/xocdia-09.png</key>
			<dict>
				<key>frame</key>
				<string>{{885,1},{645,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{645,71}</string>
			</dict>
			<key>res/CardGame/ResXocDia/xocdia-10.png</key>
			<dict>
				<key>frame</key>
				<string>{{419,893},{145,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{145,37}</string>
			</dict>
			<key>res/CardGame/ResXocDia/xocdia-10_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{396,391},{145,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{145,37}</string>
			</dict>
			<key>res/CardGame/ResXocDia/xocdia11.png</key>
			<dict>
				<key>frame</key>
				<string>{{330,308},{135,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{135,64}</string>
			</dict>
			<key>res/CardGame/ResXocDia/xocdia13.png</key>
			<dict>
				<key>frame</key>
				<string>{{790,446},{57,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,57}</string>
			</dict>
			<key>res/CardGame/ResXocDia/xocdia14.png</key>
			<dict>
				<key>frame</key>
				<string>{{419,648},{172,147}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{172,147}</string>
			</dict>
			<key>res/CardGame/ResXocDia/xocdia-14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,934},{606,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{606,71}</string>
			</dict>
			<key>res/CardGame/ResXocDia/xocdia14_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,783},{207,147}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{207,147}</string>
			</dict>
			<key>res/CardGame/ResXocDia/xocdia-15.png</key>
			<dict>
				<key>frame</key>
				<string>{{593,648},{172,147}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{172,147}</string>
			</dict>
			<key>res/CardGame/ResXocDia/xocdia-15s.png</key>
			<dict>
				<key>frame</key>
				<string>{{210,783},{207,147}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{207,147}</string>
			</dict>
			<key>res/CardGame/ResXocDia/xocdia-16.png</key>
			<dict>
				<key>frame</key>
				<string>{{609,818},{309,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{309,180}</string>
			</dict>
			<key>res/CardGame/ResXocDia/xocdia17.png</key>
			<dict>
				<key>frame</key>
				<string>{{408,430},{309,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{309,180}</string>
			</dict>
			<key>res/CardGame/ResXocDia/xocdia18.png</key>
			<dict>
				<key>frame</key>
				<string>{{992,402},{8,2}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{8,2}</string>
			</dict>
			<key>res/CardGame/ResXocDia/xocdia19.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,648},{327,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{327,133}</string>
			</dict>
			<key>res/CardGame/ResXocDia/xocdia-20.png</key>
			<dict>
				<key>frame</key>
				<string>{{992,817},{115,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{115,31}</string>
			</dict>
			<key>res/CardGame/ResXocDia/xocdia-22.png</key>
			<dict>
				<key>frame</key>
				<string>{{330,599},{75,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,76}</string>
			</dict>
			<key>res/CardGame/ResXocDia/xocdia-24.png</key>
			<dict>
				<key>frame</key>
				<string>{{657,322},{58,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,58}</string>
			</dict>
			<key>res/CardGame/ResXocDia/xocdia-25.png</key>
			<dict>
				<key>frame</key>
				<string>{{996,1},{406,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{406,24}</string>
			</dict>
			<key>res/CardGame/ResXocDia/xocdia-25_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{996,409},{406,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{406,24}</string>
			</dict>
			<key>res/CardGame/ResXocDia/xocdia-26.png</key>
			<dict>
				<key>frame</key>
				<string>{{958,402},{414,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{414,32}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Plist.png</string>
			<key>realTextureFileName</key>
			<string>Plist.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>