<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>res/CardGame/PokerTour/danhSachGiaiDau/bangpokertour-30.png</key>
			<dict>
				<key>frame</key>
				<string>{{356,320},{156,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,36}</string>
			</dict>
			<key>res/CardGame/PokerTour/danhSachGiaiDau/bangpokertour-31.png</key>
			<dict>
				<key>frame</key>
				<string>{{423,1},{156,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{156,36}</string>
			</dict>
			<key>res/CardGame/PokerTour/danhSachGiaiDau/bangpokertour-32.png</key>
			<dict>
				<key>frame</key>
				<string>{{461,1},{115,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{115,36}</string>
			</dict>
			<key>res/CardGame/PokerTour/bac.png</key>
			<dict>
				<key>frame</key>
				<string>{{943,990},{25,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{25,25}</string>
			</dict>
			<key>res/CardGame/PokerTour/back.png</key>
			<dict>
				<key>frame</key>
				<string>{{444,188},{76,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{76,75}</string>
			</dict>
			<key>res/CardGame/PokerTour/backall.png</key>
			<dict>
				<key>frame</key>
				<string>{{1003,24},{21,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{21,17}</string>
			</dict>
			<key>res/CardGame/PokerTour/backpage.png</key>
			<dict>
				<key>frame</key>
				<string>{{1003,174},{12,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{12,17}</string>
			</dict>
			<key>res/CardGame/PokerTour/bang_xep_hang.png</key>
			<dict>
				<key>frame</key>
				<string>{{521,188},{76,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{76,75}</string>
			</dict>
			<key>res/CardGame/PokerTour/bt_do.png</key>
			<dict>
				<key>frame</key>
				<string>{{172,742},{169,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{169,85}</string>
			</dict>
			<key>res/CardGame/PokerTour/bt_xanh.png</key>
			<dict>
				<key>frame</key>
				<string>{{343,742},{169,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{169,85}</string>
			</dict>
			<key>res/CardGame/PokerTour/btn_chititet.png</key>
			<dict>
				<key>frame</key>
				<string>{{581,944},{132,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{132,50}</string>
			</dict>
			<key>res/CardGame/PokerTour/btn_close_bannerTour.png</key>
			<dict>
				<key>frame</key>
				<string>{{356,188},{86,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,87}</string>
			</dict>
			<key>res/CardGame/PokerTour/btndangkytour.png</key>
			<dict>
				<key>frame</key>
				<string>{{751,906},{190,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,95}</string>
			</dict>
			<key>res/CardGame/PokerTour/btnpage.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{499,1},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>res/CardGame/PokerTour/btnTicketFree.png</key>
			<dict>
				<key>frame</key>
				<string>{{269,188},{85,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{85,95}</string>
			</dict>
			<key>res/CardGame/PokerTour/btnTicketFree_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{269,285},{85,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{85,95}</string>
			</dict>
			<key>res/CardGame/PokerTour/cardMove.png</key>
			<dict>
				<key>frame</key>
				<string>{{172,431},{195,309}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{195,309}</string>
			</dict>
			<key>res/CardGame/PokerTour/chat_bich.png</key>
			<dict>
				<key>frame</key>
				<string>{{1003,86},{16,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{16,16}</string>
			</dict>
			<key>res/CardGame/PokerTour/chat_co.png</key>
			<dict>
				<key>frame</key>
				<string>{{1003,104},{16,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{16,16}</string>
			</dict>
			<key>res/CardGame/PokerTour/chat_ro.png</key>
			<dict>
				<key>frame</key>
				<string>{{1003,122},{16,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{16,16}</string>
			</dict>
			<key>res/CardGame/PokerTour/chat_tep.png</key>
			<dict>
				<key>frame</key>
				<string>{{1003,140},{16,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{16,16}</string>
			</dict>
			<key>res/CardGame/PokerTour/dangdienradis.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,944},{143,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{143,62}</string>
			</dict>
			<key>res/CardGame/PokerTour/dangdienraon.png</key>
			<dict>
				<key>frame</key>
				<string>{{146,944},{143,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{143,62}</string>
			</dict>
			<key>res/CardGame/PokerTour/dong.png</key>
			<dict>
				<key>frame</key>
				<string>{{970,990},{25,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{25,25}</string>
			</dict>
			<key>res/CardGame/PokerTour/guild.png</key>
			<dict>
				<key>frame</key>
				<string>{{269,1},{76,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{76,75}</string>
			</dict>
			<key>res/CardGame/PokerTour/iconGold_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1003,1},{19,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{19,21}</string>
			</dict>
			<key>res/CardGame/PokerTour/iconGold_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1003,67},{19,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{19,17}</string>
			</dict>
			<key>res/CardGame/PokerTour/iconGold_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1003,47},{19,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{19,18}</string>
			</dict>
			<key>res/CardGame/PokerTour/infomation.png</key>
			<dict>
				<key>frame</key>
				<string>{{943,906},{80,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,82}</string>
			</dict>
			<key>res/CardGame/PokerTour/menu.png</key>
			<dict>
				<key>frame</key>
				<string>{{269,79},{76,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{76,75}</string>
			</dict>
			<key>res/CardGame/PokerTour/sapdienradis.png</key>
			<dict>
				<key>frame</key>
				<string>{{291,944},{143,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{143,62}</string>
			</dict>
			<key>res/CardGame/PokerTour/sapdienraon.png</key>
			<dict>
				<key>frame</key>
				<string>{{436,944},{143,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{143,62}</string>
			</dict>
			<key>res/CardGame/PokerTour/thanh-tich.png</key>
			<dict>
				<key>frame</key>
				<string>{{346,1},{76,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{76,75}</string>
			</dict>
			<key>res/CardGame/PokerTour/titleJackpot.png</key>
			<dict>
				<key>frame</key>
				<string>{{172,829},{205,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{205,35}</string>
			</dict>
			<key>res/CardGame/PokerTour/top.png</key>
			<dict>
				<key>frame</key>
				<string>{{346,79},{76,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{76,75}</string>
			</dict>
			<key>res/CardGame/PokerTour/vang.png</key>
			<dict>
				<key>frame</key>
				<string>{{997,990},{25,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{25,25}</string>
			</dict>
			<key>res/CardGame/PokerTour/jackpot.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,431},{434,169}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{434,169}</string>
			</dict>
			<key>res/CardGame/PokerTour/viptour.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{266,428}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{266,428}</string>
			</dict>
			<key>res/CardGame/PokerTour/danhSachGiaiDau/bangpokertour-27.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,867},{1000,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1000,37}</string>
			</dict>
			<key>res/CardGame/PokerTour/bangxephangpoint/arrow.png</key>
			<dict>
				<key>frame</key>
				<string>{{1003,158},{15,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{15,14}</string>
			</dict>
			<key>res/CardGame/PokerTour/bangxephangpoint/bangpokertour-09.png</key>
			<dict>
				<key>frame</key>
				<string>{{461,118},{62,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,62}</string>
			</dict>
			<key>res/CardGame/PokerTour/bangxephangpoint/bangpokertour-10.png</key>
			<dict>
				<key>frame</key>
				<string>{{269,382},{170,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{170,41}</string>
			</dict>
			<key>res/CardGame/PokerTour/bangxephangpoint/bangpokertour-11.png</key>
			<dict>
				<key>frame</key>
				<string>{{356,277},{170,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{170,41}</string>
			</dict>
			<key>res/CardGame/PokerTour/bangxephangpoint/bangpokertour-13.png</key>
			<dict>
				<key>frame</key>
				<string>{{499,43},{36,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,36}</string>
			</dict>
			<key>res/CardGame/PokerTour/bangxephangpoint/bangpokertour-14.png</key>
			<dict>
				<key>frame</key>
				<string>{{499,81},{35,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{35,36}</string>
			</dict>
			<key>res/CardGame/PokerTour/bangxephangpoint/bangpokertour-18.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,906},{748,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{748,36}</string>
			</dict>
			<key>res/CardGame/PokerTour/bangxephangpoint/bangxephangcell.png</key>
			<dict>
				<key>frame</key>
				<string>{{379,829},{195,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{195,30}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>PlistPokerTour.png</string>
			<key>realTextureFileName</key>
			<string>PlistPokerTour.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>