<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>res/CardGame/MauBinh/arranging_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{374,914},{196,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{196,48}</string>
			</dict>
			<key>res/CardGame/MauBinh/bat_sap_lang.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{714,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{714,195}</string>
			</dict>
			<key>res/CardGame/MauBinh/bi_sap_lang.png</key>
			<dict>
				<key>frame</key>
				<string>{{914,1},{714,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{714,70}</string>
			</dict>
			<key>res/CardGame/MauBinh/btn_arrange_again.png</key>
			<dict>
				<key>frame</key>
				<string>{{691,717},{176,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{176,57}</string>
			</dict>
			<key>res/CardGame/MauBinh/btn_arrange_bao_binh.png</key>
			<dict>
				<key>frame</key>
				<string>{{770,891},{176,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{176,57}</string>
			</dict>
			<key>res/CardGame/MauBinh/btn_arrange_so_chi.png</key>
			<dict>
				<key>frame</key>
				<string>{{619,964},{177,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{177,57}</string>
			</dict>
			<key>res/CardGame/MauBinh/kind_of_chi_slot.png</key>
			<dict>
				<key>frame</key>
				<string>{{374,760},{157,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{157,103}</string>
			</dict>
			<key>res/CardGame/MauBinh/maubinh_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{374,198},{560,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{560,122}</string>
			</dict>
			<key>res/CardGame/MauBinh/maubinh_chi_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,970},{307,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{307,48}</string>
			</dict>
			<key>res/CardGame/MauBinh/maubinh_type_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{572,914},{196,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{196,48}</string>
			</dict>
			<key>res/CardGame/MauBinh/mb_bg_name.png</key>
			<dict>
				<key>frame</key>
				<string>{{770,717},{172,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{172,166}</string>
			</dict>
			<key>res/CardGame/MauBinh/player_slot_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,717},{371,251}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{371,251}</string>
			</dict>
			<key>res/CardGame/MauBinh/rs_culu.png</key>
			<dict>
				<key>frame</key>
				<string>{{948,825},{196,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{196,48}</string>
			</dict>
			<key>res/CardGame/MauBinh/rs_doi.png</key>
			<dict>
				<key>frame</key>
				<string>{{498,457},{196,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{196,48}</string>
			</dict>
			<key>res/CardGame/MauBinh/rs_mauthau.png</key>
			<dict>
				<key>frame</key>
				<string>{{533,655},{196,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{196,48}</string>
			</dict>
			<key>res/CardGame/MauBinh/rs_sam.png</key>
			<dict>
				<key>frame</key>
				<string>{{548,457},{196,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{196,48}</string>
			</dict>
			<key>res/CardGame/MauBinh/rs_sanh.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,198},{196,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{196,48}</string>
			</dict>
			<key>res/CardGame/MauBinh/rs_thu.png</key>
			<dict>
				<key>frame</key>
				<string>{{199,198},{196,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{196,48}</string>
			</dict>
			<key>res/CardGame/MauBinh/rs_thung.png</key>
			<dict>
				<key>frame</key>
				<string>{{249,198},{196,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{196,48}</string>
			</dict>
			<key>res/CardGame/MauBinh/rs_thungphasanh.png</key>
			<dict>
				<key>frame</key>
				<string>{{310,970},{307,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{307,48}</string>
			</dict>
			<key>res/CardGame/MauBinh/rs_tuqui.png</key>
			<dict>
				<key>frame</key>
				<string>{{299,198},{196,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{196,48}</string>
			</dict>
			<key>res/CardGame/MauBinh/sap_3_chi.png</key>
			<dict>
				<key>frame</key>
				<string>{{619,198},{714,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{714,70}</string>
			</dict>
			<key>res/CardGame/MauBinh/selectCard.png</key>
			<dict>
				<key>frame</key>
				<string>{{938,717},{82,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,106}</string>
			</dict>
			<key>res/CardGame/MauBinh/So_At.png</key>
			<dict>
				<key>frame</key>
				<string>{{717,1},{714,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{714,195}</string>
			</dict>
			<key>res/CardGame/MauBinh/soloMauBinhTinhAt.png</key>
			<dict>
				<key>frame</key>
				<string>{{498,198},{257,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{257,119}</string>
			</dict>
			<key>res/CardGame/MauBinh/sp_violet.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,248},{196,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{196,48}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>PlistMauBinh.png</string>
			<key>realTextureFileName</key>
			<string>PlistMauBinh.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>