<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>common_btn_cancel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,73}</string>
                <key>spriteSourceSize</key>
                <string>{198,73}</string>
                <key>textureRect</key>
                <string>{{424,573},{198,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>common_btn_ok.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,74}</string>
                <key>spriteSourceSize</key>
                <string>{202,74}</string>
                <key>textureRect</key>
                <string>{{345,573},{202,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>common_main_100k.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,114}</string>
                <key>spriteSourceSize</key>
                <string>{110,114}</string>
                <key>textureRect</key>
                <string>{{489,776},{110,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common_main_10k.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,114}</string>
                <key>spriteSourceSize</key>
                <string>{110,114}</string>
                <key>textureRect</key>
                <string>{{604,759},{110,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common_main_1k.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,114}</string>
                <key>spriteSourceSize</key>
                <string>{110,114}</string>
                <key>textureRect</key>
                <string>{{719,759},{110,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common_main_bg_chat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{351,437}</string>
                <key>spriteSourceSize</key>
                <string>{351,437}</string>
                <key>textureRect</key>
                <string>{{504,233},{351,437}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common_main_bg_hu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{398,75}</string>
                <key>spriteSourceSize</key>
                <string>{398,75}</string>
                <key>textureRect</key>
                <string>{{504,73},{398,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common_main_bg_hu_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{398,75}</string>
                <key>spriteSourceSize</key>
                <string>{398,75}</string>
                <key>textureRect</key>
                <string>{{504,153},{398,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common_main_bg_line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{886,63}</string>
                <key>spriteSourceSize</key>
                <string>{904,63}</string>
                <key>textureRect</key>
                <string>{{5,5},{886,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common_main_btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,50}</string>
                <key>spriteSourceSize</key>
                <string>{188,50}</string>
                <key>textureRect</key>
                <string>{{54,861},{188,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common_main_btn_cup.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,54}</string>
                <key>spriteSourceSize</key>
                <string>{53,54}</string>
                <key>textureRect</key>
                <string>{{373,780},{53,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common_main_btn_help.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,54}</string>
                <key>spriteSourceSize</key>
                <string>{53,54}</string>
                <key>textureRect</key>
                <string>{{431,776},{53,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common_main_btn_info.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,54}</string>
                <key>spriteSourceSize</key>
                <string>{53,54}</string>
                <key>textureRect</key>
                <string>{{834,759},{53,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>common_main_btn_send_chat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,44}</string>
                <key>spriteSourceSize</key>
                <string>{51,44}</string>
                <key>textureRect</key>
                <string>{{5,861},{51,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>common_main_btn_x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,79}</string>
                <key>spriteSourceSize</key>
                <string>{78,79}</string>
                <key>textureRect</key>
                <string>{{502,675},{78,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common_main_btn_x_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,62}</string>
                <key>spriteSourceSize</key>
                <string>{62,62}</string>
                <key>textureRect</key>
                <string>{{368,849},{62,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common_main_chat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,79}</string>
                <key>spriteSourceSize</key>
                <string>{78,79}</string>
                <key>textureRect</key>
                <string>{{585,675},{78,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common_main_coins.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,63}</string>
                <key>spriteSourceSize</key>
                <string>{63,63}</string>
                <key>textureRect</key>
                <string>{{300,849},{63,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common_main_dia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{277,283}</string>
                <key>spriteSourceSize</key>
                <string>{277,283}</string>
                <key>textureRect</key>
                <string>{{5,573},{277,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common_main_diem.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,54}</string>
                <key>spriteSourceSize</key>
                <string>{53,54}</string>
                <key>textureRect</key>
                <string>{{834,817},{53,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>common_main_highlight_rotation.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{494,495}</string>
                <key>spriteSourceSize</key>
                <string>{494,495}</string>
                <key>textureRect</key>
                <string>{{5,73},{494,495}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common_main_line_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{435,835},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common_main_line_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{435,870},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common_main_lux_coin_mini.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{38,38}</string>
                <key>textureRect</key>
                <string>{{287,806},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common_main_lux_coin_mini_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{38,38}</string>
                <key>textureRect</key>
                <string>{{330,806},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common_main_lux_coin_xu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{247,861},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common_main_nan_disable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,79}</string>
                <key>spriteSourceSize</key>
                <string>{78,79}</string>
                <key>textureRect</key>
                <string>{{668,675},{78,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common_main_nan_enable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,79}</string>
                <key>spriteSourceSize</key>
                <string>{78,79}</string>
                <key>textureRect</key>
                <string>{{751,675},{78,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common_main_soi_cau.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,79}</string>
                <key>spriteSourceSize</key>
                <string>{78,79}</string>
                <key>textureRect</key>
                <string>{{834,675},{78,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common_main_thoi_gian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,53}</string>
                <key>spriteSourceSize</key>
                <string>{228,53}</string>
                <key>textureRect</key>
                <string>{{287,573},{228,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>common_main_user.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,19}</string>
                <key>spriteSourceSize</key>
                <string>{15,19}</string>
                <key>textureRect</key>
                <string>{{896,5},{15,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>CommonMain.png</string>
            <key>size</key>
            <string>{917,917}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ae2da7f7a0c5bbde1fea4e09f747d72c:49b51714b1ea7fc88db6fb766f6f1e22:455f0acacb67166d9f072ef75db04466$</string>
            <key>textureFileName</key>
            <string>CommonMain.png</string>
        </dict>
    </dict>
</plist>
