<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>button2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{191,84}</string>
                <key>spriteSourceSize</key>
                <string>{191,84}</string>
                <key>textureRect</key>
                <string>{{969,1421},{191,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{283,86}</string>
                <key>spriteSourceSize</key>
                <string>{283,86}</string>
                <key>textureRect</key>
                <string>{{935,932},{283,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>common_popup_bar_1_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{529,66}</string>
                <key>spriteSourceSize</key>
                <string>{529,66}</string>
                <key>textureRect</key>
                <string>{{793,932},{529,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>common_popup_bar_1_font.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{529,66}</string>
                <key>spriteSourceSize</key>
                <string>{529,66}</string>
                <key>textureRect</key>
                <string>{{864,932},{529,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>common_popup_bar_2_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{265,66}</string>
                <key>spriteSourceSize</key>
                <string>{265,66}</string>
                <key>textureRect</key>
                <string>{{1231,932},{265,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common_popup_bar_2_front.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{265,66}</string>
                <key>spriteSourceSize</key>
                <string>{265,66}</string>
                <key>textureRect</key>
                <string>{{1231,1003},{265,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common_popup_bar_3_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{264,66}</string>
                <key>spriteSourceSize</key>
                <string>{264,66}</string>
                <key>textureRect</key>
                <string>{{1231,1074},{264,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common_popup_bar_3_front.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{264,66}</string>
                <key>spriteSourceSize</key>
                <string>{264,66}</string>
                <key>textureRect</key>
                <string>{{1026,1145},{264,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>common_popup_bg_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1521,922}</string>
                <key>spriteSourceSize</key>
                <string>{1521,922}</string>
                <key>textureRect</key>
                <string>{{5,5},{1521,922}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common_popup_bg_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{783,675}</string>
                <key>spriteSourceSize</key>
                <string>{783,675}</string>
                <key>textureRect</key>
                <string>{{5,932},{783,675}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common_popup_btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,79}</string>
                <key>spriteSourceSize</key>
                <string>{196,79}</string>
                <key>textureRect</key>
                <string>{{935,1220},{196,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>common_popup_btn_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,81}</string>
                <key>spriteSourceSize</key>
                <string>{98,81}</string>
                <key>textureRect</key>
                <string>{{883,1466},{98,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>common_popup_btn_back_guide.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,80}</string>
                <key>spriteSourceSize</key>
                <string>{43,80}</string>
                <key>textureRect</key>
                <string>{{969,1510},{43,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common_popup_btn_next_guide.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,80}</string>
                <key>spriteSourceSize</key>
                <string>{43,80}</string>
                <key>textureRect</key>
                <string>{{1017,1510},{43,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common_popup_btn_x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,85}</string>
                <key>spriteSourceSize</key>
                <string>{101,85}</string>
                <key>textureRect</key>
                <string>{{793,1466},{101,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>common_popup_next.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,79}</string>
                <key>spriteSourceSize</key>
                <string>{78,79}</string>
                <key>textureRect</key>
                <string>{{1065,1510},{78,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common_popup_next_next.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,79}</string>
                <key>spriteSourceSize</key>
                <string>{78,79}</string>
                <key>textureRect</key>
                <string>{{1148,1510},{78,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>CommonPopup.png</string>
            <key>size</key>
            <string>{1531,1612}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eeb99623a9a8cb9fde57dbf88b758dc5:4248aa62bdb667af04318716703c2d16:c0bd396ad75980045299a96b6d6e5f11$</string>
            <key>textureFileName</key>
            <string>CommonPopup.png</string>
        </dict>
    </dict>
</plist>
