<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>res/Minigame/ImageChung/arrow.png</key>
			<dict>
				<key>frame</key>
				<string>{{421,980},{30,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,41}</string>
			</dict>
			<key>res/Minigame/ImageChung/bangvinhdanh.png</key>
			<dict>
				<key>frame</key>
				<string>{{280,980},{43,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{43,45}</string>
			</dict>
			<key>res/Minigame/ImageChung/bg_date.png</key>
			<dict>
				<key>frame</key>
				<string>{{732,352},{165,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{165,40}</string>
			</dict>
			<key>res/Minigame/ImageChung/bg_date_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{732,519},{165,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{165,40}</string>
			</dict>
			<key>res/Minigame/ImageChung/bg_download.png</key>
			<dict>
				<key>frame</key>
				<string>{{668,352},{213,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{213,62}</string>
			</dict>
			<key>res/Minigame/ImageChung/bg_giaithuong.png</key>
			<dict>
				<key>frame</key>
				<string>{{618,352},{352,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{352,48}</string>
			</dict>
			<key>res/Minigame/ImageChung/bg_minigame.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{795,349}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{795,349}</string>
			</dict>
			<key>res/Minigame/ImageChung/bg_room.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,916},{62,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{62,63}</string>
			</dict>
			<key>res/Minigame/ImageChung/bg_thong_bao.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,701},{551,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{551,67}</string>
			</dict>
			<key>res/Minigame/ImageChung/btn_close_allbang.png</key>
			<dict>
				<key>frame</key>
				<string>{{958,963},{58,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{58,57}</string>
			</dict>
			<key>res/Minigame/ImageChung/btn_closegame.png</key>
			<dict>
				<key>frame</key>
				<string>{{453,876},{68,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,68}</string>
			</dict>
			<key>res/Minigame/ImageChung/btn_closegame_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{523,938},{68,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,68}</string>
			</dict>
			<key>res/Minigame/ImageChung/btn_thanhdu.png</key>
			<dict>
				<key>frame</key>
				<string>{{668,567},{175,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{175,37}</string>
			</dict>
			<key>res/Minigame/ImageChung/btn_thanhdu_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{618,706},{175,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{175,37}</string>
			</dict>
			<key>res/Minigame/ImageChung/btn_value.png</key>
			<dict>
				<key>frame</key>
				<string>{{865,963},{91,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,43}</string>
			</dict>
			<key>res/Minigame/ImageChung/btn_value_current.png</key>
			<dict>
				<key>frame</key>
				<string>{{969,857},{91,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{91,43}</string>
			</dict>
			<key>res/Minigame/ImageChung/btn_value_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,980},{91,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,43}</string>
			</dict>
			<key>res/Minigame/ImageChung/btn_value_vip.png</key>
			<dict>
				<key>frame</key>
				<string>{{94,980},{91,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,43}</string>
			</dict>
			<key>res/Minigame/ImageChung/btn_value_vip_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{187,980},{91,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,43}</string>
			</dict>
			<key>res/Minigame/ImageChung/button_click.png</key>
			<dict>
				<key>frame</key>
				<string>{{657,744},{128,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,41}</string>
			</dict>
			<key>res/Minigame/ImageChung/button_nor.png</key>
			<dict>
				<key>frame</key>
				<string>{{735,976},{128,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,41}</string>
			</dict>
			<key>res/Minigame/ImageChung/huongdan.png</key>
			<dict>
				<key>frame</key>
				<string>{{374,980},{42,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{42,45}</string>
			</dict>
			<key>res/Minigame/ImageChung/loading.png</key>
			<dict>
				<key>frame</key>
				<string>{{774,352},{128,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,15}</string>
			</dict>
			<key>res/Minigame/ImageChung/lsgd.png</key>
			<dict>
				<key>frame</key>
				<string>{{327,980},{43,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{43,45}</string>
			</dict>
			<key>res/Minigame/ImageChung/room_select.png</key>
			<dict>
				<key>frame</key>
				<string>{{65,770},{62,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,63}</string>
			</dict>
			<key>res/Minigame/ImageChung/shadow_tren.png</key>
			<dict>
				<key>frame</key>
				<string>{{798,1},{698,210}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{698,210}</string>
			</dict>
			<key>res/Minigame/ImageChung/Title.png</key>
			<dict>
				<key>frame</key>
				<string>{{554,352},{478,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{478,62}</string>
			</dict>
			<key>res/Minigame/ImageChung/vachdung.png</key>
			<dict>
				<key>frame</key>
				<string>{{1010,1},{1,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1,41}</string>
			</dict>
			<key>res/Minigame/ImageChung/Vong1.png</key>
			<dict>
				<key>frame</key>
				<string>{{997,701},{24,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,24}</string>
			</dict>
			<key>res/Minigame/ImageChung/Vong2.png</key>
			<dict>
				<key>frame</key>
				<string>{{997,727},{24,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,24}</string>
			</dict>
			<key>res/Minigame/ImageChung/Vong3.png</key>
			<dict>
				<key>frame</key>
				<string>{{997,753},{24,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,24}</string>
			</dict>
			<key>res/Minigame/ImageChung/DauNguoi/chat_bich.png</key>
			<dict>
				<key>frame</key>
				<string>{{453,946},{62,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,71}</string>
			</dict>
			<key>res/Minigame/ImageChung/DauNguoi/chat_co.png</key>
			<dict>
				<key>frame</key>
				<string>{{593,938},{62,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,71}</string>
			</dict>
			<key>res/Minigame/ImageChung/DauNguoi/chat_ro.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,770},{62,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,71}</string>
			</dict>
			<key>res/Minigame/ImageChung/DauNguoi/chat_tep.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,843},{62,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,71}</string>
			</dict>
			<key>res/Minigame/ImageChung/DauNguoi/J_bi.png</key>
			<dict>
				<key>frame</key>
				<string>{{707,686},{76,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,104}</string>
			</dict>
			<key>res/Minigame/ImageChung/DauNguoi/J_co.png</key>
			<dict>
				<key>frame</key>
				<string>{{657,874},{76,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,104}</string>
			</dict>
			<key>res/Minigame/ImageChung/DauNguoi/J_ro.png</key>
			<dict>
				<key>frame</key>
				<string>{{700,792},{76,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{76,104}</string>
			</dict>
			<key>res/Minigame/ImageChung/DauNguoi/J_te.png</key>
			<dict>
				<key>frame</key>
				<string>{{785,701},{76,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{76,104}</string>
			</dict>
			<key>res/Minigame/ImageChung/DauNguoi/K_bi.png</key>
			<dict>
				<key>frame</key>
				<string>{{891,701},{76,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{76,104}</string>
			</dict>
			<key>res/Minigame/ImageChung/DauNguoi/K_co.png</key>
			<dict>
				<key>frame</key>
				<string>{{735,870},{76,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,104}</string>
			</dict>
			<key>res/Minigame/ImageChung/DauNguoi/K_ro.png</key>
			<dict>
				<key>frame</key>
				<string>{{806,779},{76,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{76,104}</string>
			</dict>
			<key>res/Minigame/ImageChung/DauNguoi/K_te.png</key>
			<dict>
				<key>frame</key>
				<string>{{813,857},{76,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,104}</string>
			</dict>
			<key>res/Minigame/ImageChung/DauNguoi/Q_bi.png</key>
			<dict>
				<key>frame</key>
				<string>{{891,857},{76,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,104}</string>
			</dict>
			<key>res/Minigame/ImageChung/DauNguoi/Q_co.png</key>
			<dict>
				<key>frame</key>
				<string>{{912,779},{76,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{76,104}</string>
			</dict>
			<key>res/Minigame/ImageChung/DauNguoi/Q_ro.png</key>
			<dict>
				<key>frame</key>
				<string>{{453,770},{76,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,104}</string>
			</dict>
			<key>res/Minigame/ImageChung/DauNguoi/Q_te.png</key>
			<dict>
				<key>frame</key>
				<string>{{531,832},{76,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,104}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>PlistImageChung.png</string>
			<key>realTextureFileName</key>
			<string>PlistImageChung.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>