<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>common/nohuvang/HuVangQuangSang/Quang_Sang_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{253,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{253,54}</string>
			</dict>
			<key>common/nohuvang/HuVangQuangSang/Quang_Sang_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{253,0},{253,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{253,54}</string>
			</dict>
			<key>common/nohuvang/HuVangQuangSang/Quang_Sang_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,54},{253,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{253,54}</string>
			</dict>
			<key>common/nohuvang/HuVangQuangSang/Quang_Sang_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{253,54},{253,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{253,54}</string>
			</dict>
			<key>common/nohuvang/HuVangQuangSang/Quang_Sang_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,108},{253,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{253,54}</string>
			</dict>
			<key>common/nohuvang/HuVangQuangSang/Quang_Sang_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{253,108},{253,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{253,54}</string>
			</dict>
			<key>common/nohuvang/HuVangQuangSang/Quang_Sang_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,162},{253,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{253,54}</string>
			</dict>
			<key>common/nohuvang/HuVangQuangSang/Quang_Sang_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{253,162},{253,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{253,54}</string>
			</dict>
			<key>common/nohuvang/HuVangQuangSang/Quang_Sang_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,216},{253,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{253,54}</string>
			</dict>
			<key>common/nohuvang/HuVangQuangSang/Quang_Sang_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{253,216},{253,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{253,54}</string>
			</dict>
			<key>common/nohuvang/HuVangQuangSang/Quang_Sang_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,270},{253,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{253,54}</string>
			</dict>
			<key>common/nohuvang/HuVangQuangSang/Quang_Sang_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{253,270},{253,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{253,54}</string>
			</dict>
			<key>common/nohuvang/HuVangQuangSang/Quang_Sang_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,324},{253,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{253,54}</string>
			</dict>
			<key>common/nohuvang/HuVangQuangSang/Quang_Sang_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{253,324},{253,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{253,54}</string>
			</dict>
			<key>common/nohuvang/HuVangQuangSang/Quang_Sang_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,378},{253,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{253,54}</string>
			</dict>
			<key>common/nohuvang/HuVangQuangSang/Quang_Sang_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{253,378},{253,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{253,54}</string>
			</dict>
			<key>common/nohuvang/HuVangQuangSang/Quang_Sang_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,432},{253,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{253,54}</string>
			</dict>
			<key>common/nohuvang/HuVangQuangSang/Quang_Sang_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{253,432},{253,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{253,54}</string>
			</dict>
			<key>common/nohuvang/HuVangQuangSang/Quang_Sang_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,486},{253,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{253,54}</string>
			</dict>
			<key>common/nohuvang/HuVangQuangSang/Quang_Sang_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{253,486},{253,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{253,54}</string>
			</dict>
			<key>common/nohuvang/HuVangQuangSang/Quang_Sang_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,540},{253,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{253,54}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Plist.png</string>
			<key>realTextureFileName</key>
			<string>Plist.png</string>
			<key>size</key>
			<string>{512,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>512</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>