<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_bet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,31}</string>
                <key>spriteSourceSize</key>
                <string>{125,31}</string>
                <key>textureRect</key>
                <string>{{537,197},{125,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_diem.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,35}</string>
                <key>spriteSourceSize</key>
                <string>{35,35}</string>
                <key>textureRect</key>
                <string>{{827,794},{35,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_popup_cuoc_tx.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{445,262}</string>
                <key>spriteSourceSize</key>
                <string>{445,262}</string>
                <key>textureRect</key>
                <string>{{1,222},{445,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_time.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,53}</string>
                <key>spriteSourceSize</key>
                <string>{228,53}</string>
                <key>textureRect</key>
                <string>{{537,1},{228,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_xuc_xac.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,139}</string>
                <key>spriteSourceSize</key>
                <string>{139,139}</string>
                <key>textureRect</key>
                <string>{{1,530},{139,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_cancel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,40}</string>
                <key>spriteSourceSize</key>
                <string>{122,40}</string>
                <key>textureRect</key>
                <string>{{522,342},{122,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_clear_number.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,40}</string>
                <key>spriteSourceSize</key>
                <string>{122,40}</string>
                <key>textureRect</key>
                <string>{{646,342},{122,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_ok.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,40}</string>
                <key>spriteSourceSize</key>
                <string>{122,40}</string>
                <key>textureRect</key>
                <string>{{380,530},{122,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>button-mini.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,32}</string>
                <key>spriteSourceSize</key>
                <string>{63,32}</string>
                <key>textureRect</key>
                <string>{{380,749},{63,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>button-sokhac.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,32}</string>
                <key>spriteSourceSize</key>
                <string>{93,32}</string>
                <key>textureRect</key>
                <string>{{380,654},{93,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sp_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,126}</string>
                <key>spriteSourceSize</key>
                <string>{126,126}</string>
                <key>textureRect</key>
                <string>{{142,530},{126,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sp_rut_loc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,107}</string>
                <key>spriteSourceSize</key>
                <string>{116,107}</string>
                <key>textureRect</key>
                <string>{{142,658},{116,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sp_tai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,41}</string>
                <key>spriteSourceSize</key>
                <string>{71,41}</string>
                <key>textureRect</key>
                <string>{{778,373},{71,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sp_xiu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,47}</string>
                <key>spriteSourceSize</key>
                <string>{77,47}</string>
                <key>textureRect</key>
                <string>{{770,324},{77,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{534,219}</string>
                <key>spriteSourceSize</key>
                <string>{534,219}</string>
                <key>textureRect</key>
                <string>{{1,1},{534,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_bg_history.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{417,42}</string>
                <key>spriteSourceSize</key>
                <string>{417,42}</string>
                <key>textureRect</key>
                <string>{{1,486},{417,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_btn_chat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,37}</string>
                <key>spriteSourceSize</key>
                <string>{36,37}</string>
                <key>textureRect</key>
                <string>{{827,755},{36,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_btn_close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,39}</string>
                <key>spriteSourceSize</key>
                <string>{39,39}</string>
                <key>textureRect</key>
                <string>{{827,714},{39,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_btn_guide.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,37}</string>
                <key>spriteSourceSize</key>
                <string>{36,37}</string>
                <key>textureRect</key>
                <string>{{778,446},{36,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_btn_info.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,36}</string>
                <key>spriteSourceSize</key>
                <string>{36,36}</string>
                <key>textureRect</key>
                <string>{{821,412},{36,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_btn_nan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,36}</string>
                <key>spriteSourceSize</key>
                <string>{37,36}</string>
                <key>textureRect</key>
                <string>{{816,450},{37,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_btn_nan_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,36}</string>
                <key>spriteSourceSize</key>
                <string>{37,36}</string>
                <key>textureRect</key>
                <string>{{678,174},{37,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_btn_rank.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,37}</string>
                <key>spriteSourceSize</key>
                <string>{36,37}</string>
                <key>textureRect</key>
                <string>{{821,373},{36,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_btn_rut_loc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,47}</string>
                <key>spriteSourceSize</key>
                <string>{116,47}</string>
                <key>textureRect</key>
                <string>{{678,56},{116,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tx_btn_soi_cau.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,37}</string>
                <key>spriteSourceSize</key>
                <string>{37,37}</string>
                <key>textureRect</key>
                <string>{{727,56},{37,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_btn_tan_loc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,47}</string>
                <key>spriteSourceSize</key>
                <string>{116,47}</string>
                <key>textureRect</key>
                <string>{{1,811},{116,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_btn_thanh_phan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,72}</string>
                <key>spriteSourceSize</key>
                <string>{160,72}</string>
                <key>textureRect</key>
                <string>{{448,222},{160,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tx_icon_delete.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,19}</string>
                <key>spriteSourceSize</key>
                <string>{25,19}</string>
                <key>textureRect</key>
                <string>{{839,102},{25,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_icon_person.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,20}</string>
                <key>spriteSourceSize</key>
                <string>{22,20}</string>
                <key>textureRect</key>
                <string>{{119,834},{22,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tx_icon_tai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,21}</string>
                <key>spriteSourceSize</key>
                <string>{21,21}</string>
                <key>textureRect</key>
                <string>{{119,811},{21,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_icon_xiu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,19}</string>
                <key>spriteSourceSize</key>
                <string>{19,19}</string>
                <key>textureRect</key>
                <string>{{839,123},{19,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_sp_betting_animation.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,138}</string>
                <key>spriteSourceSize</key>
                <string>{139,138}</string>
                <key>textureRect</key>
                <string>{{1,671},{139,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_sp_bowl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,139}</string>
                <key>spriteSourceSize</key>
                <string>{139,139}</string>
                <key>textureRect</key>
                <string>{{537,56},{139,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xx1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,99}</string>
                <key>spriteSourceSize</key>
                <string>{99,99}</string>
                <key>textureRect</key>
                <string>{{767,1},{99,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xx11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,106}</string>
                <key>spriteSourceSize</key>
                <string>{108,106}</string>
                <key>textureRect</key>
                <string>{{448,384},{108,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xx12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,106}</string>
                <key>spriteSourceSize</key>
                <string>{108,106}</string>
                <key>textureRect</key>
                <string>{{558,384},{108,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xx13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,106}</string>
                <key>spriteSourceSize</key>
                <string>{108,106}</string>
                <key>textureRect</key>
                <string>{{668,384},{108,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xx14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,106}</string>
                <key>spriteSourceSize</key>
                <string>{108,106}</string>
                <key>textureRect</key>
                <string>{{646,604},{108,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xx15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,106}</string>
                <key>spriteSourceSize</key>
                <string>{108,106}</string>
                <key>textureRect</key>
                <string>{{754,604},{108,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xx16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,106}</string>
                <key>spriteSourceSize</key>
                <string>{108,106}</string>
                <key>textureRect</key>
                <string>{{270,642},{108,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xx2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,99}</string>
                <key>spriteSourceSize</key>
                <string>{99,99}</string>
                <key>textureRect</key>
                <string>{{142,767},{99,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xx21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,110}</string>
                <key>spriteSourceSize</key>
                <string>{108,110}</string>
                <key>textureRect</key>
                <string>{{270,530},{108,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xx22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,110}</string>
                <key>spriteSourceSize</key>
                <string>{108,110}</string>
                <key>textureRect</key>
                <string>{{522,230},{108,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xx23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,110}</string>
                <key>spriteSourceSize</key>
                <string>{108,110}</string>
                <key>textureRect</key>
                <string>{{632,230},{108,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xx24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,110}</string>
                <key>spriteSourceSize</key>
                <string>{108,110}</string>
                <key>textureRect</key>
                <string>{{422,492},{108,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xx25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,108}</string>
                <key>spriteSourceSize</key>
                <string>{108,108}</string>
                <key>textureRect</key>
                <string>{{414,714},{108,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xx26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,110}</string>
                <key>spriteSourceSize</key>
                <string>{108,110}</string>
                <key>textureRect</key>
                <string>{{532,492},{108,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xx3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,99}</string>
                <key>spriteSourceSize</key>
                <string>{99,99}</string>
                <key>textureRect</key>
                <string>{{243,767},{99,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xx31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,110}</string>
                <key>spriteSourceSize</key>
                <string>{108,110}</string>
                <key>textureRect</key>
                <string>{{642,492},{108,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xx32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,110}</string>
                <key>spriteSourceSize</key>
                <string>{108,110}</string>
                <key>textureRect</key>
                <string>{{422,604},{108,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xx33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,110}</string>
                <key>spriteSourceSize</key>
                <string>{108,110}</string>
                <key>textureRect</key>
                <string>{{534,604},{108,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xx34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,110}</string>
                <key>spriteSourceSize</key>
                <string>{108,110}</string>
                <key>textureRect</key>
                <string>{{727,102},{108,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xx35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,110}</string>
                <key>spriteSourceSize</key>
                <string>{108,110}</string>
                <key>textureRect</key>
                <string>{{742,212},{108,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xx36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,110}</string>
                <key>spriteSourceSize</key>
                <string>{108,110}</string>
                <key>textureRect</key>
                <string>{{752,492},{108,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xx4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,99}</string>
                <key>spriteSourceSize</key>
                <string>{99,99}</string>
                <key>textureRect</key>
                <string>{{524,714},{99,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xx5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,99}</string>
                <key>spriteSourceSize</key>
                <string>{99,99}</string>
                <key>textureRect</key>
                <string>{{625,714},{99,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xx6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,99}</string>
                <key>spriteSourceSize</key>
                <string>{99,99}</string>
                <key>textureRect</key>
                <string>{{726,714},{99,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>MainTaiXiu.png</string>
            <key>size</key>
            <string>{867,867}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:304c1eb031315cd68fe804ce3bcf4a75:9badd1ada41808f6fe00914d15d9eac4:b883bb02c6bff7992d5134b9b7495010$</string>
            <key>textureFileName</key>
            <string>MainTaiXiu.png</string>
        </dict>
    </dict>
</plist>
