<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>res/Minigame/TaiXiu/images/bat_nan3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,330},{291,291}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{291,291}</string>
			</dict>
			<key>res/Minigame/TaiXiu/images/bg_huloc.png</key>
			<dict>
				<key>frame</key>
				<string>{{294,330},{257,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{257,122}</string>
			</dict>
			<key>res/Minigame/TaiXiu/images/bg_money_hu.png</key>
			<dict>
				<key>frame</key>
				<string>{{746,178},{172,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{172,50}</string>
			</dict>
			<key>res/Minigame/TaiXiu/images/bg_money_pot.png</key>
			<dict>
				<key>frame</key>
				<string>{{635,245},{169,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{169,33}</string>
			</dict>
			<key>res/Minigame/TaiXiu/images/bg_soicau.png</key>
			<dict>
				<key>frame</key>
				<string>{{330,1},{648,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{648,40}</string>
			</dict>
			<key>res/Minigame/TaiXiu/images/bg_soicau_tai.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,458},{119,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{119,42}</string>
			</dict>
			<key>res/Minigame/TaiXiu/images/bg_soicau_xiu.png</key>
			<dict>
				<key>frame</key>
				<string>{{918,505},{119,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{119,42}</string>
			</dict>
			<key>res/Minigame/TaiXiu/images/bg_sophienTX.png</key>
			<dict>
				<key>frame</key>
				<string>{{881,329},{127,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{127,37}</string>
			</dict>
			<key>res/Minigame/TaiXiu/images/bg_timeTX.png</key>
			<dict>
				<key>frame</key>
				<string>{{746,722},{80,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,81}</string>
			</dict>
			<key>res/Minigame/TaiXiu/images/bg_vongtron.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{327,327}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{327,327}</string>
			</dict>
			<key>res/Minigame/TaiXiu/images/bonan.png</key>
			<dict>
				<key>frame</key>
				<string>{{920,177},{164,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{164,50}</string>
			</dict>
			<key>res/Minigame/TaiXiu/images/btn_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{617,315},{115,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{115,55}</string>
			</dict>
			<key>res/Minigame/TaiXiu/images/btn_back_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{962,506},{115,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{115,55}</string>
			</dict>
			<key>res/Minigame/TaiXiu/images/btn_close_tanloc.png</key>
			<dict>
				<key>frame</key>
				<string>{{829,770},{46,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{46,48}</string>
			</dict>
			<key>res/Minigame/TaiXiu/images/btn_dongy.png</key>
			<dict>
				<key>frame</key>
				<string>{{920,343},{160,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,50}</string>
			</dict>
			<key>res/Minigame/TaiXiu/images/btn_event.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,623},{439,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{439,114}</string>
			</dict>
			<key>res/Minigame/TaiXiu/images/btn_putmoney.png</key>
			<dict>
				<key>frame</key>
				<string>{{330,280},{171,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{171,44}</string>
			</dict>
			<key>res/Minigame/TaiXiu/images/btn_rutloc.png</key>
			<dict>
				<key>frame</key>
				<string>{{980,1},{175,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{175,33}</string>
			</dict>
			<key>res/Minigame/TaiXiu/images/btn_rutloc_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{503,280},{174,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{174,33}</string>
			</dict>
			<key>res/Minigame/TaiXiu/images/btn_select.png</key>
			<dict>
				<key>frame</key>
				<string>{{972,344},{160,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,50}</string>
			</dict>
			<key>res/Minigame/TaiXiu/images/btn_select_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{418,505},{159,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{159,50}</string>
			</dict>
			<key>res/Minigame/TaiXiu/images/btn_soicau.png</key>
			<dict>
				<key>frame</key>
				<string>{{442,622},{89,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{89,44}</string>
			</dict>
			<key>res/Minigame/TaiXiu/images/btn_soicau_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{872,579},{89,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{89,44}</string>
			</dict>
			<key>res/Minigame/TaiXiu/images/btn_tab_tanloc.png</key>
			<dict>
				<key>frame</key>
				<string>{{418,458},{126,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,44}</string>
			</dict>
			<key>res/Minigame/TaiXiu/images/btn_tab_tanloc_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{546,458},{126,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,44}</string>
			</dict>
			<key>res/Minigame/TaiXiu/images/btn_tanloc.png</key>
			<dict>
				<key>frame</key>
				<string>{{918,626},{98,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{98,33}</string>
			</dict>
			<key>res/Minigame/TaiXiu/images/btn_tanloc_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{865,670},{98,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{98,33}</string>
			</dict>
			<key>res/Minigame/TaiXiu/images/button_number.png</key>
			<dict>
				<key>frame</key>
				<string>{{330,43},{178,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{178,55}</string>
			</dict>
			<key>res/Minigame/TaiXiu/images/button_number_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{330,100},{178,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{178,55}</string>
			</dict>
			<key>res/Minigame/TaiXiu/images/clear_tanloc.png</key>
			<dict>
				<key>frame</key>
				<string>{{900,726},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>res/Minigame/TaiXiu/images/iconHuLoc.png</key>
			<dict>
				<key>frame</key>
				<string>{{553,712},{93,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,87}</string>
			</dict>
			<key>res/Minigame/TaiXiu/images/mt1.png</key>
			<dict>
				<key>frame</key>
				<string>{{648,780},{77,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{77,83}</string>
			</dict>
			<key>res/Minigame/TaiXiu/images/mt9.png</key>
			<dict>
				<key>frame</key>
				<string>{{733,804},{77,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{77,83}</string>
			</dict>
			<key>res/Minigame/TaiXiu/images/nan.png</key>
			<dict>
				<key>frame</key>
				<string>{{972,178},{164,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{164,50}</string>
			</dict>
			<key>res/Minigame/TaiXiu/images/Shadow_Tien.png</key>
			<dict>
				<key>frame</key>
				<string>{{294,589},{209,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{209,31}</string>
			</dict>
			<key>res/Minigame/TaiXiu/images/small_number.png</key>
			<dict>
				<key>frame</key>
				<string>{{962,623},{115,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{115,55}</string>
			</dict>
			<key>res/Minigame/TaiXiu/images/small_number_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{505,557},{115,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{115,55}</string>
			</dict>
			<key>res/Minigame/TaiXiu/images/sp_tai.png</key>
			<dict>
				<key>frame</key>
				<string>{{518,416},{33,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{33,33}</string>
			</dict>
			<key>res/Minigame/TaiXiu/images/sp_xiu.png</key>
			<dict>
				<key>frame</key>
				<string>{{553,416},{33,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{33,33}</string>
			</dict>
			<key>res/Minigame/TaiXiu/images/tai1.png</key>
			<dict>
				<key>frame</key>
				<string>{{661,674},{104,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,83}</string>
			</dict>
			<key>res/Minigame/TaiXiu/images/tooltip01.png</key>
			<dict>
				<key>frame</key>
				<string>{{909,43},{132,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{132,58}</string>
			</dict>
			<key>res/Minigame/TaiXiu/images/tooltip02.png</key>
			<dict>
				<key>frame</key>
				<string>{{510,144},{134,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,21}</string>
			</dict>
			<key>res/Minigame/TaiXiu/images/txtTai.png</key>
			<dict>
				<key>frame</key>
				<string>{{488,674},{84,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{84,63}</string>
			</dict>
			<key>res/Minigame/TaiXiu/images/txtXiu.png</key>
			<dict>
				<key>frame</key>
				<string>{{952,740},{88,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{88,66}</string>
			</dict>
			<key>res/Minigame/TaiXiu/images/userTX.png</key>
			<dict>
				<key>frame</key>
				<string>{{779,144},{33,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{33,29}</string>
			</dict>
			<key>res/Minigame/TaiXiu/images/vong_den.png</key>
			<dict>
				<key>frame</key>
				<string>{{330,178},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>res/Minigame/TaiXiu/images/vong_tien.png</key>
			<dict>
				<key>frame</key>
				<string>{{746,144},{31,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{31,31}</string>
			</dict>
			<key>res/Minigame/TaiXiu/images/vong_trang.png</key>
			<dict>
				<key>frame</key>
				<string>{{432,178},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>res/Minigame/TaiXiu/images/xiu1.png</key>
			<dict>
				<key>frame</key>
				<string>{{579,504},{108,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{108,86}</string>
			</dict>
			<key>res/Minigame/TaiXiu/images/xx11.png</key>
			<dict>
				<key>frame</key>
				<string>{{775,428},{97,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,96}</string>
			</dict>
			<key>res/Minigame/TaiXiu/images/xx12.png</key>
			<dict>
				<key>frame</key>
				<string>{{674,478},{97,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,96}</string>
			</dict>
			<key>res/Minigame/TaiXiu/images/xx13.png</key>
			<dict>
				<key>frame</key>
				<string>{{773,526},{97,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,96}</string>
			</dict>
			<key>res/Minigame/TaiXiu/images/xx14.png</key>
			<dict>
				<key>frame</key>
				<string>{{667,576},{97,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,96}</string>
			</dict>
			<key>res/Minigame/TaiXiu/images/xx15.png</key>
			<dict>
				<key>frame</key>
				<string>{{766,624},{97,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,96}</string>
			</dict>
			<key>res/Minigame/TaiXiu/images/xx16.png</key>
			<dict>
				<key>frame</key>
				<string>{{562,614},{97,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,96}</string>
			</dict>
			<key>res/Minigame/TaiXiu/images/xx21.png</key>
			<dict>
				<key>frame</key>
				<string>{{810,43},{97,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,99}</string>
			</dict>
			<key>res/Minigame/TaiXiu/images/xx22.png</key>
			<dict>
				<key>frame</key>
				<string>{{806,230},{97,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{97,99}</string>
			</dict>
			<key>res/Minigame/TaiXiu/images/xx23.png</key>
			<dict>
				<key>frame</key>
				<string>{{679,280},{97,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{97,99}</string>
			</dict>
			<key>res/Minigame/TaiXiu/images/xx24.png</key>
			<dict>
				<key>frame</key>
				<string>{{780,329},{97,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{97,99}</string>
			</dict>
			<key>res/Minigame/TaiXiu/images/xx25.png</key>
			<dict>
				<key>frame</key>
				<string>{{518,315},{97,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,99}</string>
			</dict>
			<key>res/Minigame/TaiXiu/images/xx26.png</key>
			<dict>
				<key>frame</key>
				<string>{{674,379},{97,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{97,99}</string>
			</dict>
			<key>res/Minigame/TaiXiu/images/xx31.png</key>
			<dict>
				<key>frame</key>
				<string>{{510,43},{98,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,99}</string>
			</dict>
			<key>res/Minigame/TaiXiu/images/xx32.png</key>
			<dict>
				<key>frame</key>
				<string>{{610,43},{98,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,99}</string>
			</dict>
			<key>res/Minigame/TaiXiu/images/xx33.png</key>
			<dict>
				<key>frame</key>
				<string>{{418,326},{98,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,99}</string>
			</dict>
			<key>res/Minigame/TaiXiu/images/xx34.png</key>
			<dict>
				<key>frame</key>
				<string>{{646,144},{98,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,99}</string>
			</dict>
			<key>res/Minigame/TaiXiu/images/xx35.png</key>
			<dict>
				<key>frame</key>
				<string>{{534,167},{98,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{98,99}</string>
			</dict>
			<key>res/Minigame/TaiXiu/images/xx36.png</key>
			<dict>
				<key>frame</key>
				<string>{{710,43},{98,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,99}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>PlistMNTaiXiu.png</string>
			<key>realTextureFileName</key>
			<string>PlistMNTaiXiu.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>