<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>GameCo/kill/ke0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>
			<key>GameCo/kill/ke1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,140},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>
			<key>GameCo/kill/ke10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,280},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>
			<key>GameCo/kill/ke11.png</key>
			<dict>
				<key>frame</key>
				<string>{{140,0},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>
			<key>GameCo/kill/ke12.png</key>
			<dict>
				<key>frame</key>
				<string>{{140,140},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>
			<key>GameCo/kill/ke13.png</key>
			<dict>
				<key>frame</key>
				<string>{{140,280},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>
			<key>GameCo/kill/ke14.png</key>
			<dict>
				<key>frame</key>
				<string>{{280,0},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>
			<key>GameCo/kill/ke15.png</key>
			<dict>
				<key>frame</key>
				<string>{{280,140},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>
			<key>GameCo/kill/ke16.png</key>
			<dict>
				<key>frame</key>
				<string>{{280,280},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>
			<key>GameCo/kill/ke17.png</key>
			<dict>
				<key>frame</key>
				<string>{{420,0},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>
			<key>GameCo/kill/ke18.png</key>
			<dict>
				<key>frame</key>
				<string>{{420,140},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>
			<key>GameCo/kill/ke19.png</key>
			<dict>
				<key>frame</key>
				<string>{{420,280},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>
			<key>GameCo/kill/ke2.png</key>
			<dict>
				<key>frame</key>
				<string>{{560,0},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>
			<key>GameCo/kill/ke20.png</key>
			<dict>
				<key>frame</key>
				<string>{{560,140},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>
			<key>GameCo/kill/ke21.png</key>
			<dict>
				<key>frame</key>
				<string>{{560,280},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>
			<key>GameCo/kill/ke22.png</key>
			<dict>
				<key>frame</key>
				<string>{{700,0},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>
			<key>GameCo/kill/ke23.png</key>
			<dict>
				<key>frame</key>
				<string>{{700,140},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>
			<key>GameCo/kill/ke24.png</key>
			<dict>
				<key>frame</key>
				<string>{{700,280},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>
			<key>GameCo/kill/ke3.png</key>
			<dict>
				<key>frame</key>
				<string>{{840,0},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>
			<key>GameCo/kill/ke4.png</key>
			<dict>
				<key>frame</key>
				<string>{{840,140},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>
			<key>GameCo/kill/ke5.png</key>
			<dict>
				<key>frame</key>
				<string>{{840,280},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>
			<key>GameCo/kill/ke6.png</key>
			<dict>
				<key>frame</key>
				<string>{{980,0},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>
			<key>GameCo/kill/ke7.png</key>
			<dict>
				<key>frame</key>
				<string>{{980,140},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>
			<key>GameCo/kill/ke8.png</key>
			<dict>
				<key>frame</key>
				<string>{{980,280},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>
			<key>GameCo/kill/ke9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1120,0},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>kill.png</string>
			<key>realTextureFileName</key>
			<string>kill.png</string>
			<key>size</key>
			<string>{2048,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>