<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>res/Minigame/ResSlotBa/ChonDong/Number/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{97,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,69}</string>
			</dict>
			<key>res/Minigame/ResSlotBa/ChonDong/Number/1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{100,1},{97,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,69}</string>
			</dict>
			<key>res/Minigame/ResSlotBa/ChonDong/Number/10.png</key>
			<dict>
				<key>frame</key>
				<string>{{199,1},{97,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,69}</string>
			</dict>
			<key>res/Minigame/ResSlotBa/ChonDong/Number/10_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{298,1},{97,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,69}</string>
			</dict>
			<key>res/Minigame/ResSlotBa/ChonDong/Number/11.png</key>
			<dict>
				<key>frame</key>
				<string>{{397,1},{97,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,69}</string>
			</dict>
			<key>res/Minigame/ResSlotBa/ChonDong/Number/11_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,72},{97,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,69}</string>
			</dict>
			<key>res/Minigame/ResSlotBa/ChonDong/Number/12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,356},{96,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,69}</string>
			</dict>
			<key>res/Minigame/ResSlotBa/ChonDong/Number/12_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{99,356},{96,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,69}</string>
			</dict>
			<key>res/Minigame/ResSlotBa/ChonDong/Number/13.png</key>
			<dict>
				<key>frame</key>
				<string>{{197,356},{96,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,69}</string>
			</dict>
			<key>res/Minigame/ResSlotBa/ChonDong/Number/13_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{295,356},{96,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,69}</string>
			</dict>
			<key>res/Minigame/ResSlotBa/ChonDong/Number/14.png</key>
			<dict>
				<key>frame</key>
				<string>{{100,72},{97,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,69}</string>
			</dict>
			<key>res/Minigame/ResSlotBa/ChonDong/Number/14_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{199,72},{97,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,69}</string>
			</dict>
			<key>res/Minigame/ResSlotBa/ChonDong/Number/15.png</key>
			<dict>
				<key>frame</key>
				<string>{{298,72},{97,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,69}</string>
			</dict>
			<key>res/Minigame/ResSlotBa/ChonDong/Number/15_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{397,72},{97,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,69}</string>
			</dict>
			<key>res/Minigame/ResSlotBa/ChonDong/Number/16.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,143},{97,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,69}</string>
			</dict>
			<key>res/Minigame/ResSlotBa/ChonDong/Number/16_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{100,143},{97,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,69}</string>
			</dict>
			<key>res/Minigame/ResSlotBa/ChonDong/Number/17.png</key>
			<dict>
				<key>frame</key>
				<string>{{393,356},{96,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,69}</string>
			</dict>
			<key>res/Minigame/ResSlotBa/ChonDong/Number/17_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,427},{96,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,69}</string>
			</dict>
			<key>res/Minigame/ResSlotBa/ChonDong/Number/18.png</key>
			<dict>
				<key>frame</key>
				<string>{{99,427},{96,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,69}</string>
			</dict>
			<key>res/Minigame/ResSlotBa/ChonDong/Number/18_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{197,427},{96,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,69}</string>
			</dict>
			<key>res/Minigame/ResSlotBa/ChonDong/Number/19.png</key>
			<dict>
				<key>frame</key>
				<string>{{199,143},{97,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,69}</string>
			</dict>
			<key>res/Minigame/ResSlotBa/ChonDong/Number/19_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{298,143},{97,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,69}</string>
			</dict>
			<key>res/Minigame/ResSlotBa/ChonDong/Number/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{295,427},{96,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,69}</string>
			</dict>
			<key>res/Minigame/ResSlotBa/ChonDong/Number/2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{393,427},{96,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,69}</string>
			</dict>
			<key>res/Minigame/ResSlotBa/ChonDong/Number/20.png</key>
			<dict>
				<key>frame</key>
				<string>{{397,143},{97,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,69}</string>
			</dict>
			<key>res/Minigame/ResSlotBa/ChonDong/Number/20_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,214},{97,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,69}</string>
			</dict>
			<key>res/Minigame/ResSlotBa/ChonDong/Number/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,498},{96,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,69}</string>
			</dict>
			<key>res/Minigame/ResSlotBa/ChonDong/Number/3_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{99,498},{96,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,69}</string>
			</dict>
			<key>res/Minigame/ResSlotBa/ChonDong/Number/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{100,214},{97,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,69}</string>
			</dict>
			<key>res/Minigame/ResSlotBa/ChonDong/Number/4_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{199,214},{97,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,69}</string>
			</dict>
			<key>res/Minigame/ResSlotBa/ChonDong/Number/5.png</key>
			<dict>
				<key>frame</key>
				<string>{{298,214},{97,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,69}</string>
			</dict>
			<key>res/Minigame/ResSlotBa/ChonDong/Number/5_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{397,214},{97,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,69}</string>
			</dict>
			<key>res/Minigame/ResSlotBa/ChonDong/Number/6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,285},{97,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,69}</string>
			</dict>
			<key>res/Minigame/ResSlotBa/ChonDong/Number/6_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{100,285},{97,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,69}</string>
			</dict>
			<key>res/Minigame/ResSlotBa/ChonDong/Number/7.png</key>
			<dict>
				<key>frame</key>
				<string>{{197,498},{96,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,69}</string>
			</dict>
			<key>res/Minigame/ResSlotBa/ChonDong/Number/7_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{295,498},{96,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,69}</string>
			</dict>
			<key>res/Minigame/ResSlotBa/ChonDong/Number/8.png</key>
			<dict>
				<key>frame</key>
				<string>{{393,498},{96,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,69}</string>
			</dict>
			<key>res/Minigame/ResSlotBa/ChonDong/Number/8_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,569},{96,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{96,69}</string>
			</dict>
			<key>res/Minigame/ResSlotBa/ChonDong/Number/9.png</key>
			<dict>
				<key>frame</key>
				<string>{{199,285},{97,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,69}</string>
			</dict>
			<key>res/Minigame/ResSlotBa/ChonDong/Number/9_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{298,285},{97,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,69}</string>
			</dict>
			<key>res/Minigame/ResSlotBa/ChonDong/btn_loaidong.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,667},{134,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{134,39}</string>
			</dict>
			<key>res/Minigame/ResSlotBa/ChonDong/btn_loaidong_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,803},{134,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{134,39}</string>
			</dict>
			<key>res/Minigame/ResSlotBa/ChonDong/btnline.png</key>
			<dict>
				<key>frame</key>
				<string>{{397,285},{97,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,69}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>PlistChonDongPoKeGo.png</string>
			<key>realTextureFileName</key>
			<string>PlistChonDongPoKeGo.png</string>
			<key>size</key>
			<string>{512,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>512</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>