<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>NuDiepVien/item/item3/3_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{160,172}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,172}</string>
			</dict>
			<key>NuDiepVien/item/item3/3_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,175},{160,172}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,172}</string>
			</dict>
			<key>NuDiepVien/item/item3/3_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,349},{160,172}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,172}</string>
			</dict>
			<key>NuDiepVien/item/item3/3_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,523},{160,172}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,172}</string>
			</dict>
			<key>NuDiepVien/item/item3/3_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,697},{160,172}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,172}</string>
			</dict>
			<key>NuDiepVien/item/item3/3_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{163,1},{160,172}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,172}</string>
			</dict>
			<key>NuDiepVien/item/item3/3_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{337,1},{160,172}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,172}</string>
			</dict>
			<key>NuDiepVien/item/item3/3_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{511,1},{160,172}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,172}</string>
			</dict>
			<key>NuDiepVien/item/item3/3_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{685,1},{160,172}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,172}</string>
			</dict>
			<key>NuDiepVien/item/item3/3_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{859,1},{160,172}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,172}</string>
			</dict>
			<key>NuDiepVien/item/item3/3_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{163,163},{160,172}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,172}</string>
			</dict>
			<key>NuDiepVien/item/item3/3_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{337,163},{160,172}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,172}</string>
			</dict>
			<key>NuDiepVien/item/item3/3_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{511,163},{160,172}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,172}</string>
			</dict>
			<key>NuDiepVien/item/item3/3_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{685,163},{160,172}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,172}</string>
			</dict>
			<key>NuDiepVien/item/item3/3_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{859,175},{160,172}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,172}</string>
			</dict>
			<key>NuDiepVien/item/item3/3_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{163,325},{160,172}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,172}</string>
			</dict>
			<key>NuDiepVien/item/item3/3_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{337,325},{160,172}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,172}</string>
			</dict>
			<key>NuDiepVien/item/item3/3_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{511,325},{160,172}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,172}</string>
			</dict>
			<key>NuDiepVien/item/item3/3_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{685,325},{160,172}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,172}</string>
			</dict>
			<key>NuDiepVien/item/item3/3_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{859,349},{160,172}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,172}</string>
			</dict>
			<key>NuDiepVien/item/item3/3_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{163,487},{160,172}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,172}</string>
			</dict>
			<key>NuDiepVien/item/item3/3_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{325,487},{160,172}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,172}</string>
			</dict>
			<key>NuDiepVien/item/item3/3_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{499,487},{160,172}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,172}</string>
			</dict>
			<key>NuDiepVien/item/item3/3_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{673,487},{160,172}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,172}</string>
			</dict>
			<key>NuDiepVien/item/item3/3_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{847,523},{160,172}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,172}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>plistItem3.png</string>
			<key>realTextureFileName</key>
			<string>plistItem3.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>