<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>NuDiepVien/item/nudv/girl_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{240,520}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{240,520}</string>
			</dict>
			<key>NuDiepVien/item/nudv/girl_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{523,1},{240,520}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{240,520}</string>
			</dict>
			<key>NuDiepVien/item/nudv/girl_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1045,1},{240,520}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{240,520}</string>
			</dict>
			<key>NuDiepVien/item/nudv/girl_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1567,1},{240,520}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{240,520}</string>
			</dict>
			<key>NuDiepVien/item/nudv/girl_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,243},{240,520}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{240,520}</string>
			</dict>
			<key>NuDiepVien/item/nudv/girl_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{523,243},{240,520}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{240,520}</string>
			</dict>
			<key>NuDiepVien/item/nudv/girl_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{1045,243},{240,520}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{240,520}</string>
			</dict>
			<key>NuDiepVien/item/nudv/girl_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,485},{240,520}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{240,520}</string>
			</dict>
			<key>NuDiepVien/item/nudv/girl_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{523,485},{240,520}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{240,520}</string>
			</dict>
			<key>NuDiepVien/item/nudv/girl_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{1045,485},{240,520}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{240,520}</string>
			</dict>
			<key>NuDiepVien/item/nudv/girl_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{1567,523},{240,520}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{240,520}</string>
			</dict>
			<key>NuDiepVien/item/nudv/girl_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,727},{240,520}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{240,520}</string>
			</dict>
			<key>NuDiepVien/item/nudv/girl_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{523,727},{240,520}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{240,520}</string>
			</dict>
			<key>NuDiepVien/item/nudv/girl_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{1045,727},{240,520}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{240,520}</string>
			</dict>
			<key>NuDiepVien/item/nudv/girl_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,969},{240,520}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{240,520}</string>
			</dict>
			<key>NuDiepVien/item/nudv/girl_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{523,969},{240,520}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{240,520}</string>
			</dict>
			<key>NuDiepVien/item/nudv/girl_26.png</key>
			<dict>
				<key>frame</key>
				<string>{{1045,969},{240,520}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{240,520}</string>
			</dict>
			<key>NuDiepVien/item/nudv/girl_27.png</key>
			<dict>
				<key>frame</key>
				<string>{{1567,1045},{240,520}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{240,520}</string>
			</dict>
			<key>NuDiepVien/item/nudv/girl_28.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1211},{240,520}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{240,520}</string>
			</dict>
			<key>NuDiepVien/item/nudv/girl_29.png</key>
			<dict>
				<key>frame</key>
				<string>{{523,1211},{240,520}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{240,520}</string>
			</dict>
			<key>NuDiepVien/item/nudv/girl_30.png</key>
			<dict>
				<key>frame</key>
				<string>{{1045,1211},{240,520}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{240,520}</string>
			</dict>
			<key>NuDiepVien/item/nudv/girl_31.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1453},{240,520}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{240,520}</string>
			</dict>
			<key>NuDiepVien/item/nudv/girl_32.png</key>
			<dict>
				<key>frame</key>
				<string>{{523,1453},{240,520}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{240,520}</string>
			</dict>
			<key>NuDiepVien/item/nudv/girl_33.png</key>
			<dict>
				<key>frame</key>
				<string>{{1045,1453},{240,520}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{240,520}</string>
			</dict>
			<key>NuDiepVien/item/nudv/girl_34.png</key>
			<dict>
				<key>frame</key>
				<string>{{1567,1567},{240,520}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{240,520}</string>
			</dict>
			<key>NuDiepVien/item/nudv/girl_35.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1695},{240,520}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{240,520}</string>
			</dict>
			<key>NuDiepVien/item/nudv/girl_36.png</key>
			<dict>
				<key>frame</key>
				<string>{{523,1695},{240,520}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{240,520}</string>
			</dict>
			<key>NuDiepVien/item/nudv/girl_37.png</key>
			<dict>
				<key>frame</key>
				<string>{{1045,1695},{240,520}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{240,520}</string>
			</dict>
			<key>NuDiepVien/item/nudv/girl_38.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1937},{240,520}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{240,520}</string>
			</dict>
			<key>NuDiepVien/item/nudv/girl_39.png</key>
			<dict>
				<key>frame</key>
				<string>{{523,1937},{240,520}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{240,520}</string>
			</dict>
			<key>NuDiepVien/item/nudv/girl_40.png</key>
			<dict>
				<key>frame</key>
				<string>{{1045,1937},{240,520}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{240,520}</string>
			</dict>
			<key>NuDiepVien/item/nudv/girl_41.png</key>
			<dict>
				<key>frame</key>
				<string>{{1567,2089},{240,520}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{240,520}</string>
			</dict>
			<key>NuDiepVien/item/nudv/girl_42.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,2179},{240,520}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{240,520}</string>
			</dict>
			<key>NuDiepVien/item/nudv/girl_43.png</key>
			<dict>
				<key>frame</key>
				<string>{{523,2179},{240,520}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{240,520}</string>
			</dict>
			<key>NuDiepVien/item/nudv/girl_44.png</key>
			<dict>
				<key>frame</key>
				<string>{{1045,2179},{240,520}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{240,520}</string>
			</dict>
			<key>NuDiepVien/item/nudv/girl_45.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,2421},{240,520}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{240,520}</string>
			</dict>
			<key>NuDiepVien/item/nudv/girl_46.png</key>
			<dict>
				<key>frame</key>
				<string>{{523,2421},{240,520}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{240,520}</string>
			</dict>
			<key>NuDiepVien/item/nudv/girl_47.png</key>
			<dict>
				<key>frame</key>
				<string>{{1045,2421},{240,520}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{240,520}</string>
			</dict>
			<key>NuDiepVien/item/nudv/girl_48.png</key>
			<dict>
				<key>frame</key>
				<string>{{1567,2611},{240,520}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{240,520}</string>
			</dict>
			<key>NuDiepVien/item/nudv/girl_49.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,3133},{240,520}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{240,520}</string>
			</dict>
			<key>NuDiepVien/item/nudv/girl_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,2663},{240,520}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{240,520}</string>
			</dict>
			<key>NuDiepVien/item/nudv/girl_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,3655},{240,520}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{240,520}</string>
			</dict>
			<key>NuDiepVien/item/nudv/girl_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{243,3133},{240,520}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{240,520}</string>
			</dict>
			<key>NuDiepVien/item/nudv/girl_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{485,2905},{240,520}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{240,520}</string>
			</dict>
			<key>NuDiepVien/item/nudv/girl_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{523,2663},{240,520}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{240,520}</string>
			</dict>
			<key>NuDiepVien/item/nudv/girl_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1045,2663},{240,520}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{240,520}</string>
			</dict>
			<key>NuDiepVien/item/nudv/girl_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{727,2905},{240,520}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{240,520}</string>
			</dict>
			<key>NuDiepVien/item/nudv/girl_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1249,2905},{240,520}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{240,520}</string>
			</dict>
			<key>NuDiepVien/item/nudv/girl_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{727,3147},{240,520}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{240,520}</string>
			</dict>
			<key>NuDiepVien/item/nudv/girl_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{727,3389},{240,520}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{240,520}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>plistNDV.png</string>
			<key>realTextureFileName</key>
			<string>plistNDV.png</string>
			<key>size</key>
			<string>{2048,4096}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>4096</integer>
		</dict>
	</dict>
</plist>