<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>res/CardGame/BaCay/an_ga.png</key>
			<dict>
				<key>frame</key>
				<string>{{528,717},{232,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{232,195}</string>
			</dict>
			<key>res/CardGame/BaCay/bg_betting.png</key>
			<dict>
				<key>frame</key>
				<string>{{190,717},{173,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{173,58}</string>
			</dict>
			<key>res/CardGame/BaCay/bg_content_ketqua.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,1},{780,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{780,58}</string>
			</dict>
			<key>res/CardGame/BaCay/bg_table_right_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,783},{371,181}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{371,181}</string>
			</dict>
			<key>res/CardGame/BaCay/btn_mobai.png</key>
			<dict>
				<key>frame</key>
				<string>{{473,951},{170,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{170,65}</string>
			</dict>
			<key>res/CardGame/BaCay/btn_ok.png</key>
			<dict>
				<key>frame</key>
				<string>{{473,817},{39,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{39,39}</string>
			</dict>
			<key>res/CardGame/BaCay/btn_vao_ga.png</key>
			<dict>
				<key>frame</key>
				<string>{{645,951},{170,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{170,65}</string>
			</dict>
			<key>res/CardGame/BaCay/btn_xacnhan.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,717},{187,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{187,57}</string>
			</dict>
			<key>res/CardGame/BaCay/caLangSangTien.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{714,155}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{714,155}</string>
			</dict>
			<key>res/CardGame/BaCay/chicken.png</key>
			<dict>
				<key>frame</key>
				<string>{{342,966},{44,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,44}</string>
			</dict>
			<key>res/CardGame/BaCay/laBaiChe.png</key>
			<dict>
				<key>frame</key>
				<string>{{817,889},{91,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,116}</string>
			</dict>
			<key>res/CardGame/BaCay/moBai.png</key>
			<dict>
				<key>frame</key>
				<string>{{725,717},{170,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{170,65}</string>
			</dict>
			<key>res/CardGame/BaCay/moLuon.png</key>
			<dict>
				<key>frame</key>
				<string>{{792,717},{170,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{170,65}</string>
			</dict>
			<key>res/CardGame/BaCay/money_danhbien.png</key>
			<dict>
				<key>frame</key>
				<string>{{202,966},{68,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,32}</string>
			</dict>
			<key>res/CardGame/BaCay/money_dat_cuoc.png</key>
			<dict>
				<key>frame</key>
				<string>{{132,966},{68,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,35}</string>
			</dict>
			<key>res/CardGame/BaCay/money_kecua.png</key>
			<dict>
				<key>frame</key>
				<string>{{272,966},{68,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,32}</string>
			</dict>
			<key>res/CardGame/BaCay/ok_danhbien.png</key>
			<dict>
				<key>frame</key>
				<string>{{473,771},{44,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,44}</string>
			</dict>
			<key>res/CardGame/BaCay/phatLuongCaLang.png</key>
			<dict>
				<key>frame</key>
				<string>{{717,1},{714,155}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{714,155}</string>
			</dict>
			<key>res/CardGame/BaCay/sp_chuong.png</key>
			<dict>
				<key>frame</key>
				<string>{{365,717},{161,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{161,52}</string>
			</dict>
			<key>res/CardGame/BaCay/star.png</key>
			<dict>
				<key>frame</key>
				<string>{{994,1},{24,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,24}</string>
			</dict>
			<key>res/CardGame/BaCay/text_dangxem.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,966},{129,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,36}</string>
			</dict>
			<key>res/CardGame/BaCay/text-ketqua.png</key>
			<dict>
				<key>frame</key>
				<string>{{388,771},{225,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{225,83}</string>
			</dict>
			<key>res/CardGame/BaCay/title_ketqua.png</key>
			<dict>
				<key>frame</key>
				<string>{{934,1},{780,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{780,58}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>PlistBaCay.png</string>
			<key>realTextureFileName</key>
			<string>PlistBaCay.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>