<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>res/common/animation/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{995,473},{87,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{87,22}</string>
			</dict>
			<key>res/common/animation/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{995,562},{18,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{18,22}</string>
			</dict>
			<key>res/common/avatar/Avatar_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{128,783},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>res/common/avatar/Avatar_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{248,897},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>res/common/avatar/Avatar_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{360,897},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>res/common/avatar/Avatar_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{475,662},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>res/common/avatar/Avatar_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{472,894},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>res/common/avatar/Avatar_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{535,774},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>res/common/avatar/Avatar_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{587,662},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>res/common/avatar/Avatar_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{624,532},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>res/common/avatar/Avatar_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{736,532},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>res/common/avatar/Avatar_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{699,644},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>res/common/avatar/Avatar_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{811,666},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>res/common/avatar/Avatar_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{699,756},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>res/common/avatar/Avatar_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{811,778},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>res/common/avatar/Avatar_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{647,868},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>res/common/avatar/Avatar_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{759,890},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>res/common/avatar/Avatar_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,253},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>res/common/avatar/Avatar_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,365},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>res/common/avatar/Avatar_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{113,253},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>res/common/avatar/Avatar_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{113,365},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>res/common/avatar/Avatar_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{225,253},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>res/common/avatar/Avatar_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{225,365},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>res/common/avatar/bg_vongngoai_avatar.png</key>
			<dict>
				<key>frame</key>
				<string>{{248,660},{124,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{124,124}</string>
			</dict>
			<key>res/common/avatar/Button.png</key>
			<dict>
				<key>frame</key>
				<string>{{276,64},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>res/common/avatar/mask.png</key>
			<dict>
				<key>frame</key>
				<string>{{276,176},{75,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,75}</string>
			</dict>
			<key>res/common/avatar/Vong_Ngoai.png</key>
			<dict>
				<key>frame</key>
				<string>{{337,253},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>res/common/avatar/Vong_Ngoai1.png</key>
			<dict>
				<key>frame</key>
				<string>{{494,532},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>res/common/avatar/Vong_Vang.png</key>
			<dict>
				<key>frame</key>
				<string>{{337,365},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>res/common/chat/9patch.png</key>
			<dict>
				<key>frame</key>
				<string>{{348,603},{52,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,52}</string>
			</dict>
			<key>res/common/chat/chat_box.png</key>
			<dict>
				<key>frame</key>
				<string>{{854,175},{257,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{257,67}</string>
			</dict>
			<key>res/common/chat/chat_btn_emotion.png</key>
			<dict>
				<key>frame</key>
				<string>{{953,914},{57,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,56}</string>
			</dict>
			<key>res/common/chat/chat_btn_send.png</key>
			<dict>
				<key>frame</key>
				<string>{{256,603},{90,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,54}</string>
			</dict>
			<key>res/common/chat/chat_btn_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{584,947},{57,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,57}</string>
			</dict>
			<key>res/common/chat/emotion_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{371,811},{80,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,81}</string>
			</dict>
			<key>res/common/chat/emotion_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{453,811},{80,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,81}</string>
			</dict>
			<key>res/common/chat/emotion_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{923,668},{80,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,81}</string>
			</dict>
			<key>res/common/chat/emotion_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{923,750},{80,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,81}</string>
			</dict>
			<key>res/common/chat/emotion_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{923,832},{80,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,81}</string>
			</dict>
			<key>res/common/chat/emotion_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{871,914},{80,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,81}</string>
			</dict>
			<key>res/common/chat/emotion_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{388,64},{80,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,81}</string>
			</dict>
			<key>res/common/chat/emotion_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{388,147},{80,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,81}</string>
			</dict>
			<key>res/common/chat/emotion_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{449,230},{80,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,81}</string>
			</dict>
			<key>res/common/chat/emotion_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{470,64},{80,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,81}</string>
			</dict>
			<key>res/common/chat/emotion_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{470,147},{80,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,81}</string>
			</dict>
			<key>res/common/chat/emotion_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{449,313},{80,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,81}</string>
			</dict>
			<key>res/common/chat/emotion_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{449,396},{80,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,81}</string>
			</dict>
			<key>res/common/chat/emotion_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{531,230},{80,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,81}</string>
			</dict>
			<key>res/common/chat/emotion_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{552,64},{80,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,81}</string>
			</dict>
			<key>res/common/chat/emotion_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{552,147},{80,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,81}</string>
			</dict>
			<key>res/common/chat/emotion_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{614,230},{80,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,81}</string>
			</dict>
			<key>res/common/chat/emotion_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{634,64},{80,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,81}</string>
			</dict>
			<key>res/common/chat/emotion_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{634,146},{80,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,81}</string>
			</dict>
			<key>res/common/chat/emotion_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{697,229},{80,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,81}</string>
			</dict>
			<key>res/common/chat/emotion_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{716,146},{80,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,81}</string>
			</dict>
			<key>res/common/chat/emotion_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{697,311},{80,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,81}</string>
			</dict>
			<key>res/common/chat/emotion_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{531,312},{80,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,81}</string>
			</dict>
			<key>res/common/chat/emotion_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{614,312},{80,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,81}</string>
			</dict>
			<key>res/common/chat/emotion_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{697,393},{80,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,81}</string>
			</dict>
			<key>res/common/chip/vinChip0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,983},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>res/common/chip/vinChip1.png</key>
			<dict>
				<key>frame</key>
				<string>{{33,983},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>res/common/nohuvang/boBaiBaCay.png</key>
			<dict>
				<key>frame</key>
				<string>{{923,422},{244,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{244,70}</string>
			</dict>
			<key>res/common/nohuvang/boBaiBaiCao.png</key>
			<dict>
				<key>frame</key>
				<string>{{248,532},{244,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{244,69}</string>
			</dict>
			<key>res/common/nohuvang/boBaiMauBinh.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,913},{245,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{245,68}</string>
			</dict>
			<key>res/common/nohuvang/boBaiSam.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,666},{245,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{245,69}</string>
			</dict>
			<key>res/common/nohuvang/boBaiTienLen.png</key>
			<dict>
				<key>frame</key>
				<string>{{923,175},{245,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{245,70}</string>
			</dict>
			<key>res/common/nohuvang/huIconLighterXeng.png</key>
			<dict>
				<key>frame</key>
				<string>{{248,786},{121,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{121,109}</string>
			</dict>
			<key>res/common/nohuvang/huIconNormalXeng.png</key>
			<dict>
				<key>frame</key>
				<string>{{128,660},{121,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{121,109}</string>
			</dict>
			<key>res/common/nohuvang/nenBoBai.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,532},{245,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{245,69}</string>
			</dict>
			<key>res/common/nohuvang/nenGameName.png</key>
			<dict>
				<key>frame</key>
				<string>{{995,352},{119,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{119,27}</string>
			</dict>
			<key>res/common/nohuvang/nenGameNameXeng.png</key>
			<dict>
				<key>frame</key>
				<string>{{854,434},{230,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{230,67}</string>
			</dict>
			<key>res/common/nohuvang/nenGold.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,603},{253,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{253,55}</string>
			</dict>
			<key>res/common/nohuvang/nenHuVangXeng.png</key>
			<dict>
				<key>frame</key>
				<string>{{72,660},{244,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{244,54}</string>
			</dict>
			<key>res/common/nohuvang/no_hu_name_slot.png</key>
			<dict>
				<key>frame</key>
				<string>{{995,175},{175,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{175,28}</string>
			</dict>
			<key>res/common/nohuvang/no_hu_star.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{273,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{273,250}</string>
			</dict>
			<key>res/common/nohuvang/no_hu_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{402,603},{206,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{206,71}</string>
			</dict>
			<key>res/common/nohuvang/star.png</key>
			<dict>
				<key>frame</key>
				<string>{{584,886},{59,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{59,59}</string>
			</dict>
			<key>res/common/9patch.png</key>
			<dict>
				<key>frame</key>
				<string>{{276,1},{520,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{520,61}</string>
			</dict>
			<key>res/common/bg_notification.png</key>
			<dict>
				<key>frame</key>
				<string>{{798,1},{529,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{529,54}</string>
			</dict>
			<key>res/common/logo_xeng.png</key>
			<dict>
				<key>frame</key>
				<string>{{854,1},{172,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{172,166}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>PlistCommon.png</string>
			<key>realTextureFileName</key>
			<string>PlistCommon.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>