<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>res/Lobby/bg_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,941},{357,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{357,50}</string>
			</dict>
			<key>res/Lobby/bg_chat.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{236,423}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{236,423}</string>
			</dict>
			<key>res/Lobby/bg_checkbox.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,993},{24,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,24}</string>
			</dict>
			<key>res/Lobby/bg_hotline.png</key>
			<dict>
				<key>frame</key>
				<string>{{360,941},{217,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{217,53}</string>
			</dict>
			<key>res/Lobby/bg_tendangnhap.png</key>
			<dict>
				<key>frame</key>
				<string>{{192,766},{201,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{201,44}</string>
			</dict>
			<key>res/Lobby/btn_android.png</key>
			<dict>
				<key>frame</key>
				<string>{{294,209},{156,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,50}</string>
			</dict>
			<key>res/Lobby/btn_chat.png</key>
			<dict>
				<key>frame</key>
				<string>{{343,53},{117,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{117,57}</string>
			</dict>
			<key>res/Lobby/btn_event.png</key>
			<dict>
				<key>frame</key>
				<string>{{462,53},{116,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,57}</string>
			</dict>
			<key>res/Lobby/btn_ios.png</key>
			<dict>
				<key>frame</key>
				<string>{{407,261},{156,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,50}</string>
			</dict>
			<key>res/Lobby/btn_quydinh.png</key>
			<dict>
				<key>frame</key>
				<string>{{239,336},{94,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,87}</string>
			</dict>
			<key>res/Lobby/btn_send_chat.png</key>
			<dict>
				<key>frame</key>
				<string>{{395,766},{57,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,34}</string>
			</dict>
			<key>res/Lobby/btn_windowfone.png</key>
			<dict>
				<key>frame</key>
				<string>{{343,1},{156,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,50}</string>
			</dict>
			<key>res/Lobby/btnBack.png</key>
			<dict>
				<key>frame</key>
				<string>{{548,112},{55,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,57}</string>
			</dict>
			<key>res/Lobby/btnClose.png</key>
			<dict>
				<key>frame</key>
				<string>{{580,1},{55,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,57}</string>
			</dict>
			<key>res/Lobby/btnClose_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{404,425},{55,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,57}</string>
			</dict>
			<key>res/Lobby/btnCreatNickname.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,830},{365,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{365,58}</string>
			</dict>
			<key>res/Lobby/btnDangKy.png</key>
			<dict>
				<key>frame</key>
				<string>{{368,812},{166,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{166,53}</string>
			</dict>
			<key>res/Lobby/btnDangKy_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{369,867},{166,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{166,53}</string>
			</dict>
			<key>res/Lobby/btnDangNhap.png</key>
			<dict>
				<key>frame</key>
				<string>{{239,113},{166,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{166,53}</string>
			</dict>
			<key>res/Lobby/btnDangNhap_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{239,281},{166,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{166,53}</string>
			</dict>
			<key>res/Lobby/btnFacebook.png</key>
			<dict>
				<key>frame</key>
				<string>{{431,313},{52,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,52}</string>
			</dict>
			<key>res/Lobby/btnFanpage.png</key>
			<dict>
				<key>frame</key>
				<string>{{482,112},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>res/Lobby/btnForgetPass.png</key>
			<dict>
				<key>frame</key>
				<string>{{404,484},{51,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,53}</string>
			</dict>
			<key>res/Lobby/btngift.png</key>
			<dict>
				<key>frame</key>
				<string>{{335,336},{94,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,87}</string>
			</dict>
			<key>res/Lobby/btnGoogle.png</key>
			<dict>
				<key>frame</key>
				<string>{{431,367},{52,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,52}</string>
			</dict>
			<key>res/Lobby/btnline.png</key>
			<dict>
				<key>frame</key>
				<string>{{383,112},{97,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,69}</string>
			</dict>
			<key>res/Lobby/btnRefresh.png</key>
			<dict>
				<key>frame</key>
				<string>{{524,178},{62,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{62,58}</string>
			</dict>
			<key>res/Lobby/btnvqmm.png</key>
			<dict>
				<key>frame</key>
				<string>{{294,113},{94,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{94,87}</string>
			</dict>
			<key>res/Lobby/closetf.png</key>
			<dict>
				<key>frame</key>
				<string>{{540,1},{33,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{33,33}</string>
			</dict>
			<key>res/Lobby/cupTour.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,426},{402,189}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{402,189}</string>
			</dict>
			<key>res/Lobby/icon_hu_sanh.png</key>
			<dict>
				<key>frame</key>
				<string>{{239,1},{110,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{110,102}</string>
			</dict>
			<key>res/Lobby/lineTour.png</key>
			<dict>
				<key>frame</key>
				<string>{{452,183},{70,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,71}</string>
			</dict>
			<key>res/Lobby/logo.png</key>
			<dict>
				<key>frame</key>
				<string>{{192,426},{210,338}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{210,338}</string>
			</dict>
			<key>res/Lobby/muiten_xuong.png</key>
			<dict>
				<key>frame</key>
				<string>{{501,1},{37,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{37,47}</string>
			</dict>
			<key>res/Lobby/nodecheckbox.png</key>
			<dict>
				<key>frame</key>
				<string>{{27,993},{24,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,24}</string>
			</dict>
			<key>res/Lobby/titile.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,890},{366,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{366,49}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>PlistLobby.png</string>
			<key>realTextureFileName</key>
			<string>PlistLobby.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>