<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1007},{143,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{143,188}}</string>
				<key>sourceSize</key>
				<string>{143,188}</string>
			</dict>

			<key>10b.png</key>
			<dict>
				<key>frame</key>
				<string>{{524,1226},{130,174}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,174}}</string>
				<key>sourceSize</key>
				<string>{130,174}</string>
			</dict>

			<key>10c.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1546},{130,174}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,174}}</string>
				<key>sourceSize</key>
				<string>{130,174}</string>
			</dict>

			<key>10d.png</key>
			<dict>
				<key>frame</key>
				<string>{{262,1707},{130,174}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,174}}</string>
				<key>sourceSize</key>
				<string>{130,174}</string>
			</dict>

			<key>10t.png</key>
			<dict>
				<key>frame</key>
				<string>{{668,692},{130,174}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,174}}</string>
				<key>sourceSize</key>
				<string>{130,174}</string>
			</dict>

			<key>1b.png</key>
			<dict>
				<key>frame</key>
				<string>{{524,1401},{130,174}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,174}}</string>
				<key>sourceSize</key>
				<string>{130,174}</string>
			</dict>

			<key>1c.png</key>
			<dict>
				<key>frame</key>
				<string>{{131,1196},{130,174}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,174}}</string>
				<key>sourceSize</key>
				<string>{130,174}</string>
			</dict>

			<key>1d.png</key>
			<dict>
				<key>frame</key>
				<string>{{262,1182},{130,174}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,174}}</string>
				<key>sourceSize</key>
				<string>{130,174}</string>
			</dict>

			<key>1t.png</key>
			<dict>
				<key>frame</key>
				<string>{{786,1042},{130,174}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,174}}</string>
				<key>sourceSize</key>
				<string>{130,174}</string>
			</dict>

			<key>2b.png</key>
			<dict>
				<key>frame</key>
				<string>{{917,1336},{130,174}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,174}}</string>
				<key>sourceSize</key>
				<string>{130,174}</string>
			</dict>

			<key>2c.png</key>
			<dict>
				<key>frame</key>
				<string>{{917,986},{130,174}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,174}}</string>
				<key>sourceSize</key>
				<string>{130,174}</string>
			</dict>

			<key>2d.png</key>
			<dict>
				<key>frame</key>
				<string>{{423,625},{130,174}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,174}}</string>
				<key>sourceSize</key>
				<string>{130,174}</string>
			</dict>

			<key>2t.png</key>
			<dict>
				<key>frame</key>
				<string>{{655,1500},{130,174}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,174}}</string>
				<key>sourceSize</key>
				<string>{130,174}</string>
			</dict>

			<key>3b.png</key>
			<dict>
				<key>frame</key>
				<string>{{917,1161},{130,174}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,174}}</string>
				<key>sourceSize</key>
				<string>{130,174}</string>
			</dict>

			<key>3c.png</key>
			<dict>
				<key>frame</key>
				<string>{{406,876},{130,174}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,174}}</string>
				<key>sourceSize</key>
				<string>{130,174}</string>
			</dict>

			<key>3d.png</key>
			<dict>
				<key>frame</key>
				<string>{{393,1841},{130,174}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,174}}</string>
				<key>sourceSize</key>
				<string>{130,174}</string>
			</dict>

			<key>3t.png</key>
			<dict>
				<key>frame</key>
				<string>{{655,1850},{130,174}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,174}}</string>
				<key>sourceSize</key>
				<string>{130,174}</string>
			</dict>

			<key>4b.png</key>
			<dict>
				<key>frame</key>
				<string>{{393,1316},{130,174}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,174}}</string>
				<key>sourceSize</key>
				<string>{130,174}</string>
			</dict>

			<key>4c.png</key>
			<dict>
				<key>frame</key>
				<string>{{793,239},{130,174}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,174}}</string>
				<key>sourceSize</key>
				<string>{130,174}</string>
			</dict>

			<key>4d.png</key>
			<dict>
				<key>frame</key>
				<string>{{131,1546},{130,174}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,174}}</string>
				<key>sourceSize</key>
				<string>{130,174}</string>
			</dict>

			<key>4t.png</key>
			<dict>
				<key>frame</key>
				<string>{{655,975},{130,174}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,174}}</string>
				<key>sourceSize</key>
				<string>{130,174}</string>
			</dict>

			<key>5b.png</key>
			<dict>
				<key>frame</key>
				<string>{{393,1491},{130,174}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,174}}</string>
				<key>sourceSize</key>
				<string>{130,174}</string>
			</dict>

			<key>5c.png</key>
			<dict>
				<key>frame</key>
				<string>{{793,64},{130,174}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,174}}</string>
				<key>sourceSize</key>
				<string>{130,174}</string>
			</dict>

			<key>5d.png</key>
			<dict>
				<key>frame</key>
				<string>{{161,791},{130,174}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,174}}</string>
				<key>sourceSize</key>
				<string>{130,174}</string>
			</dict>

			<key>5t.png</key>
			<dict>
				<key>frame</key>
				<string>{{655,1150},{130,174}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,174}}</string>
				<key>sourceSize</key>
				<string>{130,174}</string>
			</dict>

			<key>6b.png</key>
			<dict>
				<key>frame</key>
				<string>{{917,1511},{130,174}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,174}}</string>
				<key>sourceSize</key>
				<string>{130,174}</string>
			</dict>

			<key>6c.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1721},{130,174}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,174}}</string>
				<key>sourceSize</key>
				<string>{130,174}</string>
			</dict>

			<key>6d.png</key>
			<dict>
				<key>frame</key>
				<string>{{292,701},{130,174}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,174}}</string>
				<key>sourceSize</key>
				<string>{130,174}</string>
			</dict>

			<key>6t.png</key>
			<dict>
				<key>frame</key>
				<string>{{786,1217},{130,174}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,174}}</string>
				<key>sourceSize</key>
				<string>{130,174}</string>
			</dict>

			<key>7b.png</key>
			<dict>
				<key>frame</key>
				<string>{{537,800},{130,174}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,174}}</string>
				<key>sourceSize</key>
				<string>{130,174}</string>
			</dict>

			<key>7c.png</key>
			<dict>
				<key>frame</key>
				<string>{{144,1007},{130,174}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,174}}</string>
				<key>sourceSize</key>
				<string>{130,174}</string>
			</dict>

			<key>7d.png</key>
			<dict>
				<key>frame</key>
				<string>{{275,966},{130,174}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,174}}</string>
				<key>sourceSize</key>
				<string>{130,174}</string>
			</dict>

			<key>7t.png</key>
			<dict>
				<key>frame</key>
				<string>{{786,1392},{130,174}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,174}}</string>
				<key>sourceSize</key>
				<string>{130,174}</string>
			</dict>

			<key>8b.png</key>
			<dict>
				<key>frame</key>
				<string>{{393,1141},{130,174}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,174}}</string>
				<key>sourceSize</key>
				<string>{130,174}</string>
			</dict>

			<key>8c.png</key>
			<dict>
				<key>frame</key>
				<string>{{816,414},{130,174}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,174}}</string>
				<key>sourceSize</key>
				<string>{130,174}</string>
			</dict>

			<key>8d.png</key>
			<dict>
				<key>frame</key>
				<string>{{131,1371},{130,174}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,174}}</string>
				<key>sourceSize</key>
				<string>{130,174}</string>
			</dict>

			<key>8t.png</key>
			<dict>
				<key>frame</key>
				<string>{{554,517},{130,174}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,174}}</string>
				<key>sourceSize</key>
				<string>{130,174}</string>
			</dict>

			<key>9b.png</key>
			<dict>
				<key>frame</key>
				<string>{{393,1666},{130,174}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,174}}</string>
				<key>sourceSize</key>
				<string>{130,174}</string>
			</dict>

			<key>9c.png</key>
			<dict>
				<key>frame</key>
				<string>{{786,1567},{130,174}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,174}}</string>
				<key>sourceSize</key>
				<string>{130,174}</string>
			</dict>

			<key>9d.png</key>
			<dict>
				<key>frame</key>
				<string>{{262,1532},{130,174}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,174}}</string>
				<key>sourceSize</key>
				<string>{130,174}</string>
			</dict>

			<key>9t.png</key>
			<dict>
				<key>frame</key>
				<string>{{655,1325},{130,174}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,174}}</string>
				<key>sourceSize</key>
				<string>{130,174}</string>
			</dict>

			<key>a.png</key>
			<dict>
				<key>frame</key>
				<string>{{211,1896},{82,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,3},{82,106}}</string>
				<key>sourceSize</key>
				<string>{87,113}</string>
			</dict>

			<key>a2.png</key>
			<dict>
				<key>frame</key>
				<string>{{128,1896},{82,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{82,106}}</string>
				<key>sourceSize</key>
				<string>{82,106}</string>
			</dict>

			<key>bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,64},{792,396}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{792,396}}</string>
				<key>sourceSize</key>
				<string>{792,396}</string>
			</dict>

			<key>bg2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,461},{618,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{618,55}}</string>
				<key>sourceSize</key>
				<string>{618,55}</string>
			</dict>

			<key>bg_labai.png</key>
			<dict>
				<key>frame</key>
				<string>{{917,1686},{130,174}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,174}}</string>
				<key>sourceSize</key>
				<string>{130,174}</string>
			</dict>

			<key>btn_luotmoi.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,863},{160,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{160,71}}</string>
				<key>sourceSize</key>
				<string>{160,71}</string>
			</dict>

			<key>btn_rank.png</key>
			<dict>
				<key>frame</key>
				<string>{{406,1051},{53,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{53,54}}</string>
				<key>sourceSize</key>
				<string>{53,54}</string>
			</dict>

			<key>button-selected.png</key>
			<dict>
				<key>frame</key>
				<string>{{294,1882},{69,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{69,73}}</string>
				<key>sourceSize</key>
				<string>{69,73}</string>
			</dict>

			<key>button.png</key>
			<dict>
				<key>frame</key>
				<string>{{292,876},{69,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{69,73}}</string>
				<key>sourceSize</key>
				<string>{69,73}</string>
			</dict>

			<key>buttonx.png</key>
			<dict>
				<key>frame</key>
				<string>{{193,701},{78,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{78,79}}</string>
				<key>sourceSize</key>
				<string>{78,79}</string>
			</dict>

			<key>diasable.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,935},{160,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{160,71}}</string>
				<key>sourceSize</key>
				<string>{160,71}</string>
			</dict>

			<key>hold.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,791},{160,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{160,71}}</string>
				<key>sourceSize</key>
				<string>{160,71}</string>
			</dict>

			<key>hu.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,625},{398,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{398,75}}</string>
				<key>sourceSize</key>
				<string>{398,75}</string>
			</dict>

			<key>huong-dan.png</key>
			<dict>
				<key>frame</key>
				<string>{{294,1956},{53,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{53,54}}</string>
				<key>sourceSize</key>
				<string>{53,54}</string>
			</dict>

			<key>info.png</key>
			<dict>
				<key>frame</key>
				<string>{{423,800},{53,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{53,54}}</string>
				<key>sourceSize</key>
				<string>{53,54}</string>
			</dict>

			<key>jb.png</key>
			<dict>
				<key>frame</key>
				<string>{{524,1576},{130,174}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,174}}</string>
				<key>sourceSize</key>
				<string>{130,174}</string>
			</dict>

			<key>jc.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1371},{130,174}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,174}}</string>
				<key>sourceSize</key>
				<string>{130,174}</string>
			</dict>

			<key>jd.png</key>
			<dict>
				<key>frame</key>
				<string>{{262,1357},{130,174}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,174}}</string>
				<key>sourceSize</key>
				<string>{130,174}</string>
			</dict>

			<key>jt.png</key>
			<dict>
				<key>frame</key>
				<string>{{786,867},{130,174}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,174}}</string>
				<key>sourceSize</key>
				<string>{130,174}</string>
			</dict>

			<key>kb.png</key>
			<dict>
				<key>frame</key>
				<string>{{524,1051},{130,174}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,174}}</string>
				<key>sourceSize</key>
				<string>{130,174}</string>
			</dict>

			<key>kc.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1196},{130,174}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,174}}</string>
				<key>sourceSize</key>
				<string>{130,174}</string>
			</dict>

			<key>kd.png</key>
			<dict>
				<key>frame</key>
				<string>{{524,1751},{130,174}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,174}}</string>
				<key>sourceSize</key>
				<string>{130,174}</string>
			</dict>

			<key>kt.png</key>
			<dict>
				<key>frame</key>
				<string>{{685,461},{130,174}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,174}}</string>
				<key>sourceSize</key>
				<string>{130,174}</string>
			</dict>

			<key>matsau2.png</key>
			<dict>
				<key>frame</key>
				<string>{{786,1742},{130,174}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,174}}</string>
				<key>sourceSize</key>
				<string>{130,174}</string>
			</dict>

			<key>play.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,701},{192,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{192,89}}</string>
				<key>sourceSize</key>
				<string>{192,89}</string>
			</dict>

			<key>qb.png</key>
			<dict>
				<key>frame</key>
				<string>{{917,811},{130,174}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,174}}</string>
				<key>sourceSize</key>
				<string>{130,174}</string>
			</dict>

			<key>qc.png</key>
			<dict>
				<key>frame</key>
				<string>{{799,636},{130,174}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,174}}</string>
				<key>sourceSize</key>
				<string>{130,174}</string>
			</dict>

			<key>qd.png</key>
			<dict>
				<key>frame</key>
				<string>{{131,1721},{130,174}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,174}}</string>
				<key>sourceSize</key>
				<string>{130,174}</string>
			</dict>

			<key>qt.png</key>
			<dict>
				<key>frame</key>
				<string>{{655,1675},{130,174}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,174}}</string>
				<key>sourceSize</key>
				<string>{130,174}</string>
			</dict>

			<key>thong-bao.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{904,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{904,63}}</string>
				<key>sourceSize</key>
				<string>{904,63}</string>
			</dict>

			<key>title.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,517},{461,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{461,107}}</string>
				<key>sourceSize</key>
				<string>{461,107}</string>
			</dict>

			<key>up.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1896},{127,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{127,75}}</string>
				<key>sourceSize</key>
				<string>{127,75}</string>
			</dict>

			<key>up2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1972},{127,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{127,75}}</string>
				<key>sourceSize</key>
				<string>{127,75}</string>
			</dict>

			<key>vach.png</key>
			<dict>
				<key>frame</key>
				<string>{{128,2003},{1,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{1,30}}</string>
				<key>sourceSize</key>
				<string>{1,30}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>textureFileName</key>
			<string>CaoThap.png</string>
			</dict>
		</dict>
</plist>