<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Avenger/item/wait/wait01/Wait_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{370,390}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{370,390}</string>
			</dict>
			<key>Avenger/item/wait/wait01/Wait_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,393},{370,390}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{370,390}</string>
			</dict>
			<key>Avenger/item/wait/wait01/Wait_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,785},{370,390}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{370,390}</string>
			</dict>
			<key>Avenger/item/wait/wait01/Wait_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1177},{370,390}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{370,390}</string>
			</dict>
			<key>Avenger/item/wait/wait01/Wait_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1569},{370,390}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{370,390}</string>
			</dict>
			<key>Avenger/item/wait/wait01/Wait_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{373,1},{370,390}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{370,390}</string>
			</dict>
			<key>Avenger/item/wait/wait01/Wait_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{765,1},{370,390}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{370,390}</string>
			</dict>
			<key>Avenger/item/wait/wait01/Wait_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{1157,1},{370,390}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{370,390}</string>
			</dict>
			<key>Avenger/item/wait/wait01/Wait_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{1549,1},{370,390}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{370,390}</string>
			</dict>
			<key>Avenger/item/wait/wait01/Wait_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{373,373},{370,390}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{370,390}</string>
			</dict>
			<key>Avenger/item/wait/wait01/Wait_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{373,765},{370,390}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{370,390}</string>
			</dict>
			<key>Avenger/item/wait/wait01/Wait_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{373,1157},{370,390}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{370,390}</string>
			</dict>
			<key>Avenger/item/wait/wait01/Wait_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{373,1549},{370,390}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{370,390}</string>
			</dict>
			<key>Avenger/item/wait/wait01/Wait_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{745,373},{370,390}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{370,390}</string>
			</dict>
			<key>Avenger/item/wait/wait01/Wait_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{1137,373},{370,390}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{370,390}</string>
			</dict>
			<key>Avenger/item/wait/wait01/Wait_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{1529,373},{370,390}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{370,390}</string>
			</dict>
			<key>Avenger/item/wait/wait01/Wait_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{745,745},{370,390}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{370,390}</string>
			</dict>
			<key>Avenger/item/wait/wait01/Wait_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{745,1137},{370,390}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{370,390}</string>
			</dict>
			<key>Avenger/item/wait/wait01/Wait_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{745,1529},{370,390}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{370,390}</string>
			</dict>
			<key>Avenger/item/wait/wait01/Wait_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1117,745},{370,390}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{370,390}</string>
			</dict>
			<key>Avenger/item/wait/wait01/Wait_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1509,745},{370,390}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{370,390}</string>
			</dict>
			<key>Avenger/item/wait/wait01/Wait_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1117,1117},{370,390}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{370,390}</string>
			</dict>
			<key>Avenger/item/wait/wait01/Wait_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1117,1509},{370,390}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{370,390}</string>
			</dict>
			<key>Avenger/item/wait/wait01/Wait_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1489,1117},{370,390}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{370,390}</string>
			</dict>
			<key>Avenger/item/wait/wait01/Wait_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1489,1489},{370,390}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{370,390}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>PlistWait1.png</string>
			<key>realTextureFileName</key>
			<string>PlistWait1.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>