<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Avenger/item/wild/Wild_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{390,540}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{390,540}</string>
			</dict>
			<key>Avenger/item/wild/Wild_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,543},{390,540}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{390,540}</string>
			</dict>
			<key>Avenger/item/wild/Wild_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1085},{390,540}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{390,540}</string>
			</dict>
			<key>Avenger/item/wild/Wild_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1627},{390,540}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{390,540}</string>
			</dict>
			<key>Avenger/item/wild/Wild_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,2169},{390,540}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{390,540}</string>
			</dict>
			<key>Avenger/item/wild/Wild_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,2711},{390,540}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{390,540}</string>
			</dict>
			<key>Avenger/item/wild/Wild_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,3253},{390,540}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{390,540}</string>
			</dict>
			<key>Avenger/item/wild/Wild_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{393,1},{390,540}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{390,540}</string>
			</dict>
			<key>Avenger/item/wild/Wild_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{935,1},{390,540}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{390,540}</string>
			</dict>
			<key>Avenger/item/wild/Wild_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{1477,1},{390,540}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{390,540}</string>
			</dict>
			<key>Avenger/item/wild/Wild_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{2019,1},{390,540}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{390,540}</string>
			</dict>
			<key>Avenger/item/wild/Wild_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{2561,1},{390,540}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{390,540}</string>
			</dict>
			<key>Avenger/item/wild/Wild_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{3103,1},{390,540}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{390,540}</string>
			</dict>
			<key>Avenger/item/wild/Wild_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{3645,1},{390,540}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{390,540}</string>
			</dict>
			<key>Avenger/item/wild/Wild_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{393,393},{390,540}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{390,540}</string>
			</dict>
			<key>Avenger/item/wild/Wild_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{935,393},{390,540}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{390,540}</string>
			</dict>
			<key>Avenger/item/wild/Wild_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{1477,393},{390,540}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{390,540}</string>
			</dict>
			<key>Avenger/item/wild/Wild_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{2019,393},{390,540}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{390,540}</string>
			</dict>
			<key>Avenger/item/wild/Wild_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{2561,393},{390,540}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{390,540}</string>
			</dict>
			<key>Avenger/item/wild/Wild_26.png</key>
			<dict>
				<key>frame</key>
				<string>{{3103,393},{390,540}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{390,540}</string>
			</dict>
			<key>Avenger/item/wild/Wild_27.png</key>
			<dict>
				<key>frame</key>
				<string>{{3645,543},{390,540}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{390,540}</string>
			</dict>
			<key>Avenger/item/wild/Wild_28.png</key>
			<dict>
				<key>frame</key>
				<string>{{393,785},{390,540}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{390,540}</string>
			</dict>
			<key>Avenger/item/wild/Wild_29.png</key>
			<dict>
				<key>frame</key>
				<string>{{935,785},{390,540}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{390,540}</string>
			</dict>
			<key>Avenger/item/wild/Wild_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1477,785},{390,540}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{390,540}</string>
			</dict>
			<key>Avenger/item/wild/Wild_30.png</key>
			<dict>
				<key>frame</key>
				<string>{{2019,785},{390,540}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{390,540}</string>
			</dict>
			<key>Avenger/item/wild/Wild_31.png</key>
			<dict>
				<key>frame</key>
				<string>{{2561,785},{390,540}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{390,540}</string>
			</dict>
			<key>Avenger/item/wild/Wild_32.png</key>
			<dict>
				<key>frame</key>
				<string>{{3103,785},{390,540}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{390,540}</string>
			</dict>
			<key>Avenger/item/wild/Wild_33.png</key>
			<dict>
				<key>frame</key>
				<string>{{3645,1085},{390,540}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{390,540}</string>
			</dict>
			<key>Avenger/item/wild/Wild_34.png</key>
			<dict>
				<key>frame</key>
				<string>{{393,1627},{390,540}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{390,540}</string>
			</dict>
			<key>Avenger/item/wild/Wild_35.png</key>
			<dict>
				<key>frame</key>
				<string>{{393,1177},{390,540}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{390,540}</string>
			</dict>
			<key>Avenger/item/wild/Wild_36.png</key>
			<dict>
				<key>frame</key>
				<string>{{393,2169},{390,540}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{390,540}</string>
			</dict>
			<key>Avenger/item/wild/Wild_37.png</key>
			<dict>
				<key>frame</key>
				<string>{{393,2711},{390,540}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{390,540}</string>
			</dict>
			<key>Avenger/item/wild/Wild_38.png</key>
			<dict>
				<key>frame</key>
				<string>{{393,3253},{390,540}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{390,540}</string>
			</dict>
			<key>Avenger/item/wild/Wild_39.png</key>
			<dict>
				<key>frame</key>
				<string>{{785,1569},{390,540}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{390,540}</string>
			</dict>
			<key>Avenger/item/wild/Wild_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{935,1177},{390,540}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{390,540}</string>
			</dict>
			<key>Avenger/item/wild/Wild_40.png</key>
			<dict>
				<key>frame</key>
				<string>{{1177,1569},{390,540}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{390,540}</string>
			</dict>
			<key>Avenger/item/wild/Wild_41.png</key>
			<dict>
				<key>frame</key>
				<string>{{1477,1177},{390,540}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{390,540}</string>
			</dict>
			<key>Avenger/item/wild/Wild_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{2019,1177},{390,540}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{390,540}</string>
			</dict>
			<key>Avenger/item/wild/Wild_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{2561,1177},{390,540}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{390,540}</string>
			</dict>
			<key>Avenger/item/wild/Wild_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{3103,1177},{390,540}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{390,540}</string>
			</dict>
			<key>Avenger/item/wild/Wild_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1719,1569},{390,540}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{390,540}</string>
			</dict>
			<key>Avenger/item/wild/Wild_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{2261,1569},{390,540}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{390,540}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>PlistWild.png</string>
			<key>realTextureFileName</key>
			<string>PlistWild.png</string>
			<key>size</key>
			<string>{4096,4096}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>4096</integer>
			<key>height</key>
			<integer>4096</integer>
		</dict>
	</dict>
</plist>