<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>res/ResourceMenuTab/BaoMat/bt1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{518,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{518,39}</string>
			</dict>
			<key>res/ResourceMenuTab/BaoMat/bt2.png</key>
			<dict>
				<key>frame</key>
				<string>{{300,259},{207,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{207,39}</string>
			</dict>
			<key>res/ResourceMenuTab/BaoMat/bt3.png</key>
			<dict>
				<key>frame</key>
				<string>{{259,1},{345,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{345,39}</string>
			</dict>
			<key>res/ResourceMenuTab/BaoMat/btn_3_hang.png</key>
			<dict>
				<key>frame</key>
				<string>{{42,398},{345,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{345,39}</string>
			</dict>
			<key>res/ResourceMenuTab/BaoMat/btn_3_hang_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{42,439},{345,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{345,39}</string>
			</dict>
			<key>res/ResourceMenuTab/BaoMat/btn_3_mid.png</key>
			<dict>
				<key>frame</key>
				<string>{{300,300},{175,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{175,43}</string>
			</dict>
			<key>res/ResourceMenuTab/BaoMat/btn_3_mid_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{374,1},{175,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{175,43}</string>
			</dict>
			<key>res/ResourceMenuTab/BaoMat/btn_get_gift.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,521},{256,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{256,69}</string>
			</dict>
			<key>res/ResourceMenuTab/BaoMat/btn_get_gift_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,779},{256,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,69}</string>
			</dict>
			<key>res/ResourceMenuTab/BaoMat/btn_gift_dis.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,850},{256,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,69}</string>
			</dict>
			<key>res/ResourceMenuTab/BaoMat/btn_gift_xu.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,921},{256,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,69}</string>
			</dict>
			<key>res/ResourceMenuTab/BaoMat/btn_gift_xu_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{303,1},{256,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{256,69}</string>
			</dict>
			<key>res/ResourceMenuTab/BaoMat/checkbox.png</key>
			<dict>
				<key>frame</key>
				<string>{{477,335},{21,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{21,21}</string>
			</dict>
			<key>res/ResourceMenuTab/BaoMat/Chk_game.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,992},{179,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{179,21}</string>
			</dict>
			<key>res/ResourceMenuTab/BaoMat/click.png</key>
			<dict>
				<key>frame</key>
				<string>{{374,178},{21,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{21,21}</string>
			</dict>
			<key>res/ResourceMenuTab/BaoMat/click2.png</key>
			<dict>
				<key>frame</key>
				<string>{{374,201},{21,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{21,21}</string>
			</dict>
			<key>res/ResourceMenuTab/BaoMat/closetf.png</key>
			<dict>
				<key>frame</key>
				<string>{{477,300},{33,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{33,33}</string>
			</dict>
			<key>res/ResourceMenuTab/BaoMat/link.png</key>
			<dict>
				<key>frame</key>
				<string>{{247,992},{54,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,20}</string>
			</dict>
			<key>res/ResourceMenuTab/BaoMat/link_click.png</key>
			<dict>
				<key>frame</key>
				<string>{{182,992},{63,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{63,22}</string>
			</dict>
			<key>res/ResourceMenuTab/BaoMat/txt_ma_gioi_thieu.png</key>
			<dict>
				<key>frame</key>
				<string>{{389,345},{263,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{263,51}</string>
			</dict>
			<key>res/ResourceMenuTab/BaoMat/txt_nhap_gift.png</key>
			<dict>
				<key>frame</key>
				<string>{{42,348},{297,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{297,48}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>PlistBaoMat.png</string>
			<key>realTextureFileName</key>
			<string>PlistBaoMat.png</string>
			<key>size</key>
			<string>{512,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>512</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>