<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>res/GameCo/Caro/Effect/canh.png</key>
			<dict>
				<key>frame</key>
				<string>{{139,533},{98,151}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,151}</string>
			</dict>
			<key>res/GameCo/Caro/Effect/flag.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,314},{217,273}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{217,273}</string>
			</dict>
			<key>res/GameCo/Caro/Effect/hoa.png</key>
			<dict>
				<key>frame</key>
				<string>{{749,390},{313,251}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{313,251}</string>
			</dict>
			<key>res/GameCo/Caro/Effect/sao.png</key>
			<dict>
				<key>frame</key>
				<string>{{397,1},{358,283}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{358,283}</string>
			</dict>
			<key>res/GameCo/Caro/Effect/saothua.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{394,311}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{394,311}</string>
			</dict>
			<key>res/GameCo/Caro/Effect/thang.png</key>
			<dict>
				<key>frame</key>
				<string>{{397,286},{285,313}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{285,313}</string>
			</dict>
			<key>res/GameCo/Caro/Effect/thua.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,533},{313,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{313,136}</string>
			</dict>
			<key>res/GameCo/Caro/audioOff.png</key>
			<dict>
				<key>frame</key>
				<string>{{249,922},{44,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,47}</string>
			</dict>
			<key>res/GameCo/Caro/audioOn.png</key>
			<dict>
				<key>frame</key>
				<string>{{217,686},{62,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{62,55}</string>
			</dict>
			<key>res/GameCo/Caro/back.png</key>
			<dict>
				<key>frame</key>
				<string>{{217,750},{74,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{74,73}</string>
			</dict>
			<key>res/GameCo/Caro/bg_info.png</key>
			<dict>
				<key>frame</key>
				<string>{{139,686},{183,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{183,76}</string>
			</dict>
			<key>res/GameCo/Caro/chat.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,933},{93,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,71}</string>
			</dict>
			<key>res/GameCo/Caro/chipVin.png</key>
			<dict>
				<key>frame</key>
				<string>{{129,871},{52,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,52}</string>
			</dict>
			<key>res/GameCo/Caro/chipXu.png</key>
			<dict>
				<key>frame</key>
				<string>{{183,871},{52,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,52}</string>
			</dict>
			<key>res/GameCo/Caro/coin_user.png</key>
			<dict>
				<key>frame</key>
				<string>{{712,286},{153,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{153,35}</string>
			</dict>
			<key>res/GameCo/Caro/cuon_giay.png</key>
			<dict>
				<key>frame</key>
				<string>{{757,1},{251,387}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{251,387}</string>
			</dict>
			<key>res/GameCo/Caro/help.png</key>
			<dict>
				<key>frame</key>
				<string>{{177,925},{93,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{93,70}</string>
			</dict>
			<key>res/GameCo/Caro/highlightTile.png</key>
			<dict>
				<key>frame</key>
				<string>{{237,870},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>res/GameCo/Caro/lua.png</key>
			<dict>
				<key>frame</key>
				<string>{{1002,390},{19,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{19,109}</string>
			</dict>
			<key>res/GameCo/Caro/Mat-dong-ho.png</key>
			<dict>
				<key>frame</key>
				<string>{{96,933},{79,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{79,83}</string>
			</dict>
			<key>res/GameCo/Caro/mat-tren.png</key>
			<dict>
				<key>frame</key>
				<string>{{217,826},{61,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,42}</string>
			</dict>
			<key>res/GameCo/Caro/nhac_nho.png</key>
			<dict>
				<key>frame</key>
				<string>{{280,826},{43,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{43,42}</string>
			</dict>
			<key>res/GameCo/Caro/Num-bam.png</key>
			<dict>
				<key>frame</key>
				<string>{{1010,1},{7,9}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{7,9}</string>
			</dict>
			<key>res/GameCo/Caro/o.png</key>
			<dict>
				<key>frame</key>
				<string>{{712,441},{29,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{29,31}</string>
			</dict>
			<key>res/GameCo/Caro/SD2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1002,501},{90,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{90,19}</string>
			</dict>
			<key>res/GameCo/Caro/shape.png</key>
			<dict>
				<key>frame</key>
				<string>{{276,314},{398,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{398,97}</string>
			</dict>
			<key>res/GameCo/Caro/Tai-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{712,502},{29,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{29,25}</string>
			</dict>
			<key>res/GameCo/Caro/Tai-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{712,529},{29,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{29,25}</string>
			</dict>
			<key>res/GameCo/Caro/vs.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,848},{126,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,83}</string>
			</dict>
			<key>res/GameCo/Caro/x.png</key>
			<dict>
				<key>frame</key>
				<string>{{712,472},{28,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,28}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>CaroPlist.png</string>
			<key>realTextureFileName</key>
			<string>CaroPlist.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>