<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>btn_botton_l.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,284},{283,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{283,86}}</string>
				<key>sourceSize</key>
				<string>{283,86}</string>
			</dict>

			<key>btn_button_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{534,71},{191,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{191,84}}</string>
				<key>sourceSize</key>
				<string>{191,84}</string>
			</dict>

			<key>btn_left_back1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,213},{529,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{529,66}}</string>
				<key>sourceSize</key>
				<string>{529,66}</string>
			</dict>

			<key>btn_left_back2.png</key>
			<dict>
				<key>frame</key>
				<string>{{288,284},{264,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{264,66}}</string>
				<key>sourceSize</key>
				<string>{265,66}</string>
			</dict>

			<key>btn_left_front1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,142},{529,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{529,66}}</string>
				<key>sourceSize</key>
				<string>{529,66}</string>
			</dict>

			<key>btn_left_front2.png</key>
			<dict>
				<key>frame</key>
				<string>{{534,0},{264,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{264,66}}</string>
				<key>sourceSize</key>
				<string>{265,66}</string>
			</dict>

			<key>btn_right_back1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{529,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{529,66}}</string>
				<key>sourceSize</key>
				<string>{529,66}</string>
			</dict>

			<key>btn_right_back2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,375},{265,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{265,66}}</string>
				<key>sourceSize</key>
				<string>{265,66}</string>
			</dict>

			<key>btn_right_front1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,71},{529,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{529,66}}</string>
				<key>sourceSize</key>
				<string>{529,66}</string>
			</dict>

			<key>btn_right_front2.png</key>
			<dict>
				<key>frame</key>
				<string>{{270,375},{265,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{265,66}}</string>
				<key>sourceSize</key>
				<string>{265,66}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1024,512}</string>
			<key>textureFileName</key>
			<string>btn_bottonn_new.png</string>
			</dict>
		</dict>
</plist>