<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CollectItemEff_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,403},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,95},{66,66}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>CollectItemEff_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,403},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,95},{66,66}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>CollectItemEff_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,2},{128,136}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,60},{128,136}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>CollectItemEff_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,2},{130,120}}</string>
                <key>offset</key>
                <string>{3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,76},{130,120}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>CollectItemEff_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,128},{136,120}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,76},{136,120}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>CollectItemEff_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,278},{128,126}}</string>
                <key>offset</key>
                <string>{-5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,70},{128,126}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>CollectItemEff_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,140},{126,136}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,60},{126,136}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>CollectItemEff_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,250},{126,118}}</string>
                <key>offset</key>
                <string>{-5,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,61},{126,118}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>CollectItemEff_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,370},{134,92}}</string>
                <key>offset</key>
                <string>{0,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,59},{134,92}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>CollectItemEff_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,341},{118,128}}</string>
                <key>offset</key>
                <string>{9,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,59},{118,128}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>CollectItemEff_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,201},{100,140}}</string>
                <key>offset</key>
                <string>{19,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,57},{100,140}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>CollectItemEff_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,201},{108,138}}</string>
                <key>offset</key>
                <string>{16,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,60},{108,138}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>CollectItemEff_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{927,80},{74,76}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,89},{74,76}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>CollectItemEff_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,252},{132,116}}</string>
                <key>offset</key>
                <string>{4,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,82},{132,116}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>CollectItemEff_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,390},{138,84}}</string>
                <key>offset</key>
                <string>{0,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,113},{138,84}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>CollectItemEff_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,158},{138,92}}</string>
                <key>offset</key>
                <string>{-1,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,105},{138,92}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>CollectItemEff_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,370},{132,96}}</string>
                <key>offset</key>
                <string>{-3,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,100},{132,96}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>CollectItemEff_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{927,2},{82,76}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,89},{82,76}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>CollectItemEff_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,264},{124,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,66},{124,124}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>CollectItemEff_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,264},{124,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,66},{124,124}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>CollectItemEff_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,2},{124,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,66},{124,124}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>CollectItemEff_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,138},{124,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,66},{124,124}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>CollectItemEff_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,2},{134,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,61},{134,134}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>CollectItemEff_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,343},{128,128}}</string>
                <key>offset</key>
                <string>{4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,59},{128,128}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>ManhThe.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,2},{197,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,197}}</string>
                <key>sourceSize</key>
                <string>{197,197}</string>
            </dict>
            <key>hopqua.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>hopqua2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{200,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,197}}</string>
                <key>sourceSize</key>
                <string>{200,197}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>AtlasIFishSkill_6.png</string>
            <key>size</key>
            <string>{1021,476}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e6affdf44c4420847595996cbbf6b04c:1/1$</string>
            <key>textureFileName</key>
            <string>AtlasIFishSkill_6.png</string>
        </dict>
    </dict>
</plist>
