<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>IMG_SKILL_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,102},{78,267}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,267}}</string>
                <key>sourceSize</key>
                <string>{78,267}</string>
            </dict>
            <key>IMG_SKILL_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,102},{78,267}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,267}}</string>
                <key>sourceSize</key>
                <string>{78,267}</string>
            </dict>
            <key>IMG_SKILL_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,102},{78,267}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,267}}</string>
                <key>sourceSize</key>
                <string>{78,267}</string>
            </dict>
            <key>IMG_SKILL_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,102},{78,267}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,267}}</string>
                <key>sourceSize</key>
                <string>{78,267}</string>
            </dict>
            <key>IMG_SKILL_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,102},{78,267}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,267}}</string>
                <key>sourceSize</key>
                <string>{78,267}</string>
            </dict>
            <key>IMG_SKILL_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,102},{78,267}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,267}}</string>
                <key>sourceSize</key>
                <string>{78,267}</string>
            </dict>
            <key>IMG_SKILL_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,102},{78,267}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,267}}</string>
                <key>sourceSize</key>
                <string>{78,267}</string>
            </dict>
            <key>IMG_SKILL_2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,102},{78,267}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,267}}</string>
                <key>sourceSize</key>
                <string>{78,267}</string>
            </dict>
            <key>IMG_SKILL_2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,102},{78,267}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,267}}</string>
                <key>sourceSize</key>
                <string>{78,267}</string>
            </dict>
            <key>IMG_SKILL_2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,102},{78,267}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,267}}</string>
                <key>sourceSize</key>
                <string>{78,267}</string>
            </dict>
            <key>IMG_SKILL_PRE_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,102},{80,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,98}}</string>
                <key>sourceSize</key>
                <string>{80,98}</string>
            </dict>
            <key>IMG_SKILL_PRE_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{80,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,98}}</string>
                <key>sourceSize</key>
                <string>{80,98}</string>
            </dict>
            <key>IMG_SKILL_PRE_2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,2},{80,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,98}}</string>
                <key>sourceSize</key>
                <string>{80,98}</string>
            </dict>
            <key>IMG_SKILL_PRE_2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,2},{80,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,98}}</string>
                <key>sourceSize</key>
                <string>{80,98}</string>
            </dict>
            <key>IMG_SKILL_PRE_2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,2},{80,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,98}}</string>
                <key>sourceSize</key>
                <string>{80,98}</string>
            </dict>
            <key>IMG_SKILL_PRE_2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,2},{80,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,98}}</string>
                <key>sourceSize</key>
                <string>{80,98}</string>
            </dict>
            <key>IMG_SKILL_PRE_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,2},{80,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,98}}</string>
                <key>sourceSize</key>
                <string>{80,98}</string>
            </dict>
            <key>IMG_SKILL_PRE_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,2},{80,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,98}}</string>
                <key>sourceSize</key>
                <string>{80,98}</string>
            </dict>
            <key>IMG_SKILL_PRE_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,2},{80,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,98}}</string>
                <key>sourceSize</key>
                <string>{80,98}</string>
            </dict>
            <key>IMG_SKILL_PRE_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,2},{80,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,98}}</string>
                <key>sourceSize</key>
                <string>{80,98}</string>
            </dict>
            <key>IMG_SKILL_PRE_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,2},{80,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,98}}</string>
                <key>sourceSize</key>
                <string>{80,98}</string>
            </dict>
            <key>IMG_SKILL_PRE_2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,2},{80,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,98}}</string>
                <key>sourceSize</key>
                <string>{80,98}</string>
            </dict>
            <key>IMG_SKILL_PRE_2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,2},{80,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,98}}</string>
                <key>sourceSize</key>
                <string>{80,98}</string>
            </dict>
            <key>IMG_SKILL_PRE_2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{80,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,98}}</string>
                <key>sourceSize</key>
                <string>{80,98}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>AtlasIFishSkill_7.png</string>
            <key>size</key>
            <string>{986,371}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:568e4c13ba735f4f37d010ce226e5ff0:f196b4b1d05653425b7dff1ecd481bf4:bcba8338f6a80dda35be9bf184b13b3d$</string>
            <key>textureFileName</key>
            <string>AtlasIFishSkill_7.png</string>
        </dict>
    </dict>
</plist>
