<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>IMG_SKILL_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,2},{81,615}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,615}}</string>
                <key>sourceSize</key>
                <string>{81,615}</string>
            </dict>
            <key>IMG_SKILL_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,2},{81,615}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,615}}</string>
                <key>sourceSize</key>
                <string>{81,615}</string>
            </dict>
            <key>IMG_SKILL_1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,2},{81,615}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,615}}</string>
                <key>sourceSize</key>
                <string>{81,615}</string>
            </dict>
            <key>IMG_SKILL_1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,2},{81,615}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,615}}</string>
                <key>sourceSize</key>
                <string>{81,615}</string>
            </dict>
            <key>IMG_SKILL_1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,2},{81,615}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,615}}</string>
                <key>sourceSize</key>
                <string>{81,615}</string>
            </dict>
            <key>IMG_SKILL_1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{81,615}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,615}}</string>
                <key>sourceSize</key>
                <string>{81,615}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>AtlasIFishSkill_2.png</string>
            <key>size</key>
            <string>{500,619}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a6db397fd888ab53df3060beebc486ec:73543d8dc0c824e0d33bc4b7770e2cb9:de0c7931c855eccb6b8b9fd600148d01$</string>
            <key>textureFileName</key>
            <string>AtlasIFishSkill_2.png</string>
        </dict>
    </dict>
</plist>
