<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>IMG_SKILL_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{222,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,222}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>IMG_SKILL_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,226},{222,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,222}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>IMG_SKILL_3_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,450},{222,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,222}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>IMG_SKILL_3_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,674},{222,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,222}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>IMG_SKILL_3_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,2},{222,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,222}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>IMG_SKILL_3_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,2},{222,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,222}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>IMG_SKILL_3_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,2},{222,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,222}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>IMG_SKILL_3_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,226},{222,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,222}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>IMG_SKILL_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,450},{222,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,222}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>IMG_SKILL_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,674},{222,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,222}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>IMG_SKILL_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,226},{222,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,222}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>IMG_SKILL_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,226},{222,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,222}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>IMG_SKILL_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,450},{222,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,222}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>IMG_SKILL_3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,674},{222,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,222}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>IMG_SKILL_3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,450},{222,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,222}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>IMG_SKILL_3_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,674},{222,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,222}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>AtlasIFishSkill_8.png</string>
            <key>size</key>
            <string>{898,898}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:053cbb5b79708ee440a645f5f9617564:22d5eb342b7a0014ee76893b8ff8cca7:135a1f0cbe73b5efc477b9cb73afddc6$</string>
            <key>textureFileName</key>
            <string>AtlasIFishSkill_8.png</string>
        </dict>
    </dict>
</plist>
