<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blue00.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,1082},{192,178}}</string>
                <key>offset</key>
                <string>{11,-91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,218},{192,178}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>blue01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1104},{232,190}}</string>
                <key>offset</key>
                <string>{7,-71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,192},{232,190}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>blue02.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,1082},{266,208}}</string>
                <key>offset</key>
                <string>{9,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,170},{266,208}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>blue03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,880},{290,222}}</string>
                <key>offset</key>
                <string>{9,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,154},{290,222}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>blue04.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,846},{306,234}}</string>
                <key>offset</key>
                <string>{8,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,141},{306,234}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>blue05.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,838},{318,246}}</string>
                <key>offset</key>
                <string>{9,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,127},{318,246}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>blue06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1100,816},{332,256}}</string>
                <key>offset</key>
                <string>{7,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,117},{332,256}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>blue07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1536,568},{340,262}}</string>
                <key>offset</key>
                <string>{10,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,111},{340,262}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>blue08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1184,548},{350,266}}</string>
                <key>offset</key>
                <string>{10,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,99},{350,266}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>blue09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1584,292},{358,274}}</string>
                <key>offset</key>
                <string>{10,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,92},{358,274}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>blue10.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,558},{346,278}}</string>
                <key>offset</key>
                <string>{-2,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,88},{346,278}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>blue11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,598},{370,280}}</string>
                <key>offset</key>
                <string>{9,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,86},{370,280}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>blue12.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,556},{370,288}}</string>
                <key>offset</key>
                <string>{10,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,79},{370,288}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>blue13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,302},{376,294}}</string>
                <key>offset</key>
                <string>{7,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,74},{376,294}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>blue14.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,294},{378,260}}</string>
                <key>offset</key>
                <string>{6,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,71},{378,260}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>blue15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1196,282},{386,264}}</string>
                <key>offset</key>
                <string>{8,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,67},{386,264}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>blue16.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,288},{380,268}}</string>
                <key>offset</key>
                <string>{5,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,64},{380,268}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>blue17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1196,2},{390,278}}</string>
                <key>offset</key>
                <string>{4,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,56},{390,278}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>blue18.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,2},{392,290}}</string>
                <key>offset</key>
                <string>{6,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,47},{392,290}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>blue19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{404,298}}</string>
                <key>offset</key>
                <string>{2,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,43},{404,298}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>blue20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1588,2},{388,288}}</string>
                <key>offset</key>
                <string>{-5,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,38},{388,288}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>blue21.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,2},{392,284}}</string>
                <key>offset</key>
                <string>{-3,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,35},{392,284}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>blue.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d230f088c0d95bda6664ec3288cd4ce2$</string>
            <key>textureFileName</key>
            <string>blue.png</string>
        </dict>
    </dict>
</plist>
