<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boom00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1139,2718},{201,196}}</string>
                <key>offset</key>
                <string>{21,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{266,150},{201,196}}</string>
                <key>sourceSize</key>
                <string>{691,518}</string>
            </dict>
            <key>boom01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1139,2965},{239,226}}</string>
                <key>offset</key>
                <string>{17,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{243,132},{239,226}}</string>
                <key>sourceSize</key>
                <string>{691,518}</string>
            </dict>
            <key>boom02.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,2750},{263,248}}</string>
                <key>offset</key>
                <string>{17,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,120},{263,248}}</string>
                <key>sourceSize</key>
                <string>{691,518}</string>
            </dict>
            <key>boom03.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,2718},{283,270}}</string>
                <key>offset</key>
                <string>{18,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,109},{283,270}}</string>
                <key>sourceSize</key>
                <string>{691,518}</string>
            </dict>
            <key>boom04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1350,2671},{305,292}}</string>
                <key>offset</key>
                <string>{19,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,98},{305,292}}</string>
                <key>sourceSize</key>
                <string>{691,518}</string>
            </dict>
            <key>boom05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1711,2660},{325,312}}</string>
                <key>offset</key>
                <string>{20,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,88},{325,312}}</string>
                <key>sourceSize</key>
                <string>{691,518}</string>
            </dict>
            <key>boom06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1711,2315},{343,334}}</string>
                <key>offset</key>
                <string>{20,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,75},{343,334}}</string>
                <key>sourceSize</key>
                <string>{691,518}</string>
            </dict>
            <key>boom07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1350,2315},{359,354}}</string>
                <key>offset</key>
                <string>{19,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,65},{359,354}}</string>
                <key>sourceSize</key>
                <string>{691,518}</string>
            </dict>
            <key>boom08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2368},{375,376}}</string>
                <key>offset</key>
                <string>{17,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,53},{375,376}}</string>
                <key>sourceSize</key>
                <string>{691,518}</string>
            </dict>
            <key>boom09.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,2357},{391,398}}</string>
                <key>offset</key>
                <string>{14,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,41},{391,398}}</string>
                <key>sourceSize</key>
                <string>{691,518}</string>
            </dict>
            <key>boom10.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,2309},{407,416}}</string>
                <key>offset</key>
                <string>{13,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,32},{407,416}}</string>
                <key>sourceSize</key>
                <string>{691,518}</string>
            </dict>
            <key>boom11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1450,1890},{423,434}}</string>
                <key>offset</key>
                <string>{11,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{145,22},{423,434}}</string>
                <key>sourceSize</key>
                <string>{691,518}</string>
            </dict>
            <key>boom12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1929},{437,450}}</string>
                <key>offset</key>
                <string>{11,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,14},{437,450}}</string>
                <key>sourceSize</key>
                <string>{691,518}</string>
            </dict>
            <key>boom13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1476},{451,464}}</string>
                <key>offset</key>
                <string>{10,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,6},{451,464}}</string>
                <key>sourceSize</key>
                <string>{691,518}</string>
            </dict>
            <key>boom14.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,1456},{461,476}}</string>
                <key>offset</key>
                <string>{10,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{125,0},{461,476}}</string>
                <key>sourceSize</key>
                <string>{691,518}</string>
            </dict>
            <key>boom15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,981},{473,482}}</string>
                <key>offset</key>
                <string>{9,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,0},{473,482}}</string>
                <key>sourceSize</key>
                <string>{691,518}</string>
            </dict>
            <key>boom16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,498},{481,486}}</string>
                <key>offset</key>
                <string>{8,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,0},{481,486}}</string>
                <key>sourceSize</key>
                <string>{691,518}</string>
            </dict>
            <key>boom17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,500},{487,490}}</string>
                <key>offset</key>
                <string>{8,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,0},{487,490}}</string>
                <key>sourceSize</key>
                <string>{691,518}</string>
            </dict>
            <key>boom18.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,498},{493,492}}</string>
                <key>offset</key>
                <string>{8,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,0},{493,492}}</string>
                <key>sourceSize</key>
                <string>{691,518}</string>
            </dict>
            <key>boom19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,2},{499,494}}</string>
                <key>offset</key>
                <string>{7,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,0},{499,494}}</string>
                <key>sourceSize</key>
                <string>{691,518}</string>
            </dict>
            <key>boom20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{501,496}}</string>
                <key>offset</key>
                <string>{7,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,0},{501,496}}</string>
                <key>sourceSize</key>
                <string>{691,518}</string>
            </dict>
            <key>boom21.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,2},{499,494}}</string>
                <key>offset</key>
                <string>{5,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,0},{499,494}}</string>
                <key>sourceSize</key>
                <string>{691,518}</string>
            </dict>
            <key>boom22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1507,2},{495,488}}</string>
                <key>offset</key>
                <string>{5,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,0},{495,488}}</string>
                <key>sourceSize</key>
                <string>{691,518}</string>
            </dict>
            <key>boom23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1507,492},{495,486}}</string>
                <key>offset</key>
                <string>{7,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,0},{495,486}}</string>
                <key>sourceSize</key>
                <string>{691,518}</string>
            </dict>
            <key>boom24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,989},{485,488}}</string>
                <key>offset</key>
                <string>{8,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,0},{485,488}}</string>
                <key>sourceSize</key>
                <string>{691,518}</string>
            </dict>
            <key>boom25.png</key>
            <dict>
                <key>frame</key>
                <string>{{1488,980},{475,482}}</string>
                <key>offset</key>
                <string>{9,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,0},{475,482}}</string>
                <key>sourceSize</key>
                <string>{691,518}</string>
            </dict>
            <key>boom26.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,992},{465,478}}</string>
                <key>offset</key>
                <string>{9,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,0},{465,478}}</string>
                <key>sourceSize</key>
                <string>{691,518}</string>
            </dict>
            <key>boom27.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,1459},{453,470}}</string>
                <key>offset</key>
                <string>{10,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,0},{453,470}}</string>
                <key>sourceSize</key>
                <string>{691,518}</string>
            </dict>
            <key>boom28.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,1914},{441,462}}</string>
                <key>offset</key>
                <string>{10,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{135,2},{441,462}}</string>
                <key>sourceSize</key>
                <string>{691,518}</string>
            </dict>
            <key>boom29.png</key>
            <dict>
                <key>frame</key>
                <string>{{1450,1457},{431,450}}</string>
                <key>offset</key>
                <string>{10,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,8},{431,450}}</string>
                <key>sourceSize</key>
                <string>{691,518}</string>
            </dict>
            <key>boom30.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,1919},{419,388}}</string>
                <key>offset</key>
                <string>{10,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,64},{419,388}}</string>
                <key>sourceSize</key>
                <string>{691,518}</string>
            </dict>
            <key>boom31.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2745},{365,372}}</string>
                <key>offset</key>
                <string>{-11,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{152,73},{365,372}}</string>
                <key>sourceSize</key>
                <string>{691,518}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bomb.png</string>
            <key>size</key>
            <string>{2048,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f0c246f1559264397d9876df484ec8cf$</string>
            <key>textureFileName</key>
            <string>bomb.png</string>
        </dict>
    </dict>
</plist>
