<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boom_darts0.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,1180},{60,58}}</string>
                <key>offset</key>
                <string>{2,66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,115},{60,58}}</string>
                <key>sourceSize</key>
                <string>{460,420}</string>
            </dict>
            <key>boom_darts1.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,728},{94,96}}</string>
                <key>offset</key>
                <string>{1,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,98},{94,96}}</string>
                <key>sourceSize</key>
                <string>{460,420}</string>
            </dict>
            <key>boom_darts10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1204,1250},{324,330}}</string>
                <key>offset</key>
                <string>{3,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,2},{324,330}}</string>
                <key>sourceSize</key>
                <string>{460,420}</string>
            </dict>
            <key>boom_darts11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1824,2},{332,338}}</string>
                <key>offset</key>
                <string>{3,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,1},{332,338}}</string>
                <key>sourceSize</key>
                <string>{460,420}</string>
            </dict>
            <key>boom_darts12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1162,728},{338,344}}</string>
                <key>offset</key>
                <string>{3,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,1},{338,344}}</string>
                <key>sourceSize</key>
                <string>{460,420}</string>
            </dict>
            <key>boom_darts13.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,826},{344,352}}</string>
                <key>offset</key>
                <string>{4,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,0},{344,352}}</string>
                <key>sourceSize</key>
                <string>{460,420}</string>
            </dict>
            <key>boom_darts14.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,368},{352,358}}</string>
                <key>offset</key>
                <string>{3,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,0},{352,358}}</string>
                <key>sourceSize</key>
                <string>{460,420}</string>
            </dict>
            <key>boom_darts15.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,2},{358,364}}</string>
                <key>offset</key>
                <string>{3,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,0},{358,364}}</string>
                <key>sourceSize</key>
                <string>{460,420}</string>
            </dict>
            <key>boom_darts16.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,2},{364,370}}</string>
                <key>offset</key>
                <string>{4,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,0},{364,370}}</string>
                <key>sourceSize</key>
                <string>{460,420}</string>
            </dict>
            <key>boom_darts17.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,1662},{370,376}}</string>
                <key>offset</key>
                <string>{4,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,0},{370,376}}</string>
                <key>sourceSize</key>
                <string>{460,420}</string>
            </dict>
            <key>boom_darts18.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,1666},{376,382}}</string>
                <key>offset</key>
                <string>{4,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,0},{376,382}}</string>
                <key>sourceSize</key>
                <string>{460,420}</string>
            </dict>
            <key>boom_darts19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1666},{380,390}}</string>
                <key>offset</key>
                <string>{4,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,0},{380,390}}</string>
                <key>sourceSize</key>
                <string>{460,420}</string>
            </dict>
            <key>boom_darts2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1334,1074},{136,136}}</string>
                <key>offset</key>
                <string>{1,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,75},{136,136}}</string>
                <key>sourceSize</key>
                <string>{460,420}</string>
            </dict>
            <key>boom_darts20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1150,1658},{386,400}}</string>
                <key>offset</key>
                <string>{4,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,0},{386,400}}</string>
                <key>sourceSize</key>
                <string>{460,420}</string>
            </dict>
            <key>boom_darts21.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,1250},{392,410}}</string>
                <key>offset</key>
                <string>{4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,0},{392,410}}</string>
                <key>sourceSize</key>
                <string>{460,420}</string>
            </dict>
            <key>boom_darts22.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,1250},{396,406}}</string>
                <key>offset</key>
                <string>{4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,1},{396,406}}</string>
                <key>sourceSize</key>
                <string>{460,420}</string>
            </dict>
            <key>boom_darts23.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,838},{402,410}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,2},{402,410}}</string>
                <key>sourceSize</key>
                <string>{460,420}</string>
            </dict>
            <key>boom_darts24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,838},{408,414}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,4},{408,414}}</string>
                <key>sourceSize</key>
                <string>{460,420}</string>
            </dict>
            <key>boom_darts25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,420},{412,416}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,4},{412,416}}</string>
                <key>sourceSize</key>
                <string>{460,420}</string>
            </dict>
            <key>boom_darts26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{416,414}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,6},{416,414}}</string>
                <key>sourceSize</key>
                <string>{460,420}</string>
            </dict>
            <key>boom_darts27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1254},{410,408}}</string>
                <key>offset</key>
                <string>{10,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,12},{410,408}}</string>
                <key>sourceSize</key>
                <string>{460,420}</string>
            </dict>
            <key>boom_darts28.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,420},{396,400}}</string>
                <key>offset</key>
                <string>{15,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,20},{396,400}}</string>
                <key>sourceSize</key>
                <string>{460,420}</string>
            </dict>
            <key>boom_darts29.png</key>
            <dict>
                <key>frame</key>
                <string>{{1144,2},{352,348}}</string>
                <key>offset</key>
                <string>{18,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,72},{352,348}}</string>
                <key>sourceSize</key>
                <string>{460,420}</string>
            </dict>
            <key>boom_darts3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1162,1074},{174,170}}</string>
                <key>offset</key>
                <string>{1,65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,60},{174,170}}</string>
                <key>sourceSize</key>
                <string>{460,420}</string>
            </dict>
            <key>boom_darts30.png</key>
            <dict>
                <key>frame</key>
                <string>{{1494,2},{328,340}}</string>
                <key>offset</key>
                <string>{3,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,72},{328,340}}</string>
                <key>sourceSize</key>
                <string>{460,420}</string>
            </dict>
            <key>boom_darts31.png</key>
            <dict>
                <key>frame</key>
                <string>{{1168,356},{330,342}}</string>
                <key>offset</key>
                <string>{3,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,76},{330,342}}</string>
                <key>sourceSize</key>
                <string>{460,420}</string>
            </dict>
            <key>boom_darts32.png</key>
            <dict>
                <key>frame</key>
                <string>{{1500,344},{332,338}}</string>
                <key>offset</key>
                <string>{4,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,82},{332,338}}</string>
                <key>sourceSize</key>
                <string>{460,420}</string>
            </dict>
            <key>boom_darts4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1738,1006},{206,204}}</string>
                <key>offset</key>
                <string>{2,65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,43},{206,204}}</string>
                <key>sourceSize</key>
                <string>{460,420}</string>
            </dict>
            <key>boom_darts5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1502,1006},{236,234}}</string>
                <key>offset</key>
                <string>{1,62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,31},{236,234}}</string>
                <key>sourceSize</key>
                <string>{460,420}</string>
            </dict>
            <key>boom_darts6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1834,342},{264,262}}</string>
                <key>offset</key>
                <string>{1,59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,20},{264,262}}</string>
                <key>sourceSize</key>
                <string>{460,420}</string>
            </dict>
            <key>boom_darts7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1818,684},{288,286}}</string>
                <key>offset</key>
                <string>{2,54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,13},{288,286}}</string>
                <key>sourceSize</key>
                <string>{460,420}</string>
            </dict>
            <key>boom_darts8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1530,1244},{304,306}}</string>
                <key>offset</key>
                <string>{2,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,7},{304,306}}</string>
                <key>sourceSize</key>
                <string>{460,420}</string>
            </dict>
            <key>boom_darts9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1502,684},{314,320}}</string>
                <key>offset</key>
                <string>{3,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,4},{314,320}}</string>
                <key>sourceSize</key>
                <string>{460,420}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>boom_darts.png</string>
            <key>size</key>
            <string>{4096,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ba519edb6c4762e2c70a12508c02f3b6$</string>
            <key>textureFileName</key>
            <string>boom_darts.png</string>
        </dict>
    </dict>
</plist>
