<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Bullet1_Normal_1_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{286,445},{26,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{26,42}}</string>
				<key>sourceSize</key>
				<string>{26,42}</string>
			</dict>

			<key>Bullet1_Normal_2_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{292,322},{26,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{26,42}}</string>
				<key>sourceSize</key>
				<string>{26,42}</string>
			</dict>

			<key>Bullet1_Normal_3_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{286,445},{26,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{26,42}}</string>
				<key>sourceSize</key>
				<string>{26,42}</string>
			</dict>

			<key>Bullet1_Normal_4_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{292,322},{26,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{26,42}}</string>
				<key>sourceSize</key>
				<string>{26,42}</string>
			</dict>

			<key>Bullet1_Normal_5_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{286,445},{26,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{26,42}}</string>
				<key>sourceSize</key>
				<string>{26,42}</string>
			</dict>

			<key>Bullet1_Normal_6_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{292,322},{26,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{26,42}}</string>
				<key>sourceSize</key>
				<string>{26,42}</string>
			</dict>

			<key>Bullet1_Specialt_a.png</key>
			<dict>
				<key>frame</key>
				<string>{{173,177},{52,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{52,57}}</string>
				<key>sourceSize</key>
				<string>{52,57}</string>
			</dict>

			<key>Bullet1_Specialt_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{226,177},{52,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{52,57}}</string>
				<key>sourceSize</key>
				<string>{52,57}</string>
			</dict>

			<key>Bullet2_Normal_1_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{279,169},{45,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{45,37}}</string>
				<key>sourceSize</key>
				<string>{45,37}</string>
			</dict>

			<key>Bullet2_Normal_2_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{279,169},{45,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{45,37}}</string>
				<key>sourceSize</key>
				<string>{45,37}</string>
			</dict>

			<key>Bullet2_Normal_3_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{279,169},{45,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{45,37}}</string>
				<key>sourceSize</key>
				<string>{45,37}</string>
			</dict>

			<key>Bullet2_Normal_4_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{279,169},{45,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{45,37}}</string>
				<key>sourceSize</key>
				<string>{45,37}</string>
			</dict>

			<key>Bullet2_Normal_5_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{279,169},{45,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{45,37}}</string>
				<key>sourceSize</key>
				<string>{45,37}</string>
			</dict>

			<key>Bullet2_Normal_6_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{279,169},{45,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{45,37}}</string>
				<key>sourceSize</key>
				<string>{45,37}</string>
			</dict>

			<key>Bullet2_Specialt_a.png</key>
			<dict>
				<key>frame</key>
				<string>{{218,279},{52,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{52,43}}</string>
				<key>sourceSize</key>
				<string>{52,43}</string>
			</dict>

			<key>Bullet2_Specialt_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{244,235},{52,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{52,43}}</string>
				<key>sourceSize</key>
				<string>{52,43}</string>
			</dict>

			<key>Bullet3_Normal_1_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{286,415},{38,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{38,29}}</string>
				<key>sourceSize</key>
				<string>{38,29}</string>
			</dict>

			<key>Bullet3_Normal_2_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{286,415},{38,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{38,29}}</string>
				<key>sourceSize</key>
				<string>{38,29}</string>
			</dict>

			<key>Bullet3_Normal_3_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{286,415},{38,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{38,29}}</string>
				<key>sourceSize</key>
				<string>{38,29}</string>
			</dict>

			<key>Bullet3_Normal_4_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{286,415},{38,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{38,29}}</string>
				<key>sourceSize</key>
				<string>{38,29}</string>
			</dict>

			<key>Bullet3_Normal_5_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{286,415},{38,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{38,29}}</string>
				<key>sourceSize</key>
				<string>{38,29}</string>
			</dict>

			<key>Bullet3_Normal_6_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{286,415},{38,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{38,29}}</string>
				<key>sourceSize</key>
				<string>{38,29}</string>
			</dict>

			<key>Bullet3_Specialt_a.png</key>
			<dict>
				<key>frame</key>
				<string>{{199,0},{52,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{52,55}}</string>
				<key>sourceSize</key>
				<string>{52,55}</string>
			</dict>

			<key>Bullet3_Specialt_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,279},{52,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{52,55}}</string>
				<key>sourceSize</key>
				<string>{52,55}</string>
			</dict>

			<key>gold_coin_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{86,261},{78,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{78,71}}</string>
				<key>sourceSize</key>
				<string>{78,71}</string>
			</dict>

			<key>gold_coin_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,443},{78,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{78,49}}</string>
				<key>sourceSize</key>
				<string>{78,49}</string>
			</dict>

			<key>gold_coin_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{158,442},{78,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{78,65}}</string>
				<key>sourceSize</key>
				<string>{78,65}</string>
			</dict>

			<key>gold_coin_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{164,346},{78,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{78,77}}</string>
				<key>sourceSize</key>
				<string>{78,77}</string>
			</dict>

			<key>gold_coin_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,493},{78,12}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{78,12}}</string>
				<key>sourceSize</key>
				<string>{78,12}</string>
			</dict>

			<key>gold_coin_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,241},{78,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{78,37}}</string>
				<key>sourceSize</key>
				<string>{78,37}</string>
			</dict>

			<key>gold_coin_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{79,443},{78,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{78,65}}</string>
				<key>sourceSize</key>
				<string>{78,65}</string>
			</dict>

			<key>gold_coin_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{94,91},{78,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{78,77}}</string>
				<key>sourceSize</key>
				<string>{78,77}</string>
			</dict>

			<key>gold_coin_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{94,169},{78,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{78,71}}</string>
				<key>sourceSize</key>
				<string>{78,71}</string>
			</dict>

			<key>gold_coin_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{120,0},{78,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{78,49}}</string>
				<key>sourceSize</key>
				<string>{78,49}</string>
			</dict>

			<key>gold_coin_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{86,333},{78,12}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{78,12}}</string>
				<key>sourceSize</key>
				<string>{78,12}</string>
			</dict>

			<key>gold_coin_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{120,50},{78,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{78,37}}</string>
				<key>sourceSize</key>
				<string>{78,37}</string>
			</dict>

			<key>gun_1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,261},{85,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{85,90}}</string>
				<key>sourceSize</key>
				<string>{85,90}</string>
			</dict>

			<key>gun_1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,91},{93,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{93,89}}</string>
				<key>sourceSize</key>
				<string>{93,89}</string>
			</dict>

			<key>gun_2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,181},{93,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{93,79}}</string>
				<key>sourceSize</key>
				<string>{93,79}</string>
			</dict>

			<key>gun_2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{173,88},{75,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{75,88}}</string>
				<key>sourceSize</key>
				<string>{75,88}</string>
			</dict>

			<key>gun_3_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,352},{81,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,90}}</string>
				<key>sourceSize</key>
				<string>{81,90}</string>
			</dict>

			<key>gun_3_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{82,352},{81,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,89}}</string>
				<key>sourceSize</key>
				<string>{81,89}</string>
			</dict>

			<key>gun_electric.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{119,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{119,90}}</string>
				<key>sourceSize</key>
				<string>{119,90}</string>
			</dict>

			<key>silver_coin_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{252,0},{48,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{48,45}}</string>
				<key>sourceSize</key>
				<string>{48,45}</string>
			</dict>

			<key>silver_coin_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{249,105},{48,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{48,31}}</string>
				<key>sourceSize</key>
				<string>{48,31}</string>
			</dict>

			<key>silver_coin_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{243,372},{48,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{48,42}}</string>
				<key>sourceSize</key>
				<string>{48,42}</string>
			</dict>

			<key>silver_coin_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{249,56},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{48,48}}</string>
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>

			<key>silver_coin_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{94,241},{48,7}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{48,7}}</string>
				<key>sourceSize</key>
				<string>{48,7}</string>
			</dict>

			<key>silver_coin_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{199,56},{48,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{48,24}}</string>
				<key>sourceSize</key>
				<string>{48,24}</string>
			</dict>

			<key>silver_coin_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{271,279},{48,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{48,42}}</string>
				<key>sourceSize</key>
				<string>{48,42}</string>
			</dict>

			<key>silver_coin_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{243,323},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{48,48}}</string>
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>

			<key>silver_coin_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{237,449},{48,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{48,45}}</string>
				<key>sourceSize</key>
				<string>{48,45}</string>
			</dict>

			<key>silver_coin_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{249,137},{48,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{48,31}}</string>
				<key>sourceSize</key>
				<string>{48,31}</string>
			</dict>

			<key>silver_coin_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{94,249},{48,7}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{48,7}}</string>
				<key>sourceSize</key>
				<string>{48,7}</string>
			</dict>

			<key>silver_coin_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{237,424},{48,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{48,24}}</string>
				<key>sourceSize</key>
				<string>{48,24}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,512}</string>
			<key>textureFileName</key>
			<string>bullet_guns_coins.png</string>
			</dict>
		</dict>
</plist>