<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish_17_die_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1170,1692},{172,336}}</string>
                <key>offset</key>
                <string>{-48,79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,2},{172,336}}</string>
                <key>sourceSize</key>
                <string>{294,498}</string>
            </dict>
            <key>fish_17_die_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,2},{186,374}}</string>
                <key>offset</key>
                <string>{-54,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,374}}</string>
                <key>sourceSize</key>
                <string>{294,498}</string>
            </dict>
            <key>fish_17_die_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1006},{192,498}}</string>
                <key>offset</key>
                <string>{22,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,0},{192,498}}</string>
                <key>sourceSize</key>
                <string>{294,498}</string>
            </dict>
            <key>fish_17_die_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,1414},{188,422}}</string>
                <key>offset</key>
                <string>{-53,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,422}}</string>
                <key>sourceSize</key>
                <string>{294,498}</string>
            </dict>
            <key>fish_17_die_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,2},{188,422}}</string>
                <key>offset</key>
                <string>{-53,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,422}}</string>
                <key>sourceSize</key>
                <string>{294,498}</string>
            </dict>
            <key>fish_17_die_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,1483},{148,476}}</string>
                <key>offset</key>
                <string>{-19,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,0},{148,476}}</string>
                <key>sourceSize</key>
                <string>{294,498}</string>
            </dict>
            <key>fish_17_die_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,2},{192,498}}</string>
                <key>offset</key>
                <string>{22,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,0},{192,498}}</string>
                <key>sourceSize</key>
                <string>{294,498}</string>
            </dict>
            <key>fish_17_die_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,466},{218,456}}</string>
                <key>offset</key>
                <string>{37,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,0},{218,456}}</string>
                <key>sourceSize</key>
                <string>{294,498}</string>
            </dict>
            <key>fish_17_die_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,426},{214,402}}</string>
                <key>offset</key>
                <string>{34,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,0},{214,402}}</string>
                <key>sourceSize</key>
                <string>{294,498}</string>
            </dict>
            <key>fish_17_die_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,1838},{200,372}}</string>
                <key>offset</key>
                <string>{24,63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,0},{200,372}}</string>
                <key>sourceSize</key>
                <string>{294,498}</string>
            </dict>
            <key>fish_17_die_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,1328},{196,362}}</string>
                <key>offset</key>
                <string>{20,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,0},{196,362}}</string>
                <key>sourceSize</key>
                <string>{294,498}</string>
            </dict>
            <key>fish_17_die_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,924},{216,402}}</string>
                <key>offset</key>
                <string>{33,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,0},{216,402}}</string>
                <key>sourceSize</key>
                <string>{294,498}</string>
            </dict>
            <key>fish_btoq_yd_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{655,954},{155,458}}</string>
                <key>offset</key>
                <string>{-20,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{155,458}}</string>
                <key>sourceSize</key>
                <string>{205,492}</string>
            </dict>
            <key>fish_btoq_yd_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,2},{165,462}}</string>
                <key>offset</key>
                <string>{-2,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,1},{165,462}}</string>
                <key>sourceSize</key>
                <string>{205,492}</string>
            </dict>
            <key>fish_btoq_yd_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,1464},{161,470}}</string>
                <key>offset</key>
                <string>{22,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,0},{161,470}}</string>
                <key>sourceSize</key>
                <string>{205,492}</string>
            </dict>
            <key>fish_btoq_yd_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,989},{149,470}}</string>
                <key>offset</key>
                <string>{22,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,0},{149,470}}</string>
                <key>sourceSize</key>
                <string>{205,492}</string>
            </dict>
            <key>fish_btoq_yd_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,2},{133,466}}</string>
                <key>offset</key>
                <string>{14,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,0},{133,466}}</string>
                <key>sourceSize</key>
                <string>{205,492}</string>
            </dict>
            <key>fish_btoq_yd_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,1506},{147,488}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,0},{147,488}}</string>
                <key>sourceSize</key>
                <string>{205,492}</string>
            </dict>
            <key>fish_btoq_yd_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1506},{167,490}}</string>
                <key>offset</key>
                <string>{-18,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{167,490}}</string>
                <key>sourceSize</key>
                <string>{205,492}</string>
            </dict>
            <key>fish_btoq_yd_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,995},{147,486}}</string>
                <key>offset</key>
                <string>{-25,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{147,486}}</string>
                <key>sourceSize</key>
                <string>{205,492}</string>
            </dict>
            <key>fish_qtob_yd_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{153,501}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{153,501}}</string>
                <key>sourceSize</key>
                <string>{205,501}</string>
            </dict>
            <key>fish_qtob_yd_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,505},{173,499}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,2},{173,499}}</string>
                <key>sourceSize</key>
                <string>{205,501}</string>
            </dict>
            <key>fish_qtob_yd_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,502},{159,491}}</string>
                <key>offset</key>
                <string>{23,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,2},{159,491}}</string>
                <key>sourceSize</key>
                <string>{205,501}</string>
            </dict>
            <key>fish_qtob_yd_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,2},{155,479}}</string>
                <key>offset</key>
                <string>{7,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,2},{155,479}}</string>
                <key>sourceSize</key>
                <string>{205,501}</string>
            </dict>
            <key>fish_qtob_yd_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,989},{157,473}}</string>
                <key>offset</key>
                <string>{-20,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{157,473}}</string>
                <key>sourceSize</key>
                <string>{205,501}</string>
            </dict>
            <key>fish_qtob_yd_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,502},{167,485}}</string>
                <key>offset</key>
                <string>{-19,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{167,485}}</string>
                <key>sourceSize</key>
                <string>{205,501}</string>
            </dict>
            <key>fish_qtob_yd_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,483},{159,469}}</string>
                <key>offset</key>
                <string>{-13,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{159,469}}</string>
                <key>sourceSize</key>
                <string>{205,501}</string>
            </dict>
            <key>fish_qtob_yd_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,1461},{161,459}}</string>
                <key>offset</key>
                <string>{-6,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{161,459}}</string>
                <key>sourceSize</key>
                <string>{205,501}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_renyu_1.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b5bdfb9ea9251ce056a10c377713ca20:1/1$</string>
            <key>textureFileName</key>
            <string>fish_renyu_1.png</string>
        </dict>
    </dict>
</plist>
