<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishDead_ignot_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,230},{145,139}}</string>
                <key>offset</key>
                <string>{-49,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,6},{145,139}}</string>
                <key>sourceSize</key>
                <string>{245,215}</string>
            </dict>
            <key>fishDead_ignot_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,230},{145,139}}</string>
                <key>offset</key>
                <string>{46,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,6},{145,139}}</string>
                <key>sourceSize</key>
                <string>{245,215}</string>
            </dict>
            <key>fishDead_ignot_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,664},{145,195}}</string>
                <key>offset</key>
                <string>{50,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,6},{145,195}}</string>
                <key>sourceSize</key>
                <string>{245,215}</string>
            </dict>
            <key>fishDead_ignot_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{693,408},{175,195}}</string>
                <key>offset</key>
                <string>{30,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,6},{175,195}}</string>
                <key>sourceSize</key>
                <string>{245,215}</string>
            </dict>
            <key>fishDead_ignot_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,209},{207,199}}</string>
                <key>offset</key>
                <string>{14,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,7},{207,199}}</string>
                <key>sourceSize</key>
                <string>{245,215}</string>
            </dict>
            <key>fishDead_ignot_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,205},{207,201}}</string>
                <key>offset</key>
                <string>{14,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,6},{207,201}}</string>
                <key>sourceSize</key>
                <string>{245,215}</string>
            </dict>
            <key>fishDead_ignot_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,2},{237,205}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,7},{237,205}}</string>
                <key>sourceSize</key>
                <string>{245,215}</string>
            </dict>
            <key>fishDead_ignot_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,2},{231,201}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{231,201}}</string>
                <key>sourceSize</key>
                <string>{245,215}</string>
            </dict>
            <key>fishMove_ignot_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,2},{239,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,226}}</string>
                <key>sourceSize</key>
                <string>{239,226}</string>
            </dict>
            <key>fishMove_ignot_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{239,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,226}}</string>
                <key>sourceSize</key>
                <string>{239,226}</string>
            </dict>
            <key>ignot_coin_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,377},{138,145}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,19},{138,145}}</string>
                <key>sourceSize</key>
                <string>{164,185}</string>
            </dict>
            <key>ignot_coin_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,205},{84,165}}</string>
                <key>offset</key>
                <string>{5,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,2},{84,165}}</string>
                <key>sourceSize</key>
                <string>{164,185}</string>
            </dict>
            <key>ignot_coin_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,664},{78,165}}</string>
                <key>offset</key>
                <string>{5,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,1},{78,165}}</string>
                <key>sourceSize</key>
                <string>{164,185}</string>
            </dict>
            <key>ignot_coin_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,829},{92,163}}</string>
                <key>offset</key>
                <string>{6,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,2},{92,163}}</string>
                <key>sourceSize</key>
                <string>{164,185}</string>
            </dict>
            <key>ignot_coin_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,861},{130,157}}</string>
                <key>offset</key>
                <string>{6,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,8},{130,157}}</string>
                <key>sourceSize</key>
                <string>{164,185}</string>
            </dict>
            <key>ignot_coin_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,560},{148,147}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,17},{148,147}}</string>
                <key>sourceSize</key>
                <string>{164,185}</string>
            </dict>
            <key>ignot_coin_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,664},{152,151}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,13},{152,151}}</string>
                <key>sourceSize</key>
                <string>{164,185}</string>
            </dict>
            <key>ignot_coin_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,524},{106,143}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,22},{106,143}}</string>
                <key>sourceSize</key>
                <string>{164,185}</string>
            </dict>
            <key>ignot_coin_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,372},{82,141}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,26},{82,141}}</string>
                <key>sourceSize</key>
                <string>{164,185}</string>
            </dict>
            <key>ignot_coin_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,560},{80,143}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,23},{80,143}}</string>
                <key>sourceSize</key>
                <string>{164,185}</string>
            </dict>
            <key>ignot_coin_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,524},{96,143}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,22},{96,143}}</string>
                <key>sourceSize</key>
                <string>{164,185}</string>
            </dict>
            <key>ignot_coin_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,515},{132,147}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,17},{132,147}}</string>
                <key>sourceSize</key>
                <string>{164,185}</string>
            </dict>
            <key>ignot_coin_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,410},{148,151}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,12},{148,151}}</string>
                <key>sourceSize</key>
                <string>{164,185}</string>
            </dict>
            <key>ignot_coin_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,861},{142,157}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,8},{142,157}}</string>
                <key>sourceSize</key>
                <string>{164,185}</string>
            </dict>
            <key>ignot_coin_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,664},{112,163}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,2},{112,163}}</string>
                <key>sourceSize</key>
                <string>{164,185}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_ignot.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f5dfefc0ced11951ae6395525fed9c4b$</string>
            <key>textureFileName</key>
            <string>fish_ignot.png</string>
        </dict>
    </dict>
</plist>
