<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishMove_020_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,886},{180,440}}</string>
                <key>offset</key>
                <string>{-10,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,16},{180,440}}</string>
                <key>sourceSize</key>
                <string>{216,456}</string>
            </dict>
            <key>fishMove_020_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1334},{192,442}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,14},{192,442}}</string>
                <key>sourceSize</key>
                <string>{216,456}</string>
            </dict>
            <key>fishMove_020_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,1334},{188,442}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,14},{188,442}}</string>
                <key>sourceSize</key>
                <string>{216,456}</string>
            </dict>
            <key>fishMove_020_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,446},{184,442}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,14},{184,442}}</string>
                <key>sourceSize</key>
                <string>{216,456}</string>
            </dict>
            <key>fishMove_020_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,2},{180,440}}</string>
                <key>offset</key>
                <string>{-5,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,16},{180,440}}</string>
                <key>sourceSize</key>
                <string>{216,456}</string>
            </dict>
            <key>fishMove_020_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,886},{182,440}}</string>
                <key>offset</key>
                <string>{-6,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,16},{182,440}}</string>
                <key>sourceSize</key>
                <string>{216,456}</string>
            </dict>
            <key>fishMove_020_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,890},{184,440}}</string>
                <key>offset</key>
                <string>{-7,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,16},{184,440}}</string>
                <key>sourceSize</key>
                <string>{216,456}</string>
            </dict>
            <key>fishMove_020_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,2},{182,440}}</string>
                <key>offset</key>
                <string>{-8,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,16},{182,440}}</string>
                <key>sourceSize</key>
                <string>{216,456}</string>
            </dict>
            <key>fishMove_020_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,1328},{178,440}}</string>
                <key>offset</key>
                <string>{-13,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,16},{178,440}}</string>
                <key>sourceSize</key>
                <string>{216,456}</string>
            </dict>
            <key>fishMove_020_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,444},{180,440}}</string>
                <key>offset</key>
                <string>{-16,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,16},{180,440}}</string>
                <key>sourceSize</key>
                <string>{216,456}</string>
            </dict>
            <key>fishMove_020_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,1328},{180,440}}</string>
                <key>offset</key>
                <string>{-16,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,16},{180,440}}</string>
                <key>sourceSize</key>
                <string>{216,456}</string>
            </dict>
            <key>fishMove_020_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,444},{182,440}}</string>
                <key>offset</key>
                <string>{-13,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,16},{182,440}}</string>
                <key>sourceSize</key>
                <string>{216,456}</string>
            </dict>
            <key>fishMove_020_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,2},{186,440}}</string>
                <key>offset</key>
                <string>{-6,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,16},{186,440}}</string>
                <key>sourceSize</key>
                <string>{216,456}</string>
            </dict>
            <key>fishMove_020_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,890},{194,442}}</string>
                <key>offset</key>
                <string>{-4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,14},{194,442}}</string>
                <key>sourceSize</key>
                <string>{216,456}</string>
            </dict>
            <key>fishMove_020_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{196,442}}</string>
                <key>offset</key>
                <string>{-5,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,14},{196,442}}</string>
                <key>sourceSize</key>
                <string>{216,456}</string>
            </dict>
            <key>fishMove_020_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,446},{194,442}}</string>
                <key>offset</key>
                <string>{-3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,14},{194,442}}</string>
                <key>sourceSize</key>
                <string>{216,456}</string>
            </dict>
            <key>fishMove_021_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,1778},{246,264}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,14},{246,264}}</string>
                <key>sourceSize</key>
                <string>{248,280}</string>
            </dict>
            <key>fishMove_021_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,2},{214,270}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,2},{214,270}}</string>
                <key>sourceSize</key>
                <string>{248,280}</string>
            </dict>
            <key>fishMove_021_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,988},{204,270}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,5},{204,270}}</string>
                <key>sourceSize</key>
                <string>{248,280}</string>
            </dict>
            <key>fishMove_021_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,1770},{198,274}}</string>
                <key>offset</key>
                <string>{-9,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{198,274}}</string>
                <key>sourceSize</key>
                <string>{248,280}</string>
            </dict>
            <key>fishMove_021_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,409},{206,264}}</string>
                <key>offset</key>
                <string>{-12,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,14},{206,264}}</string>
                <key>sourceSize</key>
                <string>{248,280}</string>
            </dict>
            <key>fishMove_021_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1186,2},{210,262}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,14},{210,262}}</string>
                <key>sourceSize</key>
                <string>{248,280}</string>
            </dict>
            <key>fishMove_021_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,988},{226,264}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{226,264}}</string>
                <key>sourceSize</key>
                <string>{248,280}</string>
            </dict>
            <key>fishMove_021_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,716},{224,264}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,11},{224,264}}</string>
                <key>sourceSize</key>
                <string>{248,280}</string>
            </dict>
            <key>fishMove_021_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1778},{218,268}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,6},{218,268}}</string>
                <key>sourceSize</key>
                <string>{248,280}</string>
            </dict>
            <key>fishMove_021_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,716},{206,270}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,6},{206,270}}</string>
                <key>sourceSize</key>
                <string>{248,280}</string>
            </dict>
            <key>fishMove_021_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,2},{214,270}}</string>
                <key>offset</key>
                <string>{-15,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{214,270}}</string>
                <key>sourceSize</key>
                <string>{248,280}</string>
            </dict>
            <key>fishMove_021_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,1737},{216,272}}</string>
                <key>offset</key>
                <string>{-16,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{216,272}}</string>
                <key>sourceSize</key>
                <string>{248,280}</string>
            </dict>
            <key>fishMove_021_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,1328},{222,272}}</string>
                <key>offset</key>
                <string>{-13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{222,272}}</string>
                <key>sourceSize</key>
                <string>{248,280}</string>
            </dict>
            <key>fishMove_021_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,1770},{228,274}}</string>
                <key>offset</key>
                <string>{-10,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{228,274}}</string>
                <key>sourceSize</key>
                <string>{248,280}</string>
            </dict>
            <key>fishMove_021_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,444},{230,270}}</string>
                <key>offset</key>
                <string>{-7,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{230,270}}</string>
                <key>sourceSize</key>
                <string>{248,280}</string>
            </dict>
            <key>fishMove_022_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1756,210},{206,194}}</string>
                <key>offset</key>
                <string>{2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,17},{206,194}}</string>
                <key>sourceSize</key>
                <string>{232,240}</string>
            </dict>
            <key>fishMove_022_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1558,2},{208,196}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,17},{208,196}}</string>
                <key>sourceSize</key>
                <string>{232,240}</string>
            </dict>
            <key>fishMove_022_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1756,2},{206,208}}</string>
                <key>offset</key>
                <string>{-4,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,8},{206,208}}</string>
                <key>sourceSize</key>
                <string>{232,240}</string>
            </dict>
            <key>fishMove_022_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1348,1734},{208,208}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,8},{208,208}}</string>
                <key>sourceSize</key>
                <string>{232,240}</string>
            </dict>
            <key>fishMove_022_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1206,409},{200,200}}</string>
                <key>offset</key>
                <string>{-1,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,7},{200,200}}</string>
                <key>sourceSize</key>
                <string>{232,240}</string>
            </dict>
            <key>fishMove_022_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1541,212},{204,200}}</string>
                <key>offset</key>
                <string>{-3,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,7},{204,200}}</string>
                <key>sourceSize</key>
                <string>{232,240}</string>
            </dict>
            <key>fishMove_022_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1206,611},{200,198}}</string>
                <key>offset</key>
                <string>{-1,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,8},{200,198}}</string>
                <key>sourceSize</key>
                <string>{232,240}</string>
            </dict>
            <key>fishMove_022_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,1254},{232,232}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{232,232}}</string>
                <key>sourceSize</key>
                <string>{232,240}</string>
            </dict>
            <key>fishMove_023_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1756,620},{204,95}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,15},{204,95}}</string>
                <key>sourceSize</key>
                <string>{206,111}</string>
            </dict>
            <key>fishMove_023_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1538,523},{204,97}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,8},{204,97}}</string>
                <key>sourceSize</key>
                <string>{206,111}</string>
            </dict>
            <key>fishMove_023_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1538,414},{204,107}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{204,107}}</string>
                <key>sourceSize</key>
                <string>{206,111}</string>
            </dict>
            <key>fishMove_023_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1538,414},{204,107}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{204,107}}</string>
                <key>sourceSize</key>
                <string>{206,111}</string>
            </dict>
            <key>fishMove_023_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1756,406},{204,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{204,111}}</string>
                <key>sourceSize</key>
                <string>{206,111}</string>
            </dict>
            <key>fishMove_023_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1756,519},{204,99}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{204,99}}</string>
                <key>sourceSize</key>
                <string>{206,111}</string>
            </dict>
            <key>fishMove_023_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1178,1488},{204,111}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,111}}</string>
                <key>sourceSize</key>
                <string>{206,111}</string>
            </dict>
            <key>fishMove_023_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1552,1944},{202,101}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{202,101}}</string>
                <key>sourceSize</key>
                <string>{206,111}</string>
            </dict>
            <key>fishMove_023_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1348,1944},{202,101}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{202,101}}</string>
                <key>sourceSize</key>
                <string>{206,111}</string>
            </dict>
            <key>fishMove_023_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1538,622},{200,109}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{200,109}}</string>
                <key>sourceSize</key>
                <string>{206,111}</string>
            </dict>
            <key>fishMove_023_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1756,717},{200,101}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{200,101}}</string>
                <key>sourceSize</key>
                <string>{206,111}</string>
            </dict>
            <key>fishMove_023_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,1488},{204,111}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,111}}</string>
                <key>sourceSize</key>
                <string>{206,111}</string>
            </dict>
            <key>fishMove_024_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1118,1734},{230,228}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,228}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>fishMove_025_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,274},{130,133}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{130,133}}</string>
                <key>sourceSize</key>
                <string>{130,137}</string>
            </dict>
            <key>fishMove_025_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,274},{130,133}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,133}}</string>
                <key>sourceSize</key>
                <string>{130,137}</string>
            </dict>
            <key>fishMove_025_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,274},{130,133}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,133}}</string>
                <key>sourceSize</key>
                <string>{130,137}</string>
            </dict>
            <key>fishMove_025_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,1602},{130,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{130,133}}</string>
                <key>sourceSize</key>
                <string>{130,137}</string>
            </dict>
            <key>fishMove_025_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1150,274},{128,133}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{128,133}}</string>
                <key>sourceSize</key>
                <string>{130,137}</string>
            </dict>
            <key>fishMove_025_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1408,266},{128,131}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,6},{128,131}}</string>
                <key>sourceSize</key>
                <string>{130,137}</string>
            </dict>
            <key>fishMove_025_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1408,134},{130,131}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{130,131}}</string>
                <key>sourceSize</key>
                <string>{130,137}</string>
            </dict>
            <key>fishMove_025_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1408,2},{130,131}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{130,131}}</string>
                <key>sourceSize</key>
                <string>{130,137}</string>
            </dict>
            <key>fishMove_025_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,1602},{130,133}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{130,133}}</string>
                <key>sourceSize</key>
                <string>{130,137}</string>
            </dict>
            <key>fishMove_025_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1276,1601},{130,131}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{130,131}}</string>
                <key>sourceSize</key>
                <string>{130,137}</string>
            </dict>
            <key>fishMove_025_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1144,1601},{130,131}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{130,131}}</string>
                <key>sourceSize</key>
                <string>{130,137}</string>
            </dict>
            <key>fishMove_025_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1012,1601},{130,131}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,131}}</string>
                <key>sourceSize</key>
                <string>{130,137}</string>
            </dict>
            <key>fishMove_026_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1206,811},{128,116}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{128,116}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>fishMove_026_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1280,266},{126,116}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{126,116}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>fishMove_026_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1408,754},{128,116}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{128,116}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>fishMove_026_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1558,733},{128,116}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{128,116}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>fishMove_026_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1408,636},{128,116}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{128,116}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>fishMove_026_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1408,516},{128,118}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{128,118}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>fishMove_026_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1408,396},{128,118}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{128,118}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_move2.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2d9eb1bccdf4f6a25fd97133117e8f83$</string>
            <key>textureFileName</key>
            <string>fish_move2.png</string>
        </dict>
    </dict>
</plist>
