<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Ice.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,512},{50,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,128}}</string>
                <key>sourceSize</key>
                <string>{50,128}</string>
            </dict>
            <key>Ice_Red.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,512},{50,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,128}}</string>
                <key>sourceSize</key>
                <string>{50,128}</string>
            </dict>
            <key>Reward_Box_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,512},{168,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,168}}</string>
                <key>sourceSize</key>
                <string>{168,168}</string>
            </dict>
            <key>Reward_Box_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,342},{168,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,168}}</string>
                <key>sourceSize</key>
                <string>{168,168}</string>
            </dict>
            <key>Reward_Box_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,342},{168,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,168}}</string>
                <key>sourceSize</key>
                <string>{168,168}</string>
            </dict>
            <key>Reward_Box_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,342},{168,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,168}}</string>
                <key>sourceSize</key>
                <string>{168,168}</string>
            </dict>
            <key>Reward_Box_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,172},{168,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,168}}</string>
                <key>sourceSize</key>
                <string>{168,168}</string>
            </dict>
            <key>Reward_Box_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,172},{168,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,168}}</string>
                <key>sourceSize</key>
                <string>{168,168}</string>
            </dict>
            <key>Reward_Box_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{168,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,168}}</string>
                <key>sourceSize</key>
                <string>{168,168}</string>
            </dict>
            <key>Reward_Box_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,2},{168,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,168}}</string>
                <key>sourceSize</key>
                <string>{168,168}</string>
            </dict>
            <key>Reward_Box_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,2},{168,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,168}}</string>
                <key>sourceSize</key>
                <string>{168,168}</string>
            </dict>
            <key>Reward_Box_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{168,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,168}}</string>
                <key>sourceSize</key>
                <string>{168,168}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>image.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:efc78a6574ac1999a3a608df0bd30775$</string>
            <key>textureFileName</key>
            <string>image.png</string>
        </dict>
    </dict>
</plist>
