<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>fish_lock.png</key>
			<dict>
				<key>frame</key>
				<string>{{220,72},{53,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{53,71}}</string>
				<key>sourceSize</key>
				<string>{53,71}</string>
			</dict>

			<key>fish_lock_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{110,438},{54,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{54,72}}</string>
				<key>sourceSize</key>
				<string>{54,72}</string>
			</dict>

			<key>fish_lock_0_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{219,432},{53,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{53,71}}</string>
				<key>sourceSize</key>
				<string>{53,71}</string>
			</dict>

			<key>fish_lock_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{110,365},{54,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{54,72}}</string>
				<key>sourceSize</key>
				<string>{54,72}</string>
			</dict>

			<key>fish_lock_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{55,0},{54,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{54,72}}</string>
				<key>sourceSize</key>
				<string>{54,72}</string>
			</dict>

			<key>fish_lock_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,438},{54,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{54,72}}</string>
				<key>sourceSize</key>
				<string>{54,72}</string>
			</dict>

			<key>fish_lock_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,365},{54,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{54,72}}</string>
				<key>sourceSize</key>
				<string>{54,72}</string>
			</dict>

			<key>fish_lock_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,292},{54,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{54,72}}</string>
				<key>sourceSize</key>
				<string>{54,72}</string>
			</dict>

			<key>fish_lock_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,219},{54,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{54,72}}</string>
				<key>sourceSize</key>
				<string>{54,72}</string>
			</dict>

			<key>fish_lock_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,146},{54,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{54,72}}</string>
				<key>sourceSize</key>
				<string>{54,72}</string>
			</dict>

			<key>fish_lock_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,73},{54,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{54,72}}</string>
				<key>sourceSize</key>
				<string>{54,72}</string>
			</dict>

			<key>fish_lock_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{219,218},{53,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{53,69}}</string>
				<key>sourceSize</key>
				<string>{53,69}</string>
			</dict>

			<key>fish_lock_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{55,73},{54,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{54,72}}</string>
				<key>sourceSize</key>
				<string>{54,72}</string>
			</dict>

			<key>fish_lock_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{55,438},{54,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{54,72}}</string>
				<key>sourceSize</key>
				<string>{54,72}</string>
			</dict>

			<key>fish_lock_1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{219,288},{53,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{53,71}}</string>
				<key>sourceSize</key>
				<string>{53,71}</string>
			</dict>

			<key>fish_lock_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{110,219},{54,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{54,72}}</string>
				<key>sourceSize</key>
				<string>{54,72}</string>
			</dict>

			<key>fish_lock_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{274,0},{53,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{53,69}}</string>
				<key>sourceSize</key>
				<string>{53,69}</string>
			</dict>

			<key>fish_lock_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{55,292},{54,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{54,72}}</string>
				<key>sourceSize</key>
				<string>{54,72}</string>
			</dict>

			<key>fish_lock_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{110,146},{54,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{54,72}}</string>
				<key>sourceSize</key>
				<string>{54,72}</string>
			</dict>

			<key>fish_lock_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{273,288},{53,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{53,69}}</string>
				<key>sourceSize</key>
				<string>{53,69}</string>
			</dict>

			<key>fish_lock_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,73},{54,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{54,72}}</string>
				<key>sourceSize</key>
				<string>{54,72}</string>
			</dict>

			<key>fish_lock_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,0},{54,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{54,72}}</string>
				<key>sourceSize</key>
				<string>{54,72}</string>
			</dict>

			<key>fish_lock_2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{219,146},{53,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{53,71}}</string>
				<key>sourceSize</key>
				<string>{53,71}</string>
			</dict>

			<key>fish_lock_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{110,0},{54,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{54,72}}</string>
				<key>sourceSize</key>
				<string>{54,72}</string>
			</dict>

			<key>fish_lock_3_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{273,430},{53,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{53,71}}</string>
				<key>sourceSize</key>
				<string>{53,71}</string>
			</dict>

			<key>fish_lock_3_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{327,142},{53,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{53,71}}</string>
				<key>sourceSize</key>
				<string>{53,71}</string>
			</dict>

			<key>fish_lock_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{55,146},{54,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{54,72}}</string>
				<key>sourceSize</key>
				<string>{54,72}</string>
			</dict>

			<key>fish_lock_4_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{220,0},{53,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{53,71}}</string>
				<key>sourceSize</key>
				<string>{53,71}</string>
			</dict>

			<key>fish_lock_4_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{219,360},{53,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{53,71}}</string>
				<key>sourceSize</key>
				<string>{53,71}</string>
			</dict>

			<key>fish_lock_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{54,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{54,72}}</string>
				<key>sourceSize</key>
				<string>{54,72}</string>
			</dict>

			<key>fish_lock_5_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,434},{53,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{53,71}}</string>
				<key>sourceSize</key>
				<string>{53,71}</string>
			</dict>

			<key>fish_lock_5_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,362},{53,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{53,71}}</string>
				<key>sourceSize</key>
				<string>{53,71}</string>
			</dict>

			<key>fish_lock_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{110,292},{54,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{54,72}}</string>
				<key>sourceSize</key>
				<string>{54,72}</string>
			</dict>

			<key>fish_lock_6_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,218},{53,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{53,71}}</string>
				<key>sourceSize</key>
				<string>{53,71}</string>
			</dict>

			<key>fish_lock_6_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,146},{53,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{53,71}}</string>
				<key>sourceSize</key>
				<string>{53,71}</string>
			</dict>

			<key>fish_lock_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{110,73},{54,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{54,72}}</string>
				<key>sourceSize</key>
				<string>{54,72}</string>
			</dict>

			<key>fish_lock_7_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,290},{53,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{53,71}}</string>
				<key>sourceSize</key>
				<string>{53,71}</string>
			</dict>

			<key>fish_lock_7_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{273,358},{53,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{53,71}}</string>
				<key>sourceSize</key>
				<string>{53,71}</string>
			</dict>

			<key>fish_lock_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{55,365},{54,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{54,72}}</string>
				<key>sourceSize</key>
				<string>{54,72}</string>
			</dict>

			<key>fish_lock_8_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{273,216},{53,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{53,71}}</string>
				<key>sourceSize</key>
				<string>{53,71}</string>
			</dict>

			<key>fish_lock_8_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{273,216},{53,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{53,71}}</string>
				<key>sourceSize</key>
				<string>{53,71}</string>
			</dict>

			<key>fish_lock_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{55,219},{54,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{54,72}}</string>
				<key>sourceSize</key>
				<string>{54,72}</string>
			</dict>

			<key>fish_lock_9_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{273,144},{53,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{53,71}}</string>
				<key>sourceSize</key>
				<string>{53,71}</string>
			</dict>

			<key>fish_lock_9_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{274,70},{53,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{53,71}}</string>
				<key>sourceSize</key>
				<string>{53,71}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,512}</string>
			<key>textureFileName</key>
			<string>lock_fish.png</string>
			</dict>
		</dict>
</plist>