<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>28_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{521,365},{253,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1},{253,153}}</string>
				<key>sourceSize</key>
				<string>{253,154}</string>
			</dict>

			<key>28_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1269,381},{251,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{251,216}}</string>
				<key>sourceSize</key>
				<string>{251,216}</string>
			</dict>

			<key>28_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1027,163},{251,217}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{251,217}}</string>
				<key>sourceSize</key>
				<string>{251,217}</string>
			</dict>

			<key>28_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1018,600},{251,217}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{251,217}}</string>
				<key>sourceSize</key>
				<string>{251,217}</string>
			</dict>

			<key>28_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{288,227}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{288,227}}</string>
				<key>sourceSize</key>
				<string>{288,227}</string>
			</dict>

			<key>28_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,228},{286,227}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{286,227}}</string>
				<key>sourceSize</key>
				<string>{286,227}</string>
			</dict>

			<key>28_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,456},{265,206}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{265,206}}</string>
				<key>sourceSize</key>
				<string>{265,206}</string>
			</dict>

			<key>28_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{287,228},{254,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{254,136}}</string>
				<key>sourceSize</key>
				<string>{254,136}</string>
			</dict>

			<key>28_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{255,663},{254,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{254,136}}</string>
				<key>sourceSize</key>
				<string>{254,136}</string>
			</dict>

			<key>28_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,808},{254,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{254,136}}</string>
				<key>sourceSize</key>
				<string>{254,136}</string>
			</dict>

			<key>28_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{266,456},{254,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{254,134}}</string>
				<key>sourceSize</key>
				<string>{254,134}</string>
			</dict>

			<key>28_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,663},{254,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{254,144}}</string>
				<key>sourceSize</key>
				<string>{254,144}</string>
			</dict>

			<key>28_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{255,800},{254,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{254,133}}</string>
				<key>sourceSize</key>
				<string>{254,133}</string>
			</dict>

			<key>28_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{510,591},{254,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{254,133}}</string>
				<key>sourceSize</key>
				<string>{254,133}</string>
			</dict>

			<key>28_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{289,0},{254,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{254,137}}</string>
				<key>sourceSize</key>
				<string>{254,137}</string>
			</dict>

			<key>28_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{765,519},{251,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{251,154}}</string>
				<key>sourceSize</key>
				<string>{251,154}</string>
			</dict>

			<key>28_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{775,290},{251,161}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{251,161}}</string>
				<key>sourceSize</key>
				<string>{251,162}</string>
			</dict>

			<key>28_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{796,0},{251,162}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{251,162}}</string>
				<key>sourceSize</key>
				<string>{251,162}</string>
			</dict>

			<key>28_26.png</key>
			<dict>
				<key>frame</key>
				<string>{{1048,0},{250,162}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{250,162}}</string>
				<key>sourceSize</key>
				<string>{250,162}</string>
			</dict>

			<key>28_27.png</key>
			<dict>
				<key>frame</key>
				<string>{{1018,818},{250,161}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{250,161}}</string>
				<key>sourceSize</key>
				<string>{250,162}</string>
			</dict>

			<key>28_28.png</key>
			<dict>
				<key>frame</key>
				<string>{{1269,818},{250,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{250,156}}</string>
				<key>sourceSize</key>
				<string>{250,157}</string>
			</dict>

			<key>28_29.png</key>
			<dict>
				<key>frame</key>
				<string>{{510,725},{253,206}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{253,206}}</string>
				<key>sourceSize</key>
				<string>{253,206}</string>
			</dict>

			<key>28_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{542,138},{253,151}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{253,151}}</string>
				<key>sourceSize</key>
				<string>{253,151}</string>
			</dict>

			<key>28_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1270,598},{250,157}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{250,157}}</string>
				<key>sourceSize</key>
				<string>{250,157}</string>
			</dict>

			<key>28_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1279,163},{249,147}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{249,147}}</string>
				<key>sourceSize</key>
				<string>{250,147}</string>
			</dict>

			<key>28_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1299,0},{247,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{247,150}}</string>
				<key>sourceSize</key>
				<string>{247,150}</string>
			</dict>

			<key>28_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1017,452},{251,147}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{251,147}}</string>
				<key>sourceSize</key>
				<string>{251,147}</string>
			</dict>

			<key>28_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1017,452},{251,147}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{251,147}}</string>
				<key>sourceSize</key>
				<string>{251,147}</string>
			</dict>

			<key>28_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{764,725},{253,164}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{253,164}}</string>
				<key>sourceSize</key>
				<string>{253,164}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,1024}</string>
			<key>textureFileName</key>
			<string>natra.png</string>
			</dict>
		</dict>
</plist>