<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>water_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1544,516},{512,384}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,384}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>water_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1030,388},{512,384}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,384}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>water_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,1544},{512,384}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,384}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>water_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,1030},{512,384}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,384}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>water_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,516},{512,384}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,384}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>water_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1544},{512,384}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,384}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>water_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1030},{512,384}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,384}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>water_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,516},{512,384}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,384}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>water_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1544,2},{512,384}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,384}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>water_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1030,2},{512,384}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,384}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>water_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,2},{512,384}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,384}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>water_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{512,384}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,384}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>whater.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:41463a63a1efe5882f934c65e1b1c04f:1/1$</string>
            <key>textureFileName</key>
            <string>whater.png</string>
        </dict>
    </dict>
</plist>
