<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>res/CardGame/Poker/allInIcon.png</key>
			<dict>
				<key>frame</key>
				<string>{{559,948},{73,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,20}</string>
			</dict>
			<key>res/CardGame/Poker/bangThongBao.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,632},{383,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{383,59}</string>
			</dict>
			<key>res/CardGame/Poker/betAmount.png</key>
			<dict>
				<key>frame</key>
				<string>{{934,409},{117,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{117,36}</string>
			</dict>
			<key>res/CardGame/Poker/bgBack.png</key>
			<dict>
				<key>frame</key>
				<string>{{568,974},{263,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{263,44}</string>
			</dict>
			<key>res/CardGame/Poker/bgHong.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,920},{479,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{479,41}</string>
			</dict>
			<key>res/CardGame/Poker/bgThanhKeo.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,974},{565,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{565,44}</string>
			</dict>
			<key>res/CardGame/Poker/bigBlindIcon.png</key>
			<dict>
				<key>frame</key>
				<string>{{512,877},{38,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{38,38}</string>
			</dict>
			<key>res/CardGame/Poker/btnBuyInOk.png</key>
			<dict>
				<key>frame</key>
				<string>{{912,731},{187,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{187,57}</string>
			</dict>
			<key>res/CardGame/Poker/btnDongY.png</key>
			<dict>
				<key>frame</key>
				<string>{{413,719},{187,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{187,57}</string>
			</dict>
			<key>res/CardGame/Poker/btnLatBai.png</key>
			<dict>
				<key>frame</key>
				<string>{{727,693},{92,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{92,36}</string>
			</dict>
			<key>res/CardGame/Poker/btnleftBoBai.png</key>
			<dict>
				<key>frame</key>
				<string>{{443,297},{139,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{139,97}</string>
			</dict>
			<key>res/CardGame/Poker/btnLeftBoBaiLight.png</key>
			<dict>
				<key>frame</key>
				<string>{{443,396},{139,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{139,97}</string>
			</dict>
			<key>res/CardGame/Poker/btnLeftDisable.png</key>
			<dict>
				<key>frame</key>
				<string>{{660,787},{140,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,97}</string>
			</dict>
			<key>res/CardGame/Poker/btnLeftLight.png</key>
			<dict>
				<key>frame</key>
				<string>{{759,847},{140,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,97}</string>
			</dict>
			<key>res/CardGame/Poker/btnLeftNormal.png</key>
			<dict>
				<key>frame</key>
				<string>{{413,778},{140,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,97}</string>
			</dict>
			<key>res/CardGame/Poker/btnMinus.png</key>
			<dict>
				<key>frame</key>
				<string>{{901,920},{42,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{42,41}</string>
			</dict>
			<key>res/CardGame/Poker/btnPlus.png</key>
			<dict>
				<key>frame</key>
				<string>{{660,929},{42,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{42,41}</string>
			</dict>
			<key>res/CardGame/Poker/btnRightDisable.png</key>
			<dict>
				<key>frame</key>
				<string>{{607,571},{100,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,54}</string>
			</dict>
			<key>res/CardGame/Poker/btnRightLight.png</key>
			<dict>
				<key>frame</key>
				<string>{{602,719},{100,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,54}</string>
			</dict>
			<key>res/CardGame/Poker/btnRightNormal.png</key>
			<dict>
				<key>frame</key>
				<string>{{602,775},{100,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,54}</string>
			</dict>
			<key>res/CardGame/Poker/buttonHightlight.png</key>
			<dict>
				<key>frame</key>
				<string>{{443,198},{140,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,97}</string>
			</dict>
			<key>res/CardGame/Poker/buyInOtrong.png</key>
			<dict>
				<key>frame</key>
				<string>{{970,974},{44,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,44}</string>
			</dict>
			<key>res/CardGame/Poker/buyInTick.png</key>
			<dict>
				<key>frame</key>
				<string>{{703,929},{39,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{39,41}</string>
			</dict>
			<key>res/CardGame/Poker/callIcon.png</key>
			<dict>
				<key>frame</key>
				<string>{{585,920},{73,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,20}</string>
			</dict>
			<key>res/CardGame/Poker/chienthang-23.png</key>
			<dict>
				<key>frame</key>
				<string>{{833,974},{135,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{135,37}</string>
			</dict>
			<key>res/CardGame/Poker/close_scroll.png</key>
			<dict>
				<key>frame</key>
				<string>{{866,332},{60,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{60,61}</string>
			</dict>
			<key>res/CardGame/Poker/dauKeo.png</key>
			<dict>
				<key>frame</key>
				<string>{{512,778},{79,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{79,78}</string>
			</dict>
			<key>res/CardGame/Poker/dealerchuan.png</key>
			<dict>
				<key>frame</key>
				<string>{{782,409},{133,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{133,150}</string>
			</dict>
			<key>res/CardGame/Poker/dealerIcon.png</key>
			<dict>
				<key>frame</key>
				<string>{{592,877},{34,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,34}</string>
			</dict>
			<key>res/CardGame/Poker/diemAnh.png</key>
			<dict>
				<key>frame</key>
				<string>{{386,632},{382,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{382,59}</string>
			</dict>
			<key>res/CardGame/Poker/diemChin.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,792},{382,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{382,59}</string>
			</dict>
			<key>res/CardGame/Poker/diemLieng.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,853},{382,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{382,59}</string>
			</dict>
			<key>res/CardGame/Poker/diemSap.png</key>
			<dict>
				<key>frame</key>
				<string>{{643,187},{382,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{382,137}</string>
			</dict>
			<key>res/CardGame/Poker/khungavatar_poker.png</key>
			<dict>
				<key>frame</key>
				<string>{{643,1},{341,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{341,184}</string>
			</dict>
			<key>res/CardGame/Poker/logoLieng.png</key>
			<dict>
				<key>frame</key>
				<string>{{765,731},{114,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{114,145}</string>
			</dict>
			<key>res/CardGame/Poker/logoPoker.png</key>
			<dict>
				<key>frame</key>
				<string>{{782,558},{191,171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{191,171}</string>
			</dict>
			<key>res/CardGame/Poker/logoVinPlay.png</key>
			<dict>
				<key>frame</key>
				<string>{{782,187},{150,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,143}</string>
			</dict>
			<key>res/CardGame/Poker/nen_mau_thau.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,731},{410,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{410,59}</string>
			</dict>
			<key>res/CardGame/Poker/nen_sam_co.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,198},{379,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{379,59}</string>
			</dict>
			<key>res/CardGame/Poker/nen_sanh.png</key>
			<dict>
				<key>frame</key>
				<string>{{382,198},{371,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{371,59}</string>
			</dict>
			<key>res/CardGame/Poker/nen_thung_pha_sanh.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{640,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,195}</string>
			</dict>
			<key>res/CardGame/Poker/nen_tu_quy.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,571},{410,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{410,59}</string>
			</dict>
			<key>res/CardGame/Poker/omBai.png</key>
			<dict>
				<key>frame</key>
				<string>{{413,571},{192,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{192,57}</string>
			</dict>
			<key>res/CardGame/Poker/poker112016-04.png</key>
			<dict>
				<key>frame</key>
				<string>{{934,187},{220,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{220,36}</string>
			</dict>
			<key>res/CardGame/Poker/poker112016-07.png</key>
			<dict>
				<key>frame</key>
				<string>{{709,571},{44,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,44}</string>
			</dict>
			<key>res/CardGame/Poker/raiseIcon.png</key>
			<dict>
				<key>frame</key>
				<string>{{482,948},{75,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,22}</string>
			</dict>
			<key>res/CardGame/Poker/sitDown.png</key>
			<dict>
				<key>frame</key>
				<string>{{782,332},{82,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,71}</string>
			</dict>
			<key>res/CardGame/Poker/smallBlindIcon.png</key>
			<dict>
				<key>frame</key>
				<string>{{552,858},{38,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{38,38}</string>
			</dict>
			<key>res/CardGame/Poker/standUp.png</key>
			<dict>
				<key>frame</key>
				<string>{{542,396},{82,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,71}</string>
			</dict>
			<key>res/CardGame/Poker/thanhBet.png</key>
			<dict>
				<key>frame</key>
				<string>{{482,920},{101,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{101,26}</string>
			</dict>
			<key>res/CardGame/Poker/thanhkeobanchoi.png</key>
			<dict>
				<key>frame</key>
				<string>{{409,693},{316,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{316,24}</string>
			</dict>
			<key>res/CardGame/Poker/thanhkeobanchoipoker.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,693},{406,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{406,24}</string>
			</dict>
			<key>res/CardGame/Poker/thanhKeoBuyIn.png</key>
			<dict>
				<key>frame</key>
				<string>{{986,1},{555,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{555,32}</string>
			</dict>
			<key>res/CardGame/Poker/thanhXam.png</key>
			<dict>
				<key>frame</key>
				<string>{{975,558},{414,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{414,32}</string>
			</dict>
			<key>res/CardGame/Poker/xengPoker.png</key>
			<dict>
				<key>frame</key>
				<string>{{944,920},{29,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{29,29}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>PlistPoker.png</string>
			<key>realTextureFileName</key>
			<string>PlistPoker.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>