<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>res/ResourceMenuTab/Mail/bg_supersmaill_mail.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{560,242}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{560,242}</string>
			</dict>
			<key>res/ResourceMenuTab/Mail/bgtab_mail_small.png</key>
			<dict>
				<key>frame</key>
				<string>{{560,0},{931,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{931,103}</string>
			</dict>
			<key>res/ResourceMenuTab/Mail/btn_readmail.png</key>
			<dict>
				<key>frame</key>
				<string>{{663,0},{931,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{931,98}</string>
			</dict>
			<key>res/ResourceMenuTab/Mail/btnBin.png</key>
			<dict>
				<key>frame</key>
				<string>{{761,66},{45,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{45,59}</string>
			</dict>
			<key>res/ResourceMenuTab/Mail/btnClose.png</key>
			<dict>
				<key>frame</key>
				<string>{{843,0},{66,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,66}</string>
			</dict>
			<key>res/ResourceMenuTab/Mail/btnClose_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{761,0},{66,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,66}</string>
			</dict>
			<key>res/ResourceMenuTab/Mail/btnRefresh.png</key>
			<dict>
				<key>frame</key>
				<string>{{843,66},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>res/ResourceMenuTab/Mail/button.png</key>
			<dict>
				<key>frame</key>
				<string>{{478,931},{365,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{365,58}</string>
			</dict>
			<key>res/ResourceMenuTab/Mail/button_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{935,0},{365,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{365,58}</string>
			</dict>
			<key>res/ResourceMenuTab/Mail/IconMail.png</key>
			<dict>
				<key>frame</key>
				<string>{{935,773},{105,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{105,80}</string>
			</dict>
			<key>res/ResourceMenuTab/Mail/IconMail_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{935,878},{105,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{105,80}</string>
			</dict>
			<key>res/ResourceMenuTab/Mail/link_fanpage.png</key>
			<dict>
				<key>frame</key>
				<string>{{376,993},{265,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{265,22}</string>
			</dict>
			<key>res/ResourceMenuTab/Mail/link_group.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,993},{376,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{376,23}</string>
			</dict>
			<key>res/ResourceMenuTab/Mail/link_homepage.png</key>
			<dict>
				<key>frame</key>
				<string>{{791,989},{144,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,19}</string>
			</dict>
			<key>res/ResourceMenuTab/Mail/link_hotro.png</key>
			<dict>
				<key>frame</key>
				<string>{{641,989},{150,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,20}</string>
			</dict>
			<key>res/ResourceMenuTab/Mail/link_new.png</key>
			<dict>
				<key>frame</key>
				<string>{{993,0},{134,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{134,20}</string>
			</dict>
			<key>res/ResourceMenuTab/Mail/maxacnhan.png</key>
			<dict>
				<key>frame</key>
				<string>{{935,365},{221,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{221,50}</string>
			</dict>
			<key>res/ResourceMenuTab/Mail/Title.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,931},{478,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{478,62}</string>
			</dict>
			<key>res/ResourceMenuTab/Mail/xbutton.png</key>
			<dict>
				<key>frame</key>
				<string>{{935,586},{187,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{187,46}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>PlistMail.png</string>
			<key>realTextureFileName</key>
			<string>PlistMail.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>