<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>res/CardGame/CommonResource/BanChoi/bao1a.png</key>
			<dict>
				<key>frame</key>
				<string>{{738,783},{108,161}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,161}</string>
			</dict>
			<key>res/CardGame/CommonResource/BanChoi/bao1b.png</key>
			<dict>
				<key>frame</key>
				<string>{{255,817},{108,161}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{108,161}</string>
			</dict>
			<key>res/CardGame/CommonResource/BanChoi/bg_shape_shadow.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,125},{288,181}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{288,181}</string>
			</dict>
			<key>res/CardGame/CommonResource/BanChoi/bgName.png</key>
			<dict>
				<key>frame</key>
				<string>{{484,719},{96,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{96,45}</string>
			</dict>
			<key>res/CardGame/CommonResource/BanChoi/btn_back_gamebai.png</key>
			<dict>
				<key>frame</key>
				<string>{{660,866},{75,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,76}</string>
			</dict>
			<key>res/CardGame/CommonResource/BanChoi/btn_baosam.png</key>
			<dict>
				<key>frame</key>
				<string>{{855,624},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>
			<key>res/CardGame/CommonResource/BanChoi/btn_boluot_xeng.png</key>
			<dict>
				<key>frame</key>
				<string>{{660,612},{252,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{252,76}</string>
			</dict>
			<key>res/CardGame/CommonResource/BanChoi/btn_cash_gamebai.png</key>
			<dict>
				<key>frame</key>
				<string>{{534,866},{80,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,82}</string>
			</dict>
			<key>res/CardGame/CommonResource/BanChoi/btn_chat_gamebai.png</key>
			<dict>
				<key>frame</key>
				<string>{{660,943},{75,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,76}</string>
			</dict>
			<key>res/CardGame/CommonResource/BanChoi/btn_danhbai_xeng.png</key>
			<dict>
				<key>frame</key>
				<string>{{539,612},{252,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{252,76}</string>
			</dict>
			<key>res/CardGame/CommonResource/BanChoi/btn_exit_room.png</key>
			<dict>
				<key>frame</key>
				<string>{{453,570},{37,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{37,41}</string>
			</dict>
			<key>res/CardGame/CommonResource/BanChoi/btn_faq_gamebai.png</key>
			<dict>
				<key>frame</key>
				<string>{{738,946},{75,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,76}</string>
			</dict>
			<key>res/CardGame/CommonResource/BanChoi/btn_huybao_sam.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,866},{252,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{252,76}</string>
			</dict>
			<key>res/CardGame/CommonResource/BanChoi/btn_toi_trang.png</key>
			<dict>
				<key>frame</key>
				<string>{{418,817},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>
			<key>res/CardGame/CommonResource/BanChoi/btn_xacnhan_endgame.png</key>
			<dict>
				<key>frame</key>
				<string>{{483,951},{175,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{175,51}</string>
			</dict>
			<key>res/CardGame/CommonResource/BanChoi/btn_xepbai_xeng.png</key>
			<dict>
				<key>frame</key>
				<string>{{63,552},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>
			<key>res/CardGame/CommonResource/BanChoi/effectTimePoker.png</key>
			<dict>
				<key>frame</key>
				<string>{{63,308},{128,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,129}</string>
			</dict>
			<key>res/CardGame/CommonResource/BanChoi/icon_bao_sam.png</key>
			<dict>
				<key>frame</key>
				<string>{{453,418},{150,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,41}</string>
			</dict>
			<key>res/CardGame/CommonResource/BanChoi/icon_huy_bao_sam.png</key>
			<dict>
				<key>frame</key>
				<string>{{496,567},{150,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,41}</string>
			</dict>
			<key>res/CardGame/CommonResource/BanChoi/khung_bao_binh.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{560,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{560,122}</string>
			</dict>
			<key>res/CardGame/CommonResource/BanChoi/khung_bao_blue.png</key>
			<dict>
				<key>frame</key>
				<string>{{496,307},{258,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{258,41}</string>
			</dict>
			<key>res/CardGame/CommonResource/BanChoi/khung_bao_gold.png</key>
			<dict>
				<key>frame</key>
				<string>{{966,746},{196,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{196,48}</string>
			</dict>
			<key>res/CardGame/CommonResource/BanChoi/khung_sap_thuong.png</key>
			<dict>
				<key>frame</key>
				<string>{{815,951},{101,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{101,43}</string>
			</dict>
			<key>res/CardGame/CommonResource/BanChoi/labai_xeng52.png</key>
			<dict>
				<key>frame</key>
				<string>{{63,438},{112,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{112,144}</string>
			</dict>
			<key>res/CardGame/CommonResource/BanChoi/logo_bacay.png</key>
			<dict>
				<key>frame</key>
				<string>{{562,279},{203,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{203,109}</string>
			</dict>
			<key>res/CardGame/CommonResource/BanChoi/logo_baicao.png</key>
			<dict>
				<key>frame</key>
				<string>{{767,373},{203,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{203,109}</string>
			</dict>
			<key>res/CardGame/CommonResource/BanChoi/logo_lieng.png</key>
			<dict>
				<key>frame</key>
				<string>{{878,419},{203,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{203,109}</string>
			</dict>
			<key>res/CardGame/CommonResource/BanChoi/logo_maubinh.png</key>
			<dict>
				<key>frame</key>
				<string>{{891,1},{207,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{207,113}</string>
			</dict>
			<key>res/CardGame/CommonResource/BanChoi/logo_maubinha.png</key>
			<dict>
				<key>frame</key>
				<string>{{291,307},{203,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{203,109}</string>
			</dict>
			<key>res/CardGame/CommonResource/BanChoi/logo_poker.png</key>
			<dict>
				<key>frame</key>
				<string>{{539,390},{203,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{203,109}</string>
			</dict>
			<key>res/CardGame/CommonResource/BanChoi/logo_sam_loc.png</key>
			<dict>
				<key>frame</key>
				<string>{{539,501},{203,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{203,109}</string>
			</dict>
			<key>res/CardGame/CommonResource/BanChoi/logo_sam_solo.png</key>
			<dict>
				<key>frame</key>
				<string>{{562,164},{207,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{207,113}</string>
			</dict>
			<key>res/CardGame/CommonResource/BanChoi/logo_tlmn.png</key>
			<dict>
				<key>frame</key>
				<string>{{744,578},{203,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{203,109}</string>
			</dict>
			<key>res/CardGame/CommonResource/BanChoi/logo_tlmn_solo.png</key>
			<dict>
				<key>frame</key>
				<string>{{771,164},{207,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{207,113}</string>
			</dict>
			<key>res/CardGame/CommonResource/BanChoi/logo_xidzach.png</key>
			<dict>
				<key>frame</key>
				<string>{{855,746},{203,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{203,109}</string>
			</dict>
			<key>res/CardGame/CommonResource/BanChoi/logo_xocxoc.png</key>
			<dict>
				<key>frame</key>
				<string>{{886,210},{207,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{207,113}</string>
			</dict>
			<key>res/CardGame/CommonResource/BanChoi/muiten_banchoi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,737},{60,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,65}</string>
			</dict>
			<key>res/CardGame/CommonResource/BanChoi/nen_so_bai.png</key>
			<dict>
				<key>frame</key>
				<string>{{453,609},{36,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,36}</string>
			</dict>
			<key>res/CardGame/CommonResource/BanChoi/ping_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{453,647},{28,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{28,29}</string>
			</dict>
			<key>res/CardGame/CommonResource/BanChoi/ping_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{453,677},{28,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{28,29}</string>
			</dict>
			<key>res/CardGame/CommonResource/BanChoi/ping_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{453,707},{28,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{28,29}</string>
			</dict>
			<key>res/CardGame/CommonResource/BanChoi/ping_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{453,985},{28,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,29}</string>
			</dict>
			<key>res/CardGame/CommonResource/BanChoi/process_baosam.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,985},{319,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{319,24}</string>
			</dict>
			<key>res/CardGame/CommonResource/BanChoi/process_nen_baosam.png</key>
			<dict>
				<key>frame</key>
				<string>{{989,419},{325,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{325,28}</string>
			</dict>
			<key>res/CardGame/CommonResource/BanChoi/viewing.png</key>
			<dict>
				<key>frame</key>
				<string>{{322,985},{129,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,36}</string>
			</dict>
			<key>res/CardGame/CommonResource/BanChoi/x_bao_sam.png</key>
			<dict>
				<key>frame</key>
				<string>{{966,944},{39,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{39,41}</string>
			</dict>
			<key>res/CardGame/CommonResource/BanChoi/chicken_table.png</key>
			<dict>
				<key>frame</key>
				<string>{{291,125},{269,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{269,180}</string>
			</dict>
			<key>res/CardGame/CommonResource/BanChoi/khung_nen_avatar.png</key>
			<dict>
				<key>frame</key>
				<string>{{563,1},{326,161}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{326,161}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>PlistBanChoi.png</string>
			<key>realTextureFileName</key>
			<string>PlistBanChoi.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>