<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_line1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,110}</string>
                <key>spriteSize</key>
                <string>{333,50}</string>
                <key>spriteSourceSize</key>
                <string>{333,332}</string>
                <key>textureRect</key>
                <string>{{346,6},{333,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sp_line10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,44}</string>
                <key>spriteSize</key>
                <string>{325,218}</string>
                <key>spriteSourceSize</key>
                <string>{333,332}</string>
                <key>textureRect</key>
                <string>{{6,213},{325,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sp_line11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-67}</string>
                <key>spriteSize</key>
                <string>{319,198}</string>
                <key>spriteSourceSize</key>
                <string>{333,332}</string>
                <key>textureRect</key>
                <string>{{6,663},{319,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sp_line12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,53}</string>
                <key>spriteSize</key>
                <string>{315,170}</string>
                <key>spriteSourceSize</key>
                <string>{333,332}</string>
                <key>textureRect</key>
                <string>{{669,609},{315,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sp_line13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-61}</string>
                <key>spriteSize</key>
                <string>{315,170}</string>
                <key>spriteSourceSize</key>
                <string>{333,332}</string>
                <key>textureRect</key>
                <string>{{669,609},{315,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sp_line14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,65}</string>
                <key>spriteSize</key>
                <string>{319,170}</string>
                <key>spriteSourceSize</key>
                <string>{333,332}</string>
                <key>textureRect</key>
                <string>{{332,703},{319,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sp_line15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-43}</string>
                <key>spriteSize</key>
                <string>{315,170}</string>
                <key>spriteSourceSize</key>
                <string>{333,332}</string>
                <key>textureRect</key>
                <string>{{658,786},{315,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sp_line16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,53}</string>
                <key>spriteSize</key>
                <string>{315,170}</string>
                <key>spriteSourceSize</key>
                <string>{333,332}</string>
                <key>textureRect</key>
                <string>{{297,963},{315,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sp_line17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-61}</string>
                <key>spriteSize</key>
                <string>{315,170}</string>
                <key>spriteSourceSize</key>
                <string>{333,332}</string>
                <key>textureRect</key>
                <string>{{297,963},{315,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sp_line18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,62}</string>
                <key>spriteSize</key>
                <string>{315,170}</string>
                <key>spriteSourceSize</key>
                <string>{333,332}</string>
                <key>textureRect</key>
                <string>{{619,963},{315,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sp_line19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-49}</string>
                <key>spriteSize</key>
                <string>{315,170}</string>
                <key>spriteSourceSize</key>
                <string>{333,332}</string>
                <key>textureRect</key>
                <string>{{619,963},{315,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sp_line2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{333,50}</string>
                <key>spriteSourceSize</key>
                <string>{333,332}</string>
                <key>textureRect</key>
                <string>{{346,6},{333,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sp_line20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,5}</string>
                <key>spriteSize</key>
                <string>{301,314}</string>
                <key>spriteSourceSize</key>
                <string>{333,332}</string>
                <key>textureRect</key>
                <string>{{685,288},{301,314}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sp_line3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-110}</string>
                <key>spriteSize</key>
                <string>{333,50}</string>
                <key>spriteSourceSize</key>
                <string>{333,332}</string>
                <key>textureRect</key>
                <string>{{346,6},{333,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sp_line4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,4}</string>
                <key>spriteSize</key>
                <string>{313,324}</string>
                <key>spriteSourceSize</key>
                <string>{333,332}</string>
                <key>textureRect</key>
                <string>{{338,383},{313,324}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sp_line5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,0}</string>
                <key>spriteSize</key>
                <string>{313,332}</string>
                <key>spriteSourceSize</key>
                <string>{333,332}</string>
                <key>textureRect</key>
                <string>{{346,63},{313,332}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sp_line6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,66}</string>
                <key>spriteSize</key>
                <string>{333,200}</string>
                <key>spriteSourceSize</key>
                <string>{333,332}</string>
                <key>textureRect</key>
                <string>{{6,6},{333,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sp_line7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,5}</string>
                <key>spriteSize</key>
                <string>{275,290}</string>
                <key>spriteSourceSize</key>
                <string>{333,332}</string>
                <key>textureRect</key>
                <string>{{686,6},{275,290}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sp_line8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{281,284}</string>
                <key>spriteSourceSize</key>
                <string>{333,332}</string>
                <key>textureRect</key>
                <string>{{6,868},{281,284}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sp_line9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-34}</string>
                <key>spriteSize</key>
                <string>{323,218}</string>
                <key>spriteSourceSize</key>
                <string>{333,332}</string>
                <key>textureRect</key>
                <string>{{6,438},{323,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>LineAnMiniSlot.png</string>
            <key>size</key>
            <string>{992,1155}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0b241ed16e14fe910c628ca0498c0b37:fd720ef1953ac53acb23bea7fe401617:a48e6e7b78a7102318ba55436a2c2259$</string>
            <key>textureFileName</key>
            <string>LineAnMiniSlot.png</string>
        </dict>
    </dict>
</plist>
