<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_all.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,80}</string>
                <key>spriteSourceSize</key>
                <string>{152,80}</string>
                <key>textureRect</key>
                <string>{{1179,428},{152,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_all_s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,80}</string>
                <key>spriteSourceSize</key>
                <string>{152,80}</string>
                <key>textureRect</key>
                <string>{{939,475},{152,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_auto.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,80}</string>
                <key>spriteSourceSize</key>
                <string>{152,80}</string>
                <key>textureRect</key>
                <string>{{1142,1069},{152,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_even.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,80}</string>
                <key>spriteSourceSize</key>
                <string>{152,80}</string>
                <key>textureRect</key>
                <string>{{472,886},{152,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_even_s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,80}</string>
                <key>spriteSourceSize</key>
                <string>{152,80}</string>
                <key>textureRect</key>
                <string>{{472,973},{152,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,80}</string>
                <key>spriteSourceSize</key>
                <string>{152,80}</string>
                <key>textureRect</key>
                <string>{{6,1120},{152,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_odd.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,80}</string>
                <key>spriteSourceSize</key>
                <string>{152,80}</string>
                <key>textureRect</key>
                <string>{{93,1120},{152,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_odd_s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,80}</string>
                <key>spriteSourceSize</key>
                <string>{152,80}</string>
                <key>textureRect</key>
                <string>{{180,1120},{152,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_pause.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,80}</string>
                <key>spriteSourceSize</key>
                <string>{152,80}</string>
                <key>textureRect</key>
                <string>{{267,1120},{152,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_reselect.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,80}</string>
                <key>spriteSourceSize</key>
                <string>{152,80}</string>
                <key>textureRect</key>
                <string>{{354,1120},{152,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_reselect_s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,80}</string>
                <key>spriteSourceSize</key>
                <string>{152,80}</string>
                <key>textureRect</key>
                <string>{{441,1060},{152,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_turn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,80}</string>
                <key>spriteSourceSize</key>
                <string>{152,80}</string>
                <key>textureRect</key>
                <string>{{528,1060},{152,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spEffectEarnMoney.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{462,463}</string>
                <key>spriteSourceSize</key>
                <string>{494,495}</string>
                <key>textureRect</key>
                <string>{{709,6},{462,463}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sp_100.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,114}</string>
                <key>spriteSourceSize</key>
                <string>{110,114}</string>
                <key>textureRect</key>
                <string>{{1142,718},{110,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sp_10k.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,114}</string>
                <key>spriteSourceSize</key>
                <string>{110,114}</string>
                <key>textureRect</key>
                <string>{{1142,835},{110,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sp_1k.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,114}</string>
                <key>spriteSourceSize</key>
                <string>{110,114}</string>
                <key>textureRect</key>
                <string>{{1142,952},{110,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sp_big_win.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{692,428}</string>
                <key>spriteSourceSize</key>
                <string>{702,430}</string>
                <key>textureRect</key>
                <string>{{707,587},{692,428}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sp_hu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{398,75}</string>
                <key>spriteSourceSize</key>
                <string>{398,75}</string>
                <key>textureRect</key>
                <string>{{6,1038},{398,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sp_item_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{109,101}</string>
                <key>spriteSourceSize</key>
                <string>{109,105}</string>
                <key>textureRect</key>
                <string>{{823,475},{109,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sp_item_a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{99,103}</string>
                <key>spriteSourceSize</key>
                <string>{109,105}</string>
                <key>textureRect</key>
                <string>{{1179,118},{99,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sp_item_j.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{81,99}</string>
                <key>spriteSourceSize</key>
                <string>{109,105}</string>
                <key>textureRect</key>
                <string>{{1179,228},{81,99}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sp_item_k.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{99,105}</string>
                <key>spriteSourceSize</key>
                <string>{109,105}</string>
                <key>textureRect</key>
                <string>{{1179,6},{99,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sp_item_q.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{93,105}</string>
                <key>spriteSourceSize</key>
                <string>{109,105}</string>
                <key>textureRect</key>
                <string>{{1179,316},{93,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sp_item_wild.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,105}</string>
                <key>spriteSourceSize</key>
                <string>{109,105}</string>
                <key>textureRect</key>
                <string>{{707,475},{109,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sp_jackpot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{696,438}</string>
                <key>spriteSourceSize</key>
                <string>{702,440}</string>
                <key>textureRect</key>
                <string>{{6,6},{696,438}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sp_selected_money_effect.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,124}</string>
                <key>spriteSourceSize</key>
                <string>{124,124}</string>
                <key>textureRect</key>
                <string>{{1142,587},{124,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sp_so_do.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{459,145}</string>
                <key>spriteSourceSize</key>
                <string>{459,153}</string>
                <key>textureRect</key>
                <string>{{6,886},{459,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sp_super_win.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{694,428}</string>
                <key>spriteSourceSize</key>
                <string>{702,430}</string>
                <key>textureRect</key>
                <string>{{6,451},{694,428}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>MainMiniSlot.png</string>
            <key>size</key>
            <string>{1285,1285}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4f7af89d441f2a3b2ff88cdc3b960d6b:30f117677ec5fe1f34ad2c22c54375c9:745f9e143880bbb66d9221ff4341c487$</string>
            <key>textureFileName</key>
            <string>MainMiniSlot.png</string>
        </dict>
    </dict>
</plist>
