<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>res/Minigame/ResSlotBa/btn_tuquay.png</key>
			<dict>
				<key>frame</key>
				<string>{{870,493},{116,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{116,50}</string>
			</dict>
			<key>res/Minigame/ResSlotBa/btn_tuquay_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{870,611},{116,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{116,50}</string>
			</dict>
			<key>res/Minigame/ResSlotBa/btnChonDong.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,403},{116,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{116,50}</string>
			</dict>
			<key>res/Minigame/ResSlotBa/btnChonDong_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{53,403},{116,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{116,50}</string>
			</dict>
			<key>res/Minigame/ResSlotBa/btnQuay.png</key>
			<dict>
				<key>frame</key>
				<string>{{888,107},{135,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{135,73}</string>
			</dict>
			<key>res/Minigame/ResSlotBa/btnQuay_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{888,182},{135,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{135,73}</string>
			</dict>
			<key>res/Minigame/ResSlotBa/closeMinigame.png</key>
			<dict>
				<key>frame</key>
				<string>{{303,467},{54,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{54,56}</string>
			</dict>
			<key>res/Minigame/ResSlotBa/closeMinigame_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{306,403},{54,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,56}</string>
			</dict>
			<key>res/Minigame/ResSlotBa/event_pokerGo.png</key>
			<dict>
				<key>frame</key>
				<string>{{445,1},{366,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{366,129}</string>
			</dict>
			<key>res/Minigame/ResSlotBa/guild.png</key>
			<dict>
				<key>frame</key>
				<string>{{180,403},{61,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,62}</string>
			</dict>
			<key>res/Minigame/ResSlotBa/ItemBlue.png</key>
			<dict>
				<key>frame</key>
				<string>{{922,257},{90,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,75}</string>
			</dict>
			<key>res/Minigame/ResSlotBa/ItemCoBan.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,533},{83,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{83,73}</string>
			</dict>
			<key>res/Minigame/ResSlotBa/ItemGreen.png</key>
			<dict>
				<key>frame</key>
				<string>{{86,521},{75,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,75}</string>
			</dict>
			<key>res/Minigame/ResSlotBa/ItemOrange.png</key>
			<dict>
				<key>frame</key>
				<string>{{922,689},{81,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{81,80}</string>
			</dict>
			<key>res/Minigame/ResSlotBa/ItemPink.png</key>
			<dict>
				<key>frame</key>
				<string>{{105,403},{74,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{74,73}</string>
			</dict>
			<key>res/Minigame/ResSlotBa/ItemWild.png</key>
			<dict>
				<key>frame</key>
				<string>{{163,509},{74,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,73}</string>
			</dict>
			<key>res/Minigame/ResSlotBa/lsgd.png</key>
			<dict>
				<key>frame</key>
				<string>{{239,467},{61,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{61,62}</string>
			</dict>
			<key>res/Minigame/ResSlotBa/sao_vang.png</key>
			<dict>
				<key>frame</key>
				<string>{{105,479},{33,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{33,33}</string>
			</dict>
			<key>res/Minigame/ResSlotBa/SD.png</key>
			<dict>
				<key>frame</key>
				<string>{{888,257},{234,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{234,32}</string>
			</dict>
			<key>res/Minigame/ResSlotBa/shadow_tren.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{442,258}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{442,258}</string>
			</dict>
			<key>res/Minigame/ResSlotBa/showline.png</key>
			<dict>
				<key>frame</key>
				<string>{{140,479},{28,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,28}</string>
			</dict>
			<key>res/Minigame/ResSlotBa/Text_thanglon.png</key>
			<dict>
				<key>frame</key>
				<string>{{813,1},{273,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{273,73}</string>
			</dict>
			<key>res/Minigame/ResSlotBa/time_event.png</key>
			<dict>
				<key>frame</key>
				<string>{{888,1},{116,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,104}</string>
			</dict>
			<key>res/Minigame/ResSlotBa/top.png</key>
			<dict>
				<key>frame</key>
				<string>{{243,403},{61,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,62}</string>
			</dict>
			<key>res/Minigame/ResSlotBa/ChonDong/Number/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{922,334},{97,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,69}</string>
			</dict>
			<key>res/Minigame/ResSlotBa/ChonDong/Number/1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{922,405},{97,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,69}</string>
			</dict>
			<key>res/Minigame/ResSlotBa/ChonDong/Number/10.png</key>
			<dict>
				<key>frame</key>
				<string>{{922,476},{97,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,69}</string>
			</dict>
			<key>res/Minigame/ResSlotBa/ChonDong/Number/10_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{445,132},{97,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,69}</string>
			</dict>
			<key>res/Minigame/ResSlotBa/ChonDong/Number/11.png</key>
			<dict>
				<key>frame</key>
				<string>{{544,132},{97,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,69}</string>
			</dict>
			<key>res/Minigame/ResSlotBa/ChonDong/Number/11_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{643,132},{97,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,69}</string>
			</dict>
			<key>res/Minigame/ResSlotBa/ChonDong/Number/12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,332},{96,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,69}</string>
			</dict>
			<key>res/Minigame/ResSlotBa/ChonDong/Number/12_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{99,332},{96,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,69}</string>
			</dict>
			<key>res/Minigame/ResSlotBa/ChonDong/Number/13.png</key>
			<dict>
				<key>frame</key>
				<string>{{197,332},{96,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,69}</string>
			</dict>
			<key>res/Minigame/ResSlotBa/ChonDong/Number/13_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{295,332},{96,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,69}</string>
			</dict>
			<key>res/Minigame/ResSlotBa/ChonDong/Number/14.png</key>
			<dict>
				<key>frame</key>
				<string>{{742,132},{97,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{97,69}</string>
			</dict>
			<key>res/Minigame/ResSlotBa/ChonDong/Number/14_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{445,203},{97,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,69}</string>
			</dict>
			<key>res/Minigame/ResSlotBa/ChonDong/Number/15.png</key>
			<dict>
				<key>frame</key>
				<string>{{544,203},{97,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,69}</string>
			</dict>
			<key>res/Minigame/ResSlotBa/ChonDong/Number/15_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{643,203},{97,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,69}</string>
			</dict>
			<key>res/Minigame/ResSlotBa/ChonDong/Number/16.png</key>
			<dict>
				<key>frame</key>
				<string>{{742,231},{97,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{97,69}</string>
			</dict>
			<key>res/Minigame/ResSlotBa/ChonDong/Number/16_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{813,276},{97,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{97,69}</string>
			</dict>
			<key>res/Minigame/ResSlotBa/ChonDong/Number/17.png</key>
			<dict>
				<key>frame</key>
				<string>{{434,416},{96,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,69}</string>
			</dict>
			<key>res/Minigame/ResSlotBa/ChonDong/Number/17_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{532,416},{96,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,69}</string>
			</dict>
			<key>res/Minigame/ResSlotBa/ChonDong/Number/18.png</key>
			<dict>
				<key>frame</key>
				<string>{{630,416},{96,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,69}</string>
			</dict>
			<key>res/Minigame/ResSlotBa/ChonDong/Number/18_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{728,429},{96,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{96,69}</string>
			</dict>
			<key>res/Minigame/ResSlotBa/ChonDong/Number/19.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,261},{97,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,69}</string>
			</dict>
			<key>res/Minigame/ResSlotBa/ChonDong/Number/19_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{100,261},{97,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,69}</string>
			</dict>
			<key>res/Minigame/ResSlotBa/ChonDong/Number/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{799,474},{96,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{96,69}</string>
			</dict>
			<key>res/Minigame/ResSlotBa/ChonDong/Number/2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{922,547},{96,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,69}</string>
			</dict>
			<key>res/Minigame/ResSlotBa/ChonDong/Number/20.png</key>
			<dict>
				<key>frame</key>
				<string>{{199,261},{97,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,69}</string>
			</dict>
			<key>res/Minigame/ResSlotBa/ChonDong/Number/20_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{298,261},{97,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,69}</string>
			</dict>
			<key>res/Minigame/ResSlotBa/ChonDong/Number/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{434,487},{96,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,69}</string>
			</dict>
			<key>res/Minigame/ResSlotBa/ChonDong/Number/3_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{532,487},{96,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,69}</string>
			</dict>
			<key>res/Minigame/ResSlotBa/ChonDong/Number/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{438,274},{97,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,69}</string>
			</dict>
			<key>res/Minigame/ResSlotBa/ChonDong/Number/4_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{537,274},{97,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,69}</string>
			</dict>
			<key>res/Minigame/ResSlotBa/ChonDong/Number/5.png</key>
			<dict>
				<key>frame</key>
				<string>{{636,274},{97,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,69}</string>
			</dict>
			<key>res/Minigame/ResSlotBa/ChonDong/Number/5_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{735,330},{97,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{97,69}</string>
			</dict>
			<key>res/Minigame/ResSlotBa/ChonDong/Number/6.png</key>
			<dict>
				<key>frame</key>
				<string>{{806,375},{97,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{97,69}</string>
			</dict>
			<key>res/Minigame/ResSlotBa/ChonDong/Number/6_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{438,345},{97,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,69}</string>
			</dict>
			<key>res/Minigame/ResSlotBa/ChonDong/Number/7.png</key>
			<dict>
				<key>frame</key>
				<string>{{630,487},{96,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,69}</string>
			</dict>
			<key>res/Minigame/ResSlotBa/ChonDong/Number/7_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{728,527},{96,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{96,69}</string>
			</dict>
			<key>res/Minigame/ResSlotBa/ChonDong/Number/8.png</key>
			<dict>
				<key>frame</key>
				<string>{{799,572},{96,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{96,69}</string>
			</dict>
			<key>res/Minigame/ResSlotBa/ChonDong/Number/8_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{922,618},{96,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,69}</string>
			</dict>
			<key>res/Minigame/ResSlotBa/ChonDong/Number/9.png</key>
			<dict>
				<key>frame</key>
				<string>{{537,345},{97,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,69}</string>
			</dict>
			<key>res/Minigame/ResSlotBa/ChonDong/Number/9_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{636,345},{97,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,69}</string>
			</dict>
			<key>res/Minigame/ResSlotBa/ChonDong/btn_loaidong.png</key>
			<dict>
				<key>frame</key>
				<string>{{397,261},{134,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{134,39}</string>
			</dict>
			<key>res/Minigame/ResSlotBa/ChonDong/btn_loaidong_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{393,397},{134,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{134,39}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>PlistPoKeGo.png</string>
			<key>realTextureFileName</key>
			<string>PlistPoKeGo.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>