<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>res/ResourceMenuTab/Shopping/TheDT/inapp.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,373},{225,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{225,156}</string>
			</dict>
			<key>res/ResourceMenuTab/Shopping/TheDT/inAppPurchases.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{225,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{225,184}</string>
			</dict>
			<key>res/ResourceMenuTab/Shopping/TheDT/InternetBanking.png</key>
			<dict>
				<key>frame</key>
				<string>{{228,1},{225,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{225,184}</string>
			</dict>
			<key>res/ResourceMenuTab/Shopping/TheDT/nap_vin.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,187},{225,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{225,184}</string>
			</dict>
			<key>res/ResourceMenuTab/Shopping/TheDT/napvinSMS.png</key>
			<dict>
				<key>frame</key>
				<string>{{228,187},{225,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{225,184}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>PlistTheDT.png</string>
			<key>realTextureFileName</key>
			<string>PlistTheDT.png</string>
			<key>size</key>
			<string>{512,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>512</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>