<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>MenuSlot/animation_slots/Game_Slot_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{190,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,80}</string>
			</dict>
			<key>MenuSlot/animation_slots/Game_Slot_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{193,1},{190,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,80}</string>
			</dict>
			<key>MenuSlot/animation_slots/Game_Slot_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{385,1},{190,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,80}</string>
			</dict>
			<key>MenuSlot/animation_slots/Game_Slot_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{577,1},{190,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,80}</string>
			</dict>
			<key>MenuSlot/animation_slots/Game_Slot_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{769,1},{190,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,80}</string>
			</dict>
			<key>MenuSlot/animation_slots/Game_Slot_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,83},{190,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{190,80}</string>
			</dict>
			<key>MenuSlot/animation_slots/Game_Slot_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,275},{190,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{190,80}</string>
			</dict>
			<key>MenuSlot/animation_slots/Game_Slot_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,467},{190,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{190,80}</string>
			</dict>
			<key>MenuSlot/animation_slots/Game_Slot_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,659},{190,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{190,80}</string>
			</dict>
			<key>MenuSlot/animation_slots/Game_Slot_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,851},{190,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,80}</string>
			</dict>
			<key>MenuSlot/animation_slots/Game_Slot_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,933},{190,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,80}</string>
			</dict>
			<key>MenuSlot/animation_slots/Game_Slot_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{83,83},{190,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{190,80}</string>
			</dict>
			<key>MenuSlot/animation_slots/Game_Slot_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{83,275},{190,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{190,80}</string>
			</dict>
			<key>MenuSlot/animation_slots/Game_Slot_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{83,467},{190,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{190,80}</string>
			</dict>
			<key>MenuSlot/animation_slots/Game_Slot_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{83,659},{190,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{190,80}</string>
			</dict>
			<key>MenuSlot/animation_slots/Game_Slot_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,83},{190,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{190,80}</string>
			</dict>
			<key>MenuSlot/animation_slots/Game_Slot_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,275},{190,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{190,80}</string>
			</dict>
			<key>MenuSlot/animation_slots/Game_Slot_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,467},{190,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{190,80}</string>
			</dict>
			<key>MenuSlot/animation_slots/Game_Slot_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,659},{190,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{190,80}</string>
			</dict>
			<key>MenuSlot/animation_slots/Game_Slot_26.png</key>
			<dict>
				<key>frame</key>
				<string>{{193,851},{190,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,80}</string>
			</dict>
			<key>MenuSlot/animation_slots/Game_Slot_27.png</key>
			<dict>
				<key>frame</key>
				<string>{{193,933},{190,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,80}</string>
			</dict>
			<key>MenuSlot/animation_slots/Game_Slot_28.png</key>
			<dict>
				<key>frame</key>
				<string>{{247,83},{190,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{190,80}</string>
			</dict>
			<key>MenuSlot/animation_slots/Game_Slot_29.png</key>
			<dict>
				<key>frame</key>
				<string>{{247,275},{190,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{190,80}</string>
			</dict>
			<key>MenuSlot/animation_slots/Game_Slot_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{247,467},{190,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{190,80}</string>
			</dict>
			<key>MenuSlot/animation_slots/Game_Slot_30.png</key>
			<dict>
				<key>frame</key>
				<string>{{247,659},{190,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{190,80}</string>
			</dict>
			<key>MenuSlot/animation_slots/Game_Slot_31.png</key>
			<dict>
				<key>frame</key>
				<string>{{329,83},{190,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,80}</string>
			</dict>
			<key>MenuSlot/animation_slots/Game_Slot_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{521,83},{190,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,80}</string>
			</dict>
			<key>MenuSlot/animation_slots/Game_Slot_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{713,83},{190,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,80}</string>
			</dict>
			<key>MenuSlot/animation_slots/Game_Slot_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{905,83},{190,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{190,80}</string>
			</dict>
			<key>MenuSlot/animation_slots/Game_Slot_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{329,165},{190,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,80}</string>
			</dict>
			<key>MenuSlot/animation_slots/Game_Slot_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{521,165},{190,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,80}</string>
			</dict>
			<key>MenuSlot/animation_slots/Game_Slot_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{713,165},{190,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,80}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Plist_slots.png</string>
			<key>realTextureFileName</key>
			<string>Plist_slots.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>