<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>res/MenuSlots/coming_soon.png</key>
			<dict>
				<key>frame</key>
				<string>{{375,1},{161,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{161,55}</string>
			</dict>
			<key>res/MenuSlots/dang_quay_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{193,81},{160,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,52}</string>
			</dict>
			<key>res/MenuSlots/dang_quay_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,83},{160,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,52}</string>
			</dict>
			<key>res/MenuSlots/dung_click.png</key>
			<dict>
				<key>frame</key>
				<string>{{163,83},{88,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{88,28}</string>
			</dict>
			<key>res/MenuSlots/dung_nor.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,137},{88,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,28}</string>
			</dict>
			<key>res/MenuSlots/dung_quay.png</key>
			<dict>
				<key>frame</key>
				<string>{{432,1},{161,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{161,55}</string>
			</dict>
			<key>res/MenuSlots/game_bai.png</key>
			<dict>
				<key>frame</key>
				<string>{{193,1},{180,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,78}</string>
			</dict>
			<key>res/MenuSlots/game_slot.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{190,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,80}</string>
			</dict>
			<key>res/MenuSlots/X2.png</key>
			<dict>
				<key>frame</key>
				<string>{{91,137},{45,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,31}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>PlistMenuSlots.png</string>
			<key>realTextureFileName</key>
			<string>PlistMenuSlots.png</string>
			<key>size</key>
			<string>{488,172}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>488</integer>
			<key>height</key>
			<integer>172</integer>
		</dict>
	</dict>
</plist>