<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>MenuSlot/animation_bai/Game_Bai_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{180,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{180,78}</string>
			</dict>
			<key>MenuSlot/animation_bai/Game_Bai_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,183},{180,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{180,78}</string>
			</dict>
			<key>MenuSlot/animation_bai/Game_Bai_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,365},{180,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,78}</string>
			</dict>
			<key>MenuSlot/animation_bai/Game_Bai_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{81,1},{180,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{180,78}</string>
			</dict>
			<key>MenuSlot/animation_bai/Game_Bai_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{81,183},{180,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{180,78}</string>
			</dict>
			<key>MenuSlot/animation_bai/Game_Bai_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{161,1},{180,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{180,78}</string>
			</dict>
			<key>MenuSlot/animation_bai/Game_Bai_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{161,183},{180,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{180,78}</string>
			</dict>
			<key>MenuSlot/animation_bai/Game_Bai_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{183,365},{180,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,78}</string>
			</dict>
			<key>MenuSlot/animation_bai/Game_Bai_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{241,1},{180,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{180,78}</string>
			</dict>
			<key>MenuSlot/animation_bai/Game_Bai_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{241,183},{180,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{180,78}</string>
			</dict>
			<key>MenuSlot/animation_bai/Game_Bai_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{321,1},{180,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{180,78}</string>
			</dict>
			<key>MenuSlot/animation_bai/Game_Bai_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{321,183},{180,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{180,78}</string>
			</dict>
			<key>MenuSlot/animation_bai/Game_Bai_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{365,365},{180,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,78}</string>
			</dict>
			<key>MenuSlot/animation_bai/Game_Bai_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{401,1},{180,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{180,78}</string>
			</dict>
			<key>MenuSlot/animation_bai/Game_Bai_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{401,183},{180,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{180,78}</string>
			</dict>
			<key>MenuSlot/animation_bai/Game_Bai_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{481,1},{180,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{180,78}</string>
			</dict>
			<key>MenuSlot/animation_bai/Game_Bai_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{481,183},{180,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{180,78}</string>
			</dict>
			<key>MenuSlot/animation_bai/Game_Bai_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{547,365},{180,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,78}</string>
			</dict>
			<key>MenuSlot/animation_bai/Game_Bai_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{729,1},{180,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,78}</string>
			</dict>
			<key>MenuSlot/animation_bai/Game_Bai_26.png</key>
			<dict>
				<key>frame</key>
				<string>{{911,1},{180,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{180,78}</string>
			</dict>
			<key>MenuSlot/animation_bai/Game_Bai_27.png</key>
			<dict>
				<key>frame</key>
				<string>{{561,1},{180,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{180,78}</string>
			</dict>
			<key>MenuSlot/animation_bai/Game_Bai_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{641,1},{180,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{180,78}</string>
			</dict>
			<key>MenuSlot/animation_bai/Game_Bai_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{721,81},{180,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,78}</string>
			</dict>
			<key>MenuSlot/animation_bai/Game_Bai_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{721,161},{180,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,78}</string>
			</dict>
			<key>MenuSlot/animation_bai/Game_Bai_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{561,183},{180,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{180,78}</string>
			</dict>
			<key>MenuSlot/animation_bai/Game_Bai_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{641,183},{180,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{180,78}</string>
			</dict>
			<key>MenuSlot/animation_bai/Game_Bai_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{721,241},{180,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,78}</string>
			</dict>
			<key>MenuSlot/animation_bai/Game_Bai_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{903,183},{180,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{180,78}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Plist_bai.png</string>
			<key>realTextureFileName</key>
			<string>Plist_bai.png</string>
			<key>size</key>
			<string>{1024,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>