<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>res/CardGame/CommonResource/ChonBan/arrowwhite.png</key>
			<dict>
				<key>frame</key>
				<string>{{657,1008},{17,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{17,15}</string>
			</dict>
			<key>res/CardGame/CommonResource/ChonBan/bg_gamename.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,605},{532,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{532,70}</string>
			</dict>
			<key>res/CardGame/CommonResource/ChonBan/bg_quyban.png</key>
			<dict>
				<key>frame</key>
				<string>{{967,677},{341,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{341,52}</string>
			</dict>
			<key>res/CardGame/CommonResource/ChonBan/bt2.png</key>
			<dict>
				<key>frame</key>
				<string>{{657,967},{207,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{207,39}</string>
			</dict>
			<key>res/CardGame/CommonResource/ChonBan/btn_choingay.png</key>
			<dict>
				<key>frame</key>
				<string>{{494,729},{252,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{252,76}</string>
			</dict>
			<key>res/CardGame/CommonResource/ChonBan/btn_chonmuc.png</key>
			<dict>
				<key>frame</key>
				<string>{{976,1},{336,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{336,46}</string>
			</dict>
			<key>res/CardGame/CommonResource/ChonBan/btn_chonmuc_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{976,339},{336,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{336,46}</string>
			</dict>
			<key>res/CardGame/CommonResource/ChonBan/btn_close.png</key>
			<dict>
				<key>frame</key>
				<string>{{572,921},{55,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,55}</string>
			</dict>
			<key>res/CardGame/CommonResource/ChonBan/btn_close_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{226,815},{55,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,55}</string>
			</dict>
			<key>res/CardGame/CommonResource/ChonBan/btn_createRoom.png</key>
			<dict>
				<key>frame</key>
				<string>{{535,605},{236,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{236,62}</string>
			</dict>
			<key>res/CardGame/CommonResource/ChonBan/btn_createRoom_lobby.png</key>
			<dict>
				<key>frame</key>
				<string>{{773,605},{190,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,39}</string>
			</dict>
			<key>res/CardGame/CommonResource/ChonBan/btn_createRoom_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{657,729},{236,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{236,62}</string>
			</dict>
			<key>res/CardGame/CommonResource/ChonBan/btn_find.png</key>
			<dict>
				<key>frame</key>
				<string>{{613,863},{38,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{38,39}</string>
			</dict>
			<key>res/CardGame/CommonResource/ChonBan/btn_moichoi.png</key>
			<dict>
				<key>frame</key>
				<string>{{866,905},{75,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,76}</string>
			</dict>
			<key>res/CardGame/CommonResource/ChonBan/btn_muccuoc.png</key>
			<dict>
				<key>frame</key>
				<string>{{613,729},{132,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{132,32}</string>
			</dict>
			<key>res/CardGame/CommonResource/ChonBan/btn_number_win.png</key>
			<dict>
				<key>frame</key>
				<string>{{773,646},{155,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{155,27}</string>
			</dict>
			<key>res/CardGame/CommonResource/ChonBan/btn_number_win_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{329,782},{155,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{155,27}</string>
			</dict>
			<key>res/CardGame/CommonResource/ChonBan/btn_player_nor.png</key>
			<dict>
				<key>frame</key>
				<string>{{430,933},{46,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,47}</string>
			</dict>
			<key>res/CardGame/CommonResource/ChonBan/btn_player_select.png</key>
			<dict>
				<key>frame</key>
				<string>{{226,872},{46,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,47}</string>
			</dict>
			<key>res/CardGame/CommonResource/ChonBan/btn_refresh.png</key>
			<dict>
				<key>frame</key>
				<string>{{572,729},{190,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{190,39}</string>
			</dict>
			<key>res/CardGame/CommonResource/ChonBan/btn_select_muc.png</key>
			<dict>
				<key>frame</key>
				<string>{{866,729},{91,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,86}</string>
			</dict>
			<key>res/CardGame/CommonResource/ChonBan/btn_select_muc_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{866,817},{91,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,86}</string>
			</dict>
			<key>res/CardGame/CommonResource/ChonBan/btn_thele.png</key>
			<dict>
				<key>frame</key>
				<string>{{866,982},{99,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,39}</string>
			</dict>
			<key>res/CardGame/CommonResource/ChonBan/btn_top.png</key>
			<dict>
				<key>frame</key>
				<string>{{329,933},{99,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,38}</string>
			</dict>
			<key>res/CardGame/CommonResource/ChonBan/btn_vaoban.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,59},{973,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{973,51}</string>
			</dict>
			<key>res/CardGame/CommonResource/ChonBan/btn_vaoban_dis.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,112},{973,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{973,51}</string>
			</dict>
			<key>res/CardGame/CommonResource/ChonBan/btn_vaoban_normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,165},{973,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{973,51}</string>
			</dict>
			<key>res/CardGame/CommonResource/ChonBan/btn_vaoban_xeng.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,218},{973,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{973,51}</string>
			</dict>
			<key>res/CardGame/CommonResource/ChonBan/btn_vin_win.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,875},{223,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{223,27}</string>
			</dict>
			<key>res/CardGame/CommonResource/ChonBan/btn_vin_win_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,904},{223,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{223,27}</string>
			</dict>
			<key>res/CardGame/CommonResource/ChonBan/btn_xephang.png</key>
			<dict>
				<key>frame</key>
				<string>{{721,729},{217,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{217,31}</string>
			</dict>
			<key>res/CardGame/CommonResource/ChonBan/btn_xephang_mid.png</key>
			<dict>
				<key>frame</key>
				<string>{{754,729},{217,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{217,31}</string>
			</dict>
			<key>res/CardGame/CommonResource/ChonBan/btn_xephang_mid_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{787,729},{217,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{217,31}</string>
			</dict>
			<key>res/CardGame/CommonResource/ChonBan/btn_xephang_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{820,729},{217,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{217,31}</string>
			</dict>
			<key>res/CardGame/CommonResource/ChonBan/btnRankVinSelected.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,983},{326,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{326,31}</string>
			</dict>
			<key>res/CardGame/CommonResource/ChonBan/btnRankVinUnselected.png</key>
			<dict>
				<key>frame</key>
				<string>{{329,983},{326,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{326,31}</string>
			</dict>
			<key>res/CardGame/CommonResource/ChonBan/btnRankXuSelected.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,782},{326,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{326,31}</string>
			</dict>
			<key>res/CardGame/CommonResource/ChonBan/btnRankXuUnselected.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,933},{326,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{326,31}</string>
			</dict>
			<key>res/CardGame/CommonResource/ChonBan/check.png</key>
			<dict>
				<key>frame</key>
				<string>{{274,872},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>res/CardGame/CommonResource/ChonBan/imageCenterVinDisabled.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,271},{964,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{964,50}</string>
			</dict>
			<key>res/CardGame/CommonResource/ChonBan/imageCenterVinEnabled.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,677},{964,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{964,50}</string>
			</dict>
			<key>res/CardGame/CommonResource/ChonBan/imageVipVinDisabled.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,397},{964,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{964,50}</string>
			</dict>
			<key>res/CardGame/CommonResource/ChonBan/imageVipVinEnabled.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,449},{964,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{964,50}</string>
			</dict>
			<key>res/CardGame/CommonResource/ChonBan/imageXDVip2Disabled.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,501},{964,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{964,50}</string>
			</dict>
			<key>res/CardGame/CommonResource/ChonBan/imageXDVip2Enabled.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,553},{964,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{964,50}</string>
			</dict>
			<key>res/CardGame/CommonResource/ChonBan/khoa.png</key>
			<dict>
				<key>frame</key>
				<string>{{930,646},{25,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{25,35}</string>
			</dict>
			<key>res/CardGame/CommonResource/ChonBan/sliderBar.png</key>
			<dict>
				<key>frame</key>
				<string>{{274,904},{156,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,16}</string>
			</dict>
			<key>res/CardGame/CommonResource/ChonBan/sliderBar2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,815},{156,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,16}</string>
			</dict>
			<key>res/CardGame/CommonResource/ChonBan/sp_muc_vao_ban.png</key>
			<dict>
				<key>frame</key>
				<string>{{459,811},{120,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{120,23}</string>
			</dict>
			<key>res/CardGame/CommonResource/ChonBan/uncheckbox.png</key>
			<dict>
				<key>frame</key>
				<string>{{283,815},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>res/CardGame/CommonResource/ChonBan/vin.png</key>
			<dict>
				<key>frame</key>
				<string>{{329,811},{63,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{63,62}</string>
			</dict>
			<key>res/CardGame/CommonResource/ChonBan/xu.png</key>
			<dict>
				<key>frame</key>
				<string>{{394,811},{63,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{63,62}</string>
			</dict>
			<key>res/CardGame/CommonResource/ChonBan/imageCenterXuDisabled.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{973,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{973,56}</string>
			</dict>
			<key>res/CardGame/CommonResource/ChonBan/imageCenterXuEnabled.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,339},{973,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{973,56}</string>
			</dict>
			<key>res/CardGame/CommonResource/ChonBan/btn_vin_dis.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,729},{491,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{491,51}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ChonBanPlist.png</string>
			<key>realTextureFileName</key>
			<string>ChonBanPlist.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>