<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>res/GameCo/CoTuong/chieutuong/chieu_tuong.png</key>
			<dict>
				<key>frame</key>
				<string>{{827,1},{334,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{334,156}</string>
			</dict>
			<key>res/GameCo/CoTuong/chieutuong/glow.png</key>
			<dict>
				<key>frame</key>
				<string>{{344,271},{400,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{400,101}</string>
			</dict>
			<key>res/GameCo/CoTuong/chieutuong/kiem.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,836},{97,213}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{97,213}</string>
			</dict>
			<key>res/GameCo/CoTuong/piece/bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{721,660},{65,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{65,66}</string>
			</dict>
			<key>res/GameCo/CoTuong/piece/bm.png</key>
			<dict>
				<key>frame</key>
				<string>{{789,689},{65,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{65,66}</string>
			</dict>
			<key>res/GameCo/CoTuong/piece/bp.png</key>
			<dict>
				<key>frame</key>
				<string>{{721,727},{65,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{65,66}</string>
			</dict>
			<key>res/GameCo/CoTuong/piece/bs.png</key>
			<dict>
				<key>frame</key>
				<string>{{653,728},{65,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{65,66}</string>
			</dict>
			<key>res/GameCo/CoTuong/piece/bt.png</key>
			<dict>
				<key>frame</key>
				<string>{{580,733},{65,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{65,66}</string>
			</dict>
			<key>res/GameCo/CoTuong/piece/bx.png</key>
			<dict>
				<key>frame</key>
				<string>{{857,721},{65,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{65,66}</string>
			</dict>
			<key>res/GameCo/CoTuong/piece/bz.png</key>
			<dict>
				<key>frame</key>
				<string>{{789,756},{65,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{65,66}</string>
			</dict>
			<key>res/GameCo/CoTuong/piece/rg.png</key>
			<dict>
				<key>frame</key>
				<string>{{815,412},{66,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,66}</string>
			</dict>
			<key>res/GameCo/CoTuong/piece/rm.png</key>
			<dict>
				<key>frame</key>
				<string>{{815,480},{66,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,66}</string>
			</dict>
			<key>res/GameCo/CoTuong/piece/rp.png</key>
			<dict>
				<key>frame</key>
				<string>{{815,548},{66,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,66}</string>
			</dict>
			<key>res/GameCo/CoTuong/piece/rs.png</key>
			<dict>
				<key>frame</key>
				<string>{{956,590},{66,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,66}</string>
			</dict>
			<key>res/GameCo/CoTuong/piece/rt.png</key>
			<dict>
				<key>frame</key>
				<string>{{955,658},{66,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,66}</string>
			</dict>
			<key>res/GameCo/CoTuong/piece/rx.png</key>
			<dict>
				<key>frame</key>
				<string>{{653,660},{66,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,66}</string>
			</dict>
			<key>res/GameCo/CoTuong/piece/rz.png</key>
			<dict>
				<key>frame</key>
				<string>{{721,794},{65,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{65,66}</string>
			</dict>
			<key>res/GameCo/CoTuong/popup/khieuchien/bg_vin.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,590},{331,244}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{331,244}</string>
			</dict>
			<key>res/GameCo/CoTuong/popup/khieuchien/bg_xu.png</key>
			<dict>
				<key>frame</key>
				<string>{{334,673},{331,244}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{331,244}</string>
			</dict>
			<key>res/GameCo/CoTuong/popup/khieuchien/close.png</key>
			<dict>
				<key>frame</key>
				<string>{{779,600},{28,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,28}</string>
			</dict>
			<key>res/GameCo/CoTuong/popup/khieuchien/vin_click.png</key>
			<dict>
				<key>frame</key>
				<string>{{883,575},{71,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{71,71}</string>
			</dict>
			<key>res/GameCo/CoTuong/popup/khieuchien/vin_nor.png</key>
			<dict>
				<key>frame</key>
				<string>{{809,616},{71,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{71,71}</string>
			</dict>
			<key>res/GameCo/CoTuong/popup/khieuchien/xu_click.png</key>
			<dict>
				<key>frame</key>
				<string>{{882,648},{71,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{71,71}</string>
			</dict>
			<key>res/GameCo/CoTuong/popup/khieuchien/xu_nor.png</key>
			<dict>
				<key>frame</key>
				<string>{{580,660},{71,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{71,71}</string>
			</dict>
			<key>res/GameCo/CoTuong/popup/bt_dong_y.png</key>
			<dict>
				<key>frame</key>
				<string>{{709,414},{149,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{149,51}</string>
			</dict>
			<key>res/GameCo/CoTuong/popup/bt_khong.png</key>
			<dict>
				<key>frame</key>
				<string>{{762,414},{149,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{149,51}</string>
			</dict>
			<key>res/GameCo/CoTuong/popup/cuon_thu_do.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{479,268}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{479,268}</string>
			</dict>
			<key>res/GameCo/CoTuong/add_user.png</key>
			<dict>
				<key>frame</key>
				<string>{{709,324},{89,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{89,88}</string>
			</dict>
			<key>res/GameCo/CoTuong/avatar.png</key>
			<dict>
				<key>frame</key>
				<string>{{216,836},{104,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,104}</string>
			</dict>
			<key>res/GameCo/CoTuong/back.png</key>
			<dict>
				<key>frame</key>
				<string>{{883,500},{74,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,73}</string>
			</dict>
			<key>res/GameCo/CoTuong/bg_info.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,935},{139,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{139,74}</string>
			</dict>
			<key>res/GameCo/CoTuong/bgChat.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,271},{341,317}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{341,317}</string>
			</dict>
			<key>res/GameCo/CoTuong/bgViewer.png</key>
			<dict>
				<key>frame</key>
				<string>{{482,1},{343,321}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{343,321}</string>
			</dict>
			<key>res/GameCo/CoTuong/chat.png</key>
			<dict>
				<key>frame</key>
				<string>{{975,420},{50,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,45}</string>
			</dict>
			<key>res/GameCo/CoTuong/chatBox.png</key>
			<dict>
				<key>frame</key>
				<string>{{985,163},{206,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{206,29}</string>
			</dict>
			<key>res/GameCo/CoTuong/clock.png</key>
			<dict>
				<key>frame</key>
				<string>{{742,565},{28,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,34}</string>
			</dict>
			<key>res/GameCo/CoTuong/coin_be.png</key>
			<dict>
				<key>frame</key>
				<string>{{300,993},{31,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{31,29}</string>
			</dict>
			<key>res/GameCo/CoTuong/coin_user.png</key>
			<dict>
				<key>frame</key>
				<string>{{985,1},{160,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,38}</string>
			</dict>
			<key>res/GameCo/CoTuong/cuon_giay.png</key>
			<dict>
				<key>frame</key>
				<string>{{468,324},{239,282}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{239,282}</string>
			</dict>
			<key>res/GameCo/CoTuong/dau_quan_den.png</key>
			<dict>
				<key>frame</key>
				<string>{{214,942},{84,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,81}</string>
			</dict>
			<key>res/GameCo/CoTuong/dau_quan_do.png</key>
			<dict>
				<key>frame</key>
				<string>{{886,337},{87,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,84}</string>
			</dict>
			<key>res/GameCo/CoTuong/Help.png</key>
			<dict>
				<key>frame</key>
				<string>{{580,800},{57,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,57}</string>
			</dict>
			<key>res/GameCo/CoTuong/justMove.png</key>
			<dict>
				<key>frame</key>
				<string>{{960,472},{60,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{60,61}</string>
			</dict>
			<key>res/GameCo/CoTuong/kiem.png</key>
			<dict>
				<key>frame</key>
				<string>{{772,565},{33,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{33,26}</string>
			</dict>
			<key>res/GameCo/CoTuong/lastPos.png</key>
			<dict>
				<key>frame</key>
				<string>{{973,726},{45,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,45}</string>
			</dict>
			<key>res/GameCo/CoTuong/lua.png</key>
			<dict>
				<key>frame</key>
				<string>{{447,271},{19,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{19,109}</string>
			</dict>
			<key>res/GameCo/CoTuong/music_off.png</key>
			<dict>
				<key>frame</key>
				<string>{{975,371},{47,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{47,48}</string>
			</dict>
			<key>res/GameCo/CoTuong/music_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{580,859},{44,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{44,49}</string>
			</dict>
			<key>res/GameCo/CoTuong/reqDraw.png</key>
			<dict>
				<key>frame</key>
				<string>{{800,337},{84,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,73}</string>
			</dict>
			<key>res/GameCo/CoTuong/reqLose.png</key>
			<dict>
				<key>frame</key>
				<string>{{142,935},{83,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{83,70}</string>
			</dict>
			<key>res/GameCo/CoTuong/selected.png</key>
			<dict>
				<key>frame</key>
				<string>{{883,423},{75,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,75}</string>
			</dict>
			<key>res/GameCo/CoTuong/send.png</key>
			<dict>
				<key>frame</key>
				<string>{{300,942},{49,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{49,29}</string>
			</dict>
			<key>res/GameCo/CoTuong/sound_off.png</key>
			<dict>
				<key>frame</key>
				<string>{{959,534},{61,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,54}</string>
			</dict>
			<key>res/GameCo/CoTuong/sound_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{648,795},{61,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,54}</string>
			</dict>
			<key>res/GameCo/CoTuong/standup.png</key>
			<dict>
				<key>frame</key>
				<string>{{639,851},{52,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,52}</string>
			</dict>
			<key>res/GameCo/CoTuong/suggest.png</key>
			<dict>
				<key>frame</key>
				<string>{{925,726},{46,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,46}</string>
			</dict>
			<key>res/GameCo/CoTuong/viewerCell.png</key>
			<dict>
				<key>frame</key>
				<string>{{447,608},{330,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{330,50}</string>
			</dict>
			<key>res/GameCo/CoTuong/x.png</key>
			<dict>
				<key>frame</key>
				<string>{{709,565},{34,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{34,31}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>CoTuongPlist.png</string>
			<key>realTextureFileName</key>
			<string>CoTuongPlist.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>