<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bc_bg_dat_tien.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{724,190}</string>
                <key>spriteSourceSize</key>
                <string>{724,190}</string>
                <key>textureRect</key>
                <string>{{315,328},{724,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bc_bg_last_nho.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,58}</string>
                <key>spriteSourceSize</key>
                <string>{58,58}</string>
                <key>textureRect</key>
                <string>{{68,68},{58,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bc_bg_line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{904,63}</string>
                <key>spriteSourceSize</key>
                <string>{904,63}</string>
                <key>textureRect</key>
                <string>{{131,68},{904,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bc_bg_money.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,36}</string>
                <key>spriteSourceSize</key>
                <string>{137,36}</string>
                <key>textureRect</key>
                <string>{{5,5},{137,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bc_bg_normal_nho.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,58}</string>
                <key>spriteSourceSize</key>
                <string>{58,58}</string>
                <key>textureRect</key>
                <string>{{1626,5},{58,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bc_bg_x2_nho.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,58}</string>
                <key>spriteSourceSize</key>
                <string>{58,58}</string>
                <key>textureRect</key>
                <string>{{1563,5},{58,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bc_bg_x3_nho.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,58}</string>
                <key>spriteSourceSize</key>
                <string>{58,58}</string>
                <key>textureRect</key>
                <string>{{1248,5},{58,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bc_btn_agree.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,56}</string>
                <key>spriteSourceSize</key>
                <string>{160,56}</string>
                <key>textureRect</key>
                <string>{{261,5},{160,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bc_btn_bet_money.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,51}</string>
                <key>spriteSourceSize</key>
                <string>{109,51}</string>
                <key>textureRect</key>
                <string>{{147,5},{109,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bc_btn_cancel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,56}</string>
                <key>spriteSourceSize</key>
                <string>{160,56}</string>
                <key>textureRect</key>
                <string>{{426,5},{160,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bc_btn_double.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,56}</string>
                <key>spriteSourceSize</key>
                <string>{160,56}</string>
                <key>textureRect</key>
                <string>{{756,5},{160,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bc_btn_rebet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,56}</string>
                <key>spriteSourceSize</key>
                <string>{160,56}</string>
                <key>textureRect</key>
                <string>{{591,5},{160,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bc_btn_soi_cau.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,79}</string>
                <key>spriteSourceSize</key>
                <string>{78,79}</string>
                <key>textureRect</key>
                <string>{{1235,68},{78,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bc_popup_lich_su_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{229,444}</string>
                <key>spriteSourceSize</key>
                <string>{229,444}</string>
                <key>textureRect</key>
                <string>{{1057,1194},{229,444}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bc_popup_lich_su_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{201,413}</string>
                <key>spriteSourceSize</key>
                <string>{201,413}</string>
                <key>textureRect</key>
                <string>{{851,1194},{201,413}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bc_popup_lich_su_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{229,444}</string>
                <key>spriteSourceSize</key>
                <string>{229,444}</string>
                <key>textureRect</key>
                <string>{{1291,1194},{229,444}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bc_sp_bat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{277,283}</string>
                <key>spriteSourceSize</key>
                <string>{277,283}</string>
                <key>textureRect</key>
                <string>{{5,1194},{277,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bc_sp_bau.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,151}</string>
                <key>spriteSourceSize</key>
                <string>{150,151}</string>
                <key>textureRect</key>
                <string>{{160,328},{150,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bc_sp_bau_nho.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,58}</string>
                <key>spriteSourceSize</key>
                <string>{58,58}</string>
                <key>textureRect</key>
                <string>{{1437,5},{58,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bc_sp_blur.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,134}</string>
                <key>spriteSourceSize</key>
                <string>{134,134}</string>
                <key>textureRect</key>
                <string>{{793,172},{134,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bc_sp_ca.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,151}</string>
                <key>spriteSourceSize</key>
                <string>{150,151}</string>
                <key>textureRect</key>
                <string>{{1397,172},{150,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bc_sp_ca_nho.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,58}</string>
                <key>spriteSourceSize</key>
                <string>{58,58}</string>
                <key>textureRect</key>
                <string>{{5,68},{58,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bc_sp_cua.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,151}</string>
                <key>spriteSourceSize</key>
                <string>{150,151}</string>
                <key>textureRect</key>
                <string>{{1242,172},{150,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bc_sp_cua_nho.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,58}</string>
                <key>spriteSourceSize</key>
                <string>{58,58}</string>
                <key>textureRect</key>
                <string>{{1374,5},{58,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bc_sp_dia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{277,283}</string>
                <key>spriteSourceSize</key>
                <string>{277,283}</string>
                <key>textureRect</key>
                <string>{{569,1194},{277,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bc_sp_ga.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,151}</string>
                <key>spriteSourceSize</key>
                <string>{150,151}</string>
                <key>textureRect</key>
                <string>{{1552,172},{150,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bc_sp_ga_nho.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,58}</string>
                <key>spriteSourceSize</key>
                <string>{58,58}</string>
                <key>textureRect</key>
                <string>{{1311,5},{58,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bc_sp_huou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,151}</string>
                <key>spriteSourceSize</key>
                <string>{150,151}</string>
                <key>textureRect</key>
                <string>{{5,328},{150,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bc_sp_huou_nho.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,58}</string>
                <key>spriteSourceSize</key>
                <string>{58,58}</string>
                <key>textureRect</key>
                <string>{{1185,5},{58,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bc_sp_title_bau_cua.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{471,130}</string>
                <key>spriteSourceSize</key>
                <string>{471,130}</string>
                <key>textureRect</key>
                <string>{{317,172},{471,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bc_sp_tom.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,151}</string>
                <key>spriteSourceSize</key>
                <string>{150,151}</string>
                <key>textureRect</key>
                <string>{{1087,172},{150,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bc_sp_tom_nho.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,58}</string>
                <key>spriteSourceSize</key>
                <string>{58,58}</string>
                <key>textureRect</key>
                <string>{{1500,5},{58,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bc_sp_vao_cua.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,151}</string>
                <key>spriteSourceSize</key>
                <string>{150,151}</string>
                <key>textureRect</key>
                <string>{{932,172},{150,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bc_sp_vong_tron.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{277,283}</string>
                <key>spriteSourceSize</key>
                <string>{277,283}</string>
                <key>textureRect</key>
                <string>{{287,1194},{277,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bc_sp_x2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,65}</string>
                <key>spriteSourceSize</key>
                <string>{93,65}</string>
                <key>textureRect</key>
                <string>{{1040,68},{93,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bc_sp_x3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,67}</string>
                <key>spriteSourceSize</key>
                <string>{92,67}</string>
                <key>textureRect</key>
                <string>{{1138,68},{92,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bc_sp_x4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,57}</string>
                <key>spriteSourceSize</key>
                <string>{83,57}</string>
                <key>textureRect</key>
                <string>{{1009,5},{83,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bc_sp_x6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,57}</string>
                <key>spriteSourceSize</key>
                <string>{83,57}</string>
                <key>textureRect</key>
                <string>{{1097,5},{83,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bc_sp_x9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,57}</string>
                <key>spriteSourceSize</key>
                <string>{83,57}</string>
                <key>textureRect</key>
                <string>{{921,5},{83,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bc_sp_xoc_dia_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{281,223}</string>
                <key>spriteSourceSize</key>
                <string>{281,223}</string>
                <key>textureRect</key>
                <string>{{1435,966},{281,223}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bc_sp_xoc_dia_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{281,223}</string>
                <key>spriteSourceSize</key>
                <string>{281,223}</string>
                <key>textureRect</key>
                <string>{{577,966},{281,223}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bc_sp_xoc_dia_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{281,223}</string>
                <key>spriteSourceSize</key>
                <string>{281,223}</string>
                <key>textureRect</key>
                <string>{{291,966},{281,223}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bc_sp_xoc_dia_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{281,223}</string>
                <key>spriteSourceSize</key>
                <string>{281,223}</string>
                <key>textureRect</key>
                <string>{{5,966},{281,223}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bc_sp_xoc_dia_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{281,223}</string>
                <key>spriteSourceSize</key>
                <string>{281,223}</string>
                <key>textureRect</key>
                <string>{{1440,738},{281,223}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bc_sp_xoc_dia_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{281,223}</string>
                <key>spriteSourceSize</key>
                <string>{281,223}</string>
                <key>textureRect</key>
                <string>{{863,966},{281,223}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bc_sp_xoc_dia_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{281,223}</string>
                <key>spriteSourceSize</key>
                <string>{281,223}</string>
                <key>textureRect</key>
                <string>{{1149,966},{281,223}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bc_sp_xx_bau.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,99}</string>
                <key>spriteSourceSize</key>
                <string>{99,99}</string>
                <key>textureRect</key>
                <string>{{5,172},{99,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bc_sp_xx_ca.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,99}</string>
                <key>spriteSourceSize</key>
                <string>{99,99}</string>
                <key>textureRect</key>
                <string>{{213,172},{99,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bc_sp_xx_cua.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,99}</string>
                <key>spriteSourceSize</key>
                <string>{99,99}</string>
                <key>textureRect</key>
                <string>{{1526,68},{99,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bc_sp_xx_ga.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,99}</string>
                <key>spriteSourceSize</key>
                <string>{99,99}</string>
                <key>textureRect</key>
                <string>{{1422,68},{99,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bc_sp_xx_huou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,99}</string>
                <key>spriteSourceSize</key>
                <string>{99,99}</string>
                <key>textureRect</key>
                <string>{{1318,68},{99,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bc_sp_xx_tom.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,99}</string>
                <key>spriteSourceSize</key>
                <string>{99,99}</string>
                <key>textureRect</key>
                <string>{{109,172},{99,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bc_xx1_bau.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{825,738},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bc_xx1_ca.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1235,738},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bc_xx1_cua.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{620,738},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bc_xx1_ga.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1249,328},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bc_xx1_huou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{210,533},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bc_xx1_tom.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{5,533},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bc_xx2_bau.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{415,533},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bc_xx2_ca.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1454,328},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bc_xx2_cua.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1044,328},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bc_xx2_ga.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{620,533},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bc_xx2_huou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1235,533},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bc_xx2_tom.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{210,738},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bc_xx3_bau.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{5,738},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bc_xx3_ca.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{415,738},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bc_xx3_cua.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1440,533},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bc_xx3_ga.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1030,533},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bc_xx3_huou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{825,533},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bc_xx3_tom.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1030,738},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>MainBauCua.png</string>
            <key>size</key>
            <string>{1726,1726}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cea019a70ea0a91e3272de6f0f620904:408a579dcee8aa9f80aff28fb506be4f:939732f0a34983655934a6422c7312e6$</string>
            <key>textureFileName</key>
            <string>MainBauCua.png</string>
        </dict>
    </dict>
</plist>
