<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>res/Minigame/BauCua/Result/kq_bau1.png</key>
			<dict>
				<key>frame</key>
				<string>{{420,513},{62,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,63}</string>
			</dict>
			<key>res/Minigame/BauCua/Result/kq_bau2.png</key>
			<dict>
				<key>frame</key>
				<string>{{484,513},{62,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,63}</string>
			</dict>
			<key>res/Minigame/BauCua/Result/kq_bau3.png</key>
			<dict>
				<key>frame</key>
				<string>{{465,387},{62,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{62,63}</string>
			</dict>
			<key>res/Minigame/BauCua/Result/kq_ca1.png</key>
			<dict>
				<key>frame</key>
				<string>{{786,387},{62,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{62,63}</string>
			</dict>
			<key>res/Minigame/BauCua/Result/kq_ca2.png</key>
			<dict>
				<key>frame</key>
				<string>{{930,608},{62,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{62,63}</string>
			</dict>
			<key>res/Minigame/BauCua/Result/kq_ca3.png</key>
			<dict>
				<key>frame</key>
				<string>{{819,657},{62,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{62,63}</string>
			</dict>
			<key>res/Minigame/BauCua/Result/kq_cua1.png</key>
			<dict>
				<key>frame</key>
				<string>{{819,721},{62,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{62,63}</string>
			</dict>
			<key>res/Minigame/BauCua/Result/kq_cua2.png</key>
			<dict>
				<key>frame</key>
				<string>{{819,785},{62,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{62,63}</string>
			</dict>
			<key>res/Minigame/BauCua/Result/kq_cua3.png</key>
			<dict>
				<key>frame</key>
				<string>{{819,849},{62,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{62,63}</string>
			</dict>
			<key>res/Minigame/BauCua/Result/kq_ga1.png</key>
			<dict>
				<key>frame</key>
				<string>{{116,905},{62,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,63}</string>
			</dict>
			<key>res/Minigame/BauCua/Result/kq_ga2.png</key>
			<dict>
				<key>frame</key>
				<string>{{180,905},{62,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,63}</string>
			</dict>
			<key>res/Minigame/BauCua/Result/kq_ga3.png</key>
			<dict>
				<key>frame</key>
				<string>{{244,905},{62,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,63}</string>
			</dict>
			<key>res/Minigame/BauCua/Result/kq_huou1.png</key>
			<dict>
				<key>frame</key>
				<string>{{308,905},{62,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,63}</string>
			</dict>
			<key>res/Minigame/BauCua/Result/kq_huou2.png</key>
			<dict>
				<key>frame</key>
				<string>{{372,905},{62,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,63}</string>
			</dict>
			<key>res/Minigame/BauCua/Result/kq_huou3.png</key>
			<dict>
				<key>frame</key>
				<string>{{436,747},{62,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{62,63}</string>
			</dict>
			<key>res/Minigame/BauCua/Result/kq_tom1.png</key>
			<dict>
				<key>frame</key>
				<string>{{501,747},{62,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{62,63}</string>
			</dict>
			<key>res/Minigame/BauCua/Result/kq_tom2.png</key>
			<dict>
				<key>frame</key>
				<string>{{436,811},{62,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{62,63}</string>
			</dict>
			<key>res/Minigame/BauCua/Result/kq_tom3.png</key>
			<dict>
				<key>frame</key>
				<string>{{501,811},{62,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{62,63}</string>
			</dict>
			<key>res/Minigame/BauCua/SoiCau/0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,556},{59,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{59,45}</string>
			</dict>
			<key>res/Minigame/BauCua/SoiCau/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{62,556},{57,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,44}</string>
			</dict>
			<key>res/Minigame/BauCua/SoiCau/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{121,556},{57,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,44}</string>
			</dict>
			<key>res/Minigame/BauCua/SoiCau/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{851,387},{55,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{55,41}</string>
			</dict>
			<key>res/Minigame/BauCua/SoiCau/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{180,555},{57,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,44}</string>
			</dict>
			<key>res/Minigame/BauCua/SoiCau/5.png</key>
			<dict>
				<key>frame</key>
				<string>{{851,444},{55,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{55,41}</string>
			</dict>
			<key>res/Minigame/BauCua/SoiCau/cau_da_ve.png</key>
			<dict>
				<key>frame</key>
				<string>{{239,555},{57,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,44}</string>
			</dict>
			<key>res/Minigame/BauCua/SoiCau/cau_vua_ve.png</key>
			<dict>
				<key>frame</key>
				<string>{{298,555},{57,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,44}</string>
			</dict>
			<key>res/Minigame/BauCua/SoiCau/Click_soi_cau.png</key>
			<dict>
				<key>frame</key>
				<string>{{961,1},{160,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,50}</string>
			</dict>
			<key>res/Minigame/BauCua/SoiCau/Nor_soi_cau.png</key>
			<dict>
				<key>frame</key>
				<string>{{961,163},{160,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,50}</string>
			</dict>
			<key>res/Minigame/BauCua/SoiCau/soicau_x2.png</key>
			<dict>
				<key>frame</key>
				<string>{{786,451},{55,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{55,41}</string>
			</dict>
			<key>res/Minigame/BauCua/SoiCau/soicau_x3.png</key>
			<dict>
				<key>frame</key>
				<string>{{571,597},{55,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{55,41}</string>
			</dict>
			<key>res/Minigame/BauCua/background_item.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,387},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>
			<key>res/Minigame/BauCua/bau.png</key>
			<dict>
				<key>frame</key>
				<string>{{884,672},{113,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{113,114}</string>
			</dict>
			<key>res/Minigame/BauCua/bg_baucua.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{893,384}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{893,384}</string>
			</dict>
			<key>res/Minigame/BauCua/bg_event.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,608},{568,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{568,137}</string>
			</dict>
			<key>res/Minigame/BauCua/bg_phien.png</key>
			<dict>
				<key>frame</key>
				<string>{{896,364},{147,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{147,48}</string>
			</dict>
			<key>res/Minigame/BauCua/bg_select_money.png</key>
			<dict>
				<key>frame</key>
				<string>{{896,1},{361,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{361,63}</string>
			</dict>
			<key>res/Minigame/BauCua/bg_soicau.png</key>
			<dict>
				<key>frame</key>
				<string>{{548,387},{208,236}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{208,236}</string>
			</dict>
			<key>res/Minigame/BauCua/bg_time.png</key>
			<dict>
				<key>frame</key>
				<string>{{961,325},{149,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{149,50}</string>
			</dict>
			<key>res/Minigame/BauCua/button_click.png</key>
			<dict>
				<key>frame</key>
				<string>{{946,476},{130,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,41}</string>
			</dict>
			<key>res/Minigame/BauCua/button_nor.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,513},{130,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,41}</string>
			</dict>
			<key>res/Minigame/BauCua/ca.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,905},{113,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,113}</string>
			</dict>
			<key>res/Minigame/BauCua/cua.png</key>
			<dict>
				<key>frame</key>
				<string>{{117,387},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>
			<key>res/Minigame/BauCua/ga.png</key>
			<dict>
				<key>frame</key>
				<string>{{884,787},{114,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,113}</string>
			</dict>
			<key>res/Minigame/BauCua/Glow.png</key>
			<dict>
				<key>frame</key>
				<string>{{786,513},{142,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{142,142}</string>
			</dict>
			<key>res/Minigame/BauCua/huou.png</key>
			<dict>
				<key>frame</key>
				<string>{{884,902},{114,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{114,113}</string>
			</dict>
			<key>res/Minigame/BauCua/Invisible.png</key>
			<dict>
				<key>frame</key>
				<string>{{233,387},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>
			<key>res/Minigame/BauCua/tom.png</key>
			<dict>
				<key>frame</key>
				<string>{{349,387},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>
			<key>res/Minigame/BauCua/VongTron.png</key>
			<dict>
				<key>frame</key>
				<string>{{571,657},{246,246}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{246,246}</string>
			</dict>
			<key>res/Minigame/BauCua/x2.png</key>
			<dict>
				<key>frame</key>
				<string>{{133,513},{61,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,40}</string>
			</dict>
			<key>res/Minigame/BauCua/x3.png</key>
			<dict>
				<key>frame</key>
				<string>{{196,513},{61,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,40}</string>
			</dict>
			<key>res/Minigame/BauCua/x4.png</key>
			<dict>
				<key>frame</key>
				<string>{{259,513},{61,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,40}</string>
			</dict>
			<key>res/Minigame/BauCua/x6.png</key>
			<dict>
				<key>frame</key>
				<string>{{322,513},{61,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,40}</string>
			</dict>
			<key>res/Minigame/BauCua/x9.png</key>
			<dict>
				<key>frame</key>
				<string>{{357,555},{61,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,40}</string>
			</dict>
			<key>res/Minigame/BauCua/xengdo.png</key>
			<dict>
				<key>frame</key>
				<string>{{465,451},{54,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,54}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>PlistMNBauCua.png</string>
			<key>realTextureFileName</key>
			<string>PlistMNBauCua.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>